<div class="container-fluid" >  
  <div class="content-layout">
    <div class="base-container">
    <div class="row">
    <div class="col-md-10">
      <div class="search">
        <input type="text" class="searchInput" placeholder="Search with email or name" [(ngModel)]='name' (change)="searchMember(name)" >
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-md-2 col-12 ">
      <input type="button" *ngIf="registerStudentBtn" value="Register Student" id="regstubtn1" data-toggle="modal" data-target="#regstubtnpopup">
    </div>
    </div>
      <div *ngIf="noMembers" style="margin-left:25%">
        <p style="padding-left:12%">Oops! there are no Members to Show!</p>
        <img src="../../../assets/images/Puzzle@4x.png">
      </div>
      <div class="col-md-12 asset-scroll" infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"          
                [infiniteScrollContainer]="selector"
                [infiniteScrollDisabled]="scrollDisable"
                [fromRoot]="true"
                [scrollWindow]="false"
                (scrolled)="onScrollDown(name)"
                (scrolledUp)="onUp()">                
      <mat-grid-list cols="5" rowHeight={{rowheight}} [gutterSize]="'30px'" *ngIf="!noMembers">           
        <mat-grid-tile *ngFor="let member of members">
          <div class="memberTile">
              <div class="cardContents">
              <div class="row">
                <div class="colsm-4">
                  <div class="row">
                    <div class="col-sm-4">

                    </div>
                  </div>
                  <br>
                  <br>
                    <img src="../../../assets/img/icons8-student-male-48.png" style="border-radius:50%;background-color: #e0a2a2;margin-left:20px;" > 
                    <br>
                    <br>         
                </div>
                <div class="colsm-8" style="margin-left:20px;">
                    <p>{{member.empid}}</p>                          
                    <p>{{member.name}}</p>
                    <p>{{member.email}}</p>    
                    <p>{{member.department}}</p>
                    <p>Certificates Issued: {{member.assetCount}}</p>   
                    <button *ngIf="canIssue" class="issue-btn" (click)="issueCertificate(member)">Issue Certificate</button>                     
                </div>
              </div>              
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>  
</div>

<!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
  <div class="popup_dialouge poup_edit">
    <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      {{errorMessage}}    
  </form>
  </div>
  </app-dialog>
  
  <!--register student  form-->
  <div class="modal"  [ngStyle]="{'display':reguser}" id="regstubtnpopup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="margin-left:40%">ADD NEW USER</h4>
          <button type="button" class="close" (click)="onCloseHandled()">&times;</button>
        </div>
        <div class="modal-body">
          <form class="dapp-balance" action="" method="post" novalidate [formGroup]="userregform">
            <div class="form-group row">
              <div class="col-6">
                <div class="input-group">
                  <select name="countrycode" formControlName="countrycode" id="country" class="form-control" style="height:30px">
                    <option value="" disabled selected>Country Code</option>
                        <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}} </option>
                  </select>
                </div>
                <div class="input-group"
                *ngIf="userregform.controls.countrycode.invalid && (userregform.controls.countrycode.dirty || userregform.controls.countrycode.touched)">
                <div 
                *ngIf="userregform.controls.countrycode.errors?.required"><span style="color:red">Field Mandatory</span>
            </div>
              </div>
              </div>
              <div class="col-6">
                <div class="input-group">
                  <input formControlName="email" name="email" placeholder="Email" type="email" [(ngModel)]="findemail" class="form-control" required="">
                </div>
                <div 
                *ngIf="userregform.controls.email.invalid && (userregform.controls.email.dirty || userregform.controls.email.touched)">
                <div 
                *ngIf="userregform.controls.email.errors?.email">
                <span style="color:red">Please enter valid Email</span>
              </div>
                <div 
                *ngIf="userregform.controls.email.errors?.required"><span style="color:red">Field Mandatory</span></div>
              
              </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <div class="input-group">
                  <input formControlName="fname" name="fname" placeholder="First Name" type="text" class="form-control">
                </div>
                <div 
                *ngIf="userregform.controls.fname.invalid && (userregform.controls.fname.dirty || userregform.controls.fname.touched)">
                <div 
                *ngIf="userregform.controls.fname.errors?.pattern">
                <span style="color:red">Please enter valid First Name</span>
              </div>
                <div 
                *ngIf="userregform.controls.fname.errors?.required"><span style="color:red">Field Mandatory</span></div>
              
              </div>      
              </div>
              <div class="col-6">
                <div class="input-group">
                  <input formControlName="lname" name="lname" placeholder="Last Name" type="text" class="form-control" required>
                </div>
                <div 
                *ngIf="userregform.controls.lname.invalid && (userregform.controls.lname.dirty || userregform.controls.lname.touched)">
                <div 
                *ngIf="userregform.controls.lname.errors?.pattern">
                <span style="color:red">Please enter valid Last Name</span>
              </div>
                <div 
                *ngIf="userregform.controls.lname.errors?.required"><span style="color:red">Field Mandatory</span></div> 
              </div> 
              </div>
            </div>
            <div class="form-group row" >
              <div class="col-6">
                <div class="input-group">
                  <input formControlName="empid1" name="employeeid" placeholder="Employeeid" type="text" [(ngModel)]="userid1" class="form-control">
                </div>
                <div 
                *ngIf="userregform.controls.empid1.invalid && (userregform.controls.empid1.dirty || userregform.controls.empid1.touched)">
                <div 
                *ngIf="userregform.controls.empid1.errors?.pattern">
                <span style="color:red">Please enter valid ID</span>
              </div>
                <div 
                *ngIf="userregform.controls.empid1.errors?.required"><span style="color:red">Field Mandatory</span></div> 
              </div> 
              </div>
              <div class="col-6" [class.has-error]="">
                <div class="input-group">
                  <input formControlName="adhaar" name="adhaar" placeholder="adhaar" type="text" class="form-control" required>
                </div>
                <div 
                *ngIf="userregform.controls.adhaar.invalid && (userregform.controls.adhaar.dirty || userregform.controls.adhaar.touched)">
                <div 
                *ngIf="userregform.controls.adhaar.errors?.pattern">
                <span style="color:red">Please enter valid identity</span>
              </div>
                <div 
                *ngIf="userregform.controls.adhaar.errors?.required"><span style="color:red">Field Mandatory</span>
              </div> 
              </div> 
            </div>
            </div>
            <div class="form-group row">
              
             <div class="col-6">
                    <select name="department" formControlName="department" id="dep" class="form-control" style="height:30px">
                      <option value="" disabled selected>Department</option>
                      <option *ngFor="let dep of issuerdepartments">{{dep}}</option>
                    </select>
                    <div 
                  *ngIf="userregform.controls.department.invalid && (userregform.controls.department.dirty || userregform.controls.department.touched)">
                  <div 
                  *ngIf="userregform.controls.department.errors?.required"><span style="color:red">Field Mandatory</span>
                </div> 
                </div> 
                  </div>
                  
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="submitbtn" [disabled]="userregform.invalid"  (click)="registeruser(); onCloseHandled();">REGISTER</button>
          <button class="cancelbtn" (click)="onCloseHandled()" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
  </div>
  </div>
  
    
 