.container-fluid{
    font-family: 'Muli';
   font-size: 16px;
   margin-left: 5%;
   }

   .base-container {
    width: 1550px;
    height: 780px;    
    border-radius: 5px;    
    background-color: #fdfdfd;   
   }

   .content-layout {
    width: 1366px;
    height: 768px;
    background-color: #ffffff;
   }
   
   .searchInput {
    width: 20%;
    height: 40px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    margin: 50px 50px 50px 50px;
    color: #626262;
    border-radius: 15px;
    border:2px solid #ccc;
   }
   .search i{
       margin-left:-5%;
       position: relative;
   }

   .issue-btn
   {
       background-color:#fd7e14;
       border:#ffa500;
       color:white;
       border-radius: 10px;
   }

   .memberTile {
    display: inline-block;
    width: 100%;
    height: 100%;    
    border-radius: 15px;
    border: 1px solid #edeef0;
    background: #f5f5f0;    
   }
.asset-scroll{
    height:100%;
    overflow-y: scroll;
    
}
   .memberDetails {
    width: 200px;
    height: 18px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color:#000000;
    text-align: center;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 25px;
   }
      
   .modal-dialog {
    max-width: 25%;
    margin-top: 20%;
    margin-left: 45%;
    font-size:16px;
    }

    .modal-content{
    border-radius: 20px;
    font-size:16px;
    }

    .visuallyhidden {
     display: none;
    }
    #regstubtn1{
        background: orange;
        color: #ffffff;
        border: 1px solid orange;
        border-radius: 10px;
        height: 40px;
    }

    .form-group{
        font-size:16px;
    }
    
    
    
    
    
    .modal-dialog {
        max-width: 30%;
        margin-top: 15%;
        margin-left: 40%;
      }
      .modal-content{
        border-radius: 20px;
      }
      
      
      .modal-header{
        border-bottom: 0px; 
        background: rgb(34, 79, 163);
        border-radius:15px;
      }
      .modal-body{
        padding:6%;
        // margin-top:5%;
      }
      
      
      .modal-footer{
        justify-content: center;
        // padding: 1rem;
      border-top: 0px;
      }
      
      
      .modal-content{
        border: 0px;
          box-shadow: 0 5px 15px rgba(0,0,0,.5); 
      }
      
      
      .submitbtn{
        width: 145px;
      
        height: 36.8px;
      
        border-radius: 10px;
      
        background-color: var(--orange);
      
        font-family: Muli;
      
        font-size: 13px;
      
        font-weight: 900;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.23;
      
        letter-spacing: normal;
      
        text-align: center;
      
        color: var(--white);
      
      }
      
      
      .cancelbtn{
        width: 145px;
      
        height: 36.8px;
      
        border-radius: 10px;
      
        background-color:white;
        font-family: Muli;
      
        font-size: 13px;
      
        font-weight: 900;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.23;
      
        letter-spacing: normal;
      
        text-align: center;
      
        color: black;
      
      }
    
      .modal-title{
        font-family: Muli;
      
        font-size: 15px;
      
        font-weight: 600;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.27;
      
        letter-spacing: normal;
      
        text-align: left;
      
        color: #b4b4b4; 
        margin-left: 25%;
        margin-top: 5%;
       
      }
    
      .form-control
      {
        font-size:16px;
      }
    