<div class="mat-icon-float mat-icon-right" >
<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
   class="menu-list-item" style="width:100% !important;">
  <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
  <span  [ngStyle]="{'width': (300 - depth * 10) + 'px'}">{{item.displayName | uppercase }}</span>
  <span style="width:10% !important;float:right !important" fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon class="mat-icon-float mat-icon-right" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
</div>
<div *ngIf="expanded">
  <app-menu-list-item  (itemChange)='reloadCertificates($event)' *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>