// @import '../theme';
// @import "../../../node_modules/@angular/material/_theming";
:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    // background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
    //   background-color: mat-color($app-primary, 100) !important;
    }
  }
}
.menu-list-item{
color: #7f7f7f !important;
font-size: 14px !important;
font-weight: 400 !important;
}
.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}
