.navbar {
    // background: #4DA1FF;
    background: #1b3764;
    background-color: #1b3764;
    height: 45px;
    text-align: left !important;
    display: flex;
    width: 100% !important
}
.header{
    background: #244985;
    height: 60px;
    position: fixed;
    z-index:100;
    width: 100%;

    
}

.showicon{
  display: none;  
}


@media (max-width: 992px){
    .showicon{
        display: block;  
      }
      
    }
$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.setparam{
    font-size: 24px;
}
#supportbtn{
    border-radius: 10px;
    border: 1px solid #ffffff;
    width:150px;
    height: 40px;
    font-size: 20px;
    font-family: 'Muli';
    background: #ffffff;
    color: #000;
    position: absolute !important;
    float: right;
    margin-left: 75%;
    margin-top: 10px;
    font-weight: 800;
}
.modal-dialog {
    max-width: 25%;
    margin-top: 20%;
    margin-left: 45%;
    font-size:16px;
    }
    .modal-content{
    
    font-size:16px;
    }
    .modal-header{
        border-bottom: 0px; 
        font-size:16px;
        background: rgb(34, 79, 163);
        border-radius:15px;
        }
        .modal-body{
        padding:6%;
        font-size:16px;
        // margin-top:5%;
        }
        
        
        .submitbtn{
        width: 145px;
        
        height: 36.8px;
        
        border-radius: 10px;
        
        background-color: var(--orange);
        
        font-family: Muli;
        
        font-size: 13px;
        
        font-weight: 900;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.23;
        
        letter-spacing: normal;
        
        text-align: center;
        
        color: var(--white);
        
        }
        
        
        .cancelbtn{
        width: 145px;
        
        height: 36.8px;
        
        border-radius: 10px;
        
        background-color:white;
        font-family: Muli;
        
        font-size: 13px;
        
        font-weight: 900;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.23;
        
        letter-spacing: normal;
        
        text-align: center;
        
        color: black;
        
        }
        
        
        .modal-content{
        border: 0px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        font-size:16px; 
        }
        
        .modal-footer{
        justify-content: center;
        // padding: 1rem;
        border-top: 0px;
        font-size:16px;
        }
        
        
        .form-control{
        margin-top:5%;
        font-family: 'Muli';
        font-size: 16px;
        }
        
        
        
        .modal-title{
        font-family: Muli;
        
        font-size: 15px;
        
        font-weight: 600;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.27;
        
        letter-spacing: normal;
        
        text-align: left;
        
        color: #b4b4b4; 
        margin-left: 30%;
        margin-top: 5%;
        font-size:16px;
        
        
        }