<!-- <nav class="navbar">
  <ul class="navbar-nav">
    <img src="../../../../assets/img/belbooks-logo.svg">
  </ul>
</nav> -->
<div style="height:60px;">
<div class="header"><img src="../../../../assets/img/logo 1.png" style="margin-left:1%;width:150px;margin-top:8px;">
  <!-- <input type="button" id="supportbtn" value="support" data-toggle="modal" data-target="#myModal"> -->
  <!-- <button type="button" id="supportbtn" data-toggle="modal" data-target="#myModal"><span><i style="font-size:24px; color: orange" class="fa">&#xf1cd;</i></span>  Support</button> -->
<button class="navbar-toggler" style="margin-top:15px !important;float: right !important" type="button" (click)="toggleSidebar()">
    <!-- <span class="navbar-toggler-icon"></span>  -->
 <i class="fa fa-bars text-muted showicon setparam" aria-hidden="true"></i>
</button>


</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">x</button>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="enter your email">
          </div>
          <div class="form-group">
            <label for="comment">Query:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <form>
            <div class="form-group">
              <select class="form-control" style="height:40px">
                <option selected>Asset Type </option>
                <option></option>
                <option> </option>
              </select>
            </div>
          </form>
          <form>
            <div class="form-group">
              <select class="form-control" style="height:40px">
                <option selected>Dapp Name </option>
                <option>payroll </option>
                <option>certsdapp </option>
              </select>
            </div>
          </form>
        </form>
      </div>
      <div class="modal-footer">
        <button class="submitbtn"  data-dismiss="modal" >SUBMIT</button>
        <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
      </div>
        
      
    </div>
    
  </div>
</div>