<div class="Certificates">
    <div class="row">
        <div class="col-md-3 raisedbox roundBorder">
            <div class="row" style="margin-right:5px !important">
                <div class="col-md-12">
                    <div class="row"
                        style="margin-left:5px !important;padding: 0px !important;color:black; font-size:15px !important; font-weight:900;">
                        Certificates
                    </div>
                    <div class="row"
                        style="overflow-y:scroll !important;overflow-x: hidden !important; margin-left:5px !important;padding:5px !important; border:1px solid; border-color:grey !important;height:600px !important">
                        <div class="col-xl-12">
                            <div class="row"
                                style="vertical-align:top !important;line-height:20px !important; height:20px !important;margin-left:10px !important;padding: 5px !important;font-size:16px !important; font-weight:600;">
                                Departments
                            </div>
                            <div class="row"
                                style="margin-left:10px !important; margin-top:12px !important;width: 99% !important;">
                                <div class="form-group" style="width:100% !important">
                                    <div class="icon-addon addon-md" style="width:100% !important">
                                        <input type="text" placeholder="Search" class="form-control"
                                            [(ngModel)]="depSearch" style="width:100% !important" id="search"
                                            (ngModelChange)="onSearch()" class="search" />
                                        <label for="search" class="glyphicon glyphicon-search PT0" rel="tooltip"
                                            title="Search"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                                style="width: 100% !important;text-align:left !important;vertical-align:top !important;margin-left:0px !important;padding: 1px !important;">
                                <mat-nav-list style="width:100% !important">
                                    <app-menu-list-item (itemChange)="reloadCertificates($event)"
                                        style="width:100% !important" *ngFor="let item of navItemsShow" [item]="item">
                                    </app-menu-list-item>
                                </mat-nav-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="nodepart_selection" class="col-md-8">
            <p class="ZeroCertsText" style="margin-top:20px !important;margin-left:20%;font-size: 24px !important;text-align: center">OOPS!!<br> You haven't select any deparment? </p><br>
            <!-- <img src="../../../assets/images/ZeroCerts.png" style="margin-left:38%; " /> -->
            <!-- <div class="container">
              <input type="button" value="ISSUE CERTIFICATE" style="font-size:16px; color:#ffffff" class="issuecertbtn">
            </div> -->
          </div>
        <div *ngIf="display_zercerts" class="col-md-8">
            <p class="ZeroCertsText" style="margin-top:20px !important;margin-left:20%;font-size: 24px !important;text-align: center">No Certificates to Show </p><br>
            <img src="../../../assets/images/ZeroCerts.png" style="margin-left:38%; " />
            <!-- <div class="container">
              <input type="button" value="ISSUE CERTIFICATE" style="font-size:16px; color:#ffffff" class="issuecertbtn">
            </div> -->
          </div>
        <div class="col-md-8" *ngIf="!nodepart_selection && !display_zercerts">
            <div class="row certHeader"
                style="margin-left:15px !important;padding: 0px !important;color:black; font-size:15px !important; font-weight:900;">
                {{ departmentName | titlecase }}
            </div>
            <div class="row">
                <select [(ngModel)]="statusSel"
                    style="margin-left: 30px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected style="font-size: 15px !important; color:#989898 !important">Status
                    </option>
                    <option *ngFor="let cerStatus of status">{{ cerStatus }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetYear" #item (change)="selectYearChange(item.value)"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Year </option>
                    <option *ngFor="let year of years">{{ year }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetMonth"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Month </option>
                    <option *ngFor="let month of months">{{ month }} </option>
                </select>

                <select [(ngModel)]="selectedIssuer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Issuer </option>
                    <option *ngFor="let issuer of issuerList" [value]="issuer.iid">{{ issuer.email }}
                    </option>
                </select>

                <select [(ngModel)]="selectedAuthorizer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Authorizer </option>
                    <!-- <option *ngFor="let answer of answers; let i = index" [value]="answer.name" [selected]="i == 2">
                                                            {{answer.name}}
                                                        </option> -->
                    <option *ngFor="let authorizer of authorizerList" [value]="authorizer.aid">{{ authorizer.email }}
                    </option>
                </select>
                <button (click)="certSearch()" style="font-size: 12px !important;border-color: #2580db;background-color: #2580db;color:white">Search</button>
            </div>
            <!-- <div class="row certHeader" *ngIf="getDepartment()">
                fdfdfdfdfds{{departmentName}}
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <!-- <mat-grid-list cols="3" rowHeight="200px" > -->
                    <mat-grid-list [cols]="breakpoint" rowHeight="0.6:0.5" (window:resize)="onResize($event)">
                        <mat-grid-tile style="padding: 5px !important;" *ngFor="let item of certs; let i = index">
                            <mat-card class="card">
                                <mat-card-header class="cardheader"
                                    [ngStyle]="{ 'background-color': getColor(item.status) }">
                                    <!-- <img mat-card-image src="thumbnails/{{file.filename.split('.')[0]}}.png"> -->
                                </mat-card-header>
                                <mat-card-content>
                                        <div class="carddetails" *ngFor='let key of totslcertKeys[i]'>
                                                <span class="col-lg-4 col-md-4" style="padding-left: 0px !important;padding-right: 0px !important">{{key | titlecase}}:</span>
                                                <span class="col-lg-8 col-md-8 cardtext">{{item[key] }}</span>
                                            </div>
                                      <!-- <div class="carddetails">
                                        <span class="col-lg-4 col-md-4" style="padding-left: 0px !important">Id:</span>
                                        <span class="col-lg-8 col-md-8 cardtext">{{ item.id }}</span>
                                    </div>
                                    <div class="carddetails">
                                        <span class="col-lg-4 col-md-4" style="padding-left: 0px !important">Degree:</span>
                                        <span class="col-lg-8 col-md-8 cardtext">{{ item.degree }}</span>
                                    </div>
                                    <div class="carddetails">
                                        <span class="col-lg-4 col-md-4" style="padding-left: 0px !important">Topic:</span>
                                        <span class="col-lg-8 col-md-8 cardtext">{{ item.title }}</span>
                                    </div>
                                    <div class="carddetails">
                                        <span class="col-lg-4 col-md-4" style="padding-left: 0px !important">Date:</span>
                                        <span class="col-lg-8 col-md-8 cardtext">{{ item.date  | date: "yyyy-MM-dd HH:mm:ss"}}</span>
                                    </div>
                                    <div class="carddetails">
                                        <span class="col-lg-4 col-md-4" style="padding-left: 0px !important">Status:</span>
                                        <span class="col-lg-8 col-md-8 cardtext">{{ item.status }}</span>
                                    </div> -->
                                </mat-card-content>
                                <mat-card-actions style="text-align: center !important">

                                    <button type="button" class="btn popoverbtn" container="body" placement="bottom"[ngbPopover]="projectPopup"  (mouseover)="getViewDetails(item.id)"
                                    (clickOutside)="p.close()" triggers="mouseenter:mouseleave"  popoverClass="increase-popover-width" #p="ngbPopover" >
                                        View Details
                                    </button>
                                  
                                </mat-card-actions>
                                <!-- </mat-card-footer> -->
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>  
                    <ng-template #projectPopup >
                        <div class="m-0 p-2"
                            style="font-size:12px !important;width:600px !important;margin-right:10px !important;margin-left:10px !important;padding:10px !important">
                            <div class="row PB5">
                                <span>Sign:&nbsp;{{certDetails["sign"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Public key:&nbsp;{{certDetails["publickey"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Trans Id:&nbsp;{{certDetails["transactionId"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Issued By:&nbsp;{{certDetails["issuedby"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='issued'" class="row PB5">
                                <span>Authorized By&nbsp;{{certDetails["verifiedby"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Issued To:{{certDetails["issuedto"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                <span>Rejected By:&nbsp;{{certDetails["rejectedby"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                <span>Rejected Comment:&nbsp;{{certDetails["comment"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Doc Hash:&nbsp;{{certDetails["hash"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Date and Time:&nbsp;{{certDetails["timestampp"]}}</span>
                            </div>
                        </div>
                    </ng-template>               
                </div>
            </div>

            <!-- <ng-template #popContent class="popover" >
                <div class="row">
                    <span>Sign:</span><br>
                    <span>Public key</span><br>
                    <span>Trans Id</span><br>
                    <span>Issued By</span><br>
                    <span>Authorized By</span><br>
                    <span>Issued To</span><br>
                    <span>Doc Hash</span><br>
                    <span>Date and Time</span><br>
                </div>

            </ng-template> -->
        </div>
    </div>
   
</div>
<!-- </div>
</div> -->