.Certificates{
    margin-left: 100px !important;
    margin-right: 20px !important;
    font-family: 'Muli';
    font-size: 16px;
    height:85vh;    
}
.search-icon {
    position: absolute;
    top: 10%;
    left: 35px;
    margin-top: -20px;
    color: lightgray !important;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .certHeader{
     margin-left:20px !important;
     
 }

.card {
    // flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    height:90% !important;
    width:90% !important;
  //  width:206px !important;
   /// margin-top: 10px !important;
     position: absolute;
     top: 5px;
     justify-content: center;
     left: 15px !important;
     right: 10px !important;
     bottom: 5px !important;
    // max-width: 150px;
    // min-width: 150px;
}

.carddetails{
    font-family: 'Muli', sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 16px;
// padding-left: 10px !important;
margin-bottom: 10px !important;
// padding-right: 10px !important;
}
.cardtext{
margin-bottom: 10px !important;
color: black;
font-weight: 500 !important;
}
.cardheader{
    float:right !important;
    background-color:red; 
    width:10% !important;
    padding:2px !important; 
    margin-top:-16px !important;
    margin-right: -16px !important
}
.carditem {
   flex: 1 0 calc(53.3% - 32px);
    box-sizing: border-box;
    margin: 1rem .25em;
    height:174px !important;
    width:206px !important;
    margin-top: 10px !important;
     position: relative;
     top: 15px;
     justify-content: center;
    // left: 15px;
    // right: 15px;
    // bottom: 15px;
    // max-width: 150px;
    // min-width: 150px;
}
.newIssueContent{
    line-height: 18px !important;
    font-size: 14px !important;
    font-weight: 500;
    color: #656565 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    text-align: center !important;
    
}
.certificate-card{
    max-width: 300px;
    margin: 4px
}

.certificate-card-content{
    justify-content: center !important;
}
.newcertClass{
 width:40px !important;
 height:40px !important;
}

.md-select {
    background-color: white;   
    color: black;
    font-size:14px !important;
    border : 1px solid #666666;

}

select {
    text-align: center;
    font-size:14px !important;
    text-align-last: center;
  }
  option {
    text-align: left;
  }

//   a:link, a:visited {
//     // background-color: #f44336;
//     font-family: muli;
//     font-size: 11px;
//     font-weight: 300;
//     color: #656565 !important;
//     // padding: 14px 25px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//   }

.Certificates .popover {
    /* add styles here */
    width:300px !important;
    font-size: 14px !important;
}
.popover {
    max-width: none !important;
}

.increase-popover-width {
    // max-width: 500px !important;
    width: 650px !important;
    background: aliceblue;
    font-size: 12px;
 }

.popoverbtn{
background: transparent !important;
font-size:14px !important;
padding-bottom: 0px !important;
}

.PB5{
    padding-bottom: 5px !important;
}
.search{
    font-size: 12px !important;
    padding-left: 30px !important;
    
}
.PT0{
    padding-top: 3px !important;
}

.nopadding{
    padding: 0px;
}
.raisedbox { 
	padding: 10px;
    border: 1px solid #77aaff;
    border-radius: 8px;
	box-shadow:  -1px 1px #77aaff,
		 -2px 2px #77aaff,
		 -3px 3px #77aaff,
		 -4px 4px #77aaff,
		 -5px 5px #77aaff;
}
.stat-green{
    background-color:green; 
    width:2%;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
    // margin-left: 56%;
    
}
.stat-red
{
    background-color:red; 
    width:2%;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
//    margin-left: 15px
}
.stat-or
{
    background-color:orange; 
    width:2%;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
    margin-left: 5px
    
}
.stat-yel
{
    background-color:yellow; 
    width:2%;
    border-radius: 2px;
    height: 5px;
    margin-top: 5px;
    // margin-left: 15px

}
.certsize
{
    font-size: 12px;
    font-weight: 100 !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
}
.ZeroCertsText{
    font-size: 24px !important;
}
.nodata{
height:85vh;
}
.contentCentered {
    text-align: center;
  }
  
  .contentCentered::before {
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -.25em; /* Adjusts for spacing */
  }
  
  .contentCentered > * {
    display: inline-block;
    vertical-align: middle;
  }
  .asset-scroll{
    height:70vh;
    overflow-y: scroll;
  }

  @media (max-width: 750px){
    .Certificates{
        margin-left: 10px !important;
        margin-right: 10px !important;
        height:145vh !important; 
        max-width: 300px !important;       
        //overflow-y: scroll;
    }

}



@media (max-width: 750px){
    // .certborder{
    //     height:30vh;       
        
    //   }
    }

@media (max-width: 750px){
.asset-scroll{
    height:140vh;
    overflow-y: scroll;
  }
}


@media (max-width: 920px){
    .Certificates{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media (max-width: 920px){
.ZeroCertsText{
    font-size: 18px !important;
}
}
@media (max-width: 1020px){
    .Certificates{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media (max-width: 750px){
    .rightside.certificate_sec {
        margin-top: 30px;
    }
    
}
@media (min-width: 576px){
    #add-authorizer .modal-dialog {
        max-width: 350px;
        margin: 3.75rem auto;
    }
}
@media (min-width: 576px){
    #recieve .modal-dialog {
        max-width: 350px;
        margin: 3.75rem auto;
    }
}
@media (min-width: 576px){
    #wallet_onload .modal-dialog {
        max-width: 350px;
        margin: 3.75rem auto;
    }
}
@media (min-width: 576px){
    #register_pop .modal-dialog {
        max-width: 450px;
        margin: 3.75rem auto;
    }
}
@media (min-width: 576px){
    #dapp .modal-dialog {
        max-width: 350px;
        margin: 3.75rem auto;
    }
}
@media (min-width: 576px){
    #reg-dapp .modal-dialog {
        max-width: 350px;
        margin: 3.75rem auto;
    }
}
@media(min-width: 1280px){
    .certificate .card ul.nav>li{        
      width: 24%;
    }
}
#container {
    display: flex;
    width: 98%;
    padding: 15px;
    //background: lightgrey;
    box-sizing: border-box;
    margin-left: 80px !important;
    margin-right: 10px !important;
    height: 88vh;
}

#fixed-width {
    width: 300px;
    height: 80vh;
    margin-right: 10px;
    //background: blue;
}

#flexible-width {
    flex: 1; /* my goal is that the width always fills up independent of browser width */
    height: 80vh;
    //background: red;
}
.flex-container{
    width: 94%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}
.flex-container .column{
    padding: 10px;
    background: #dbdfe5;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}
.flex-container .column.bg-alt{
    background: #b4bac0;
}

@media (max-width: 750px){
    #container{
        margin-left: -10px !important;
        display: flex;
        width: 108%;
        padding: 2px;
        margin-right: 1px;
        // padding: 15px;
        // //background: lightgrey;
        // box-sizing: border-box;
       
        // margin-right: 10px !important;
        // height: 88vh;
    }

}
.adjustmargin{
margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important
}


@media (max-width: 560px){
    .adjustmargin{
    padding-left:42px !important;
    
    }
    }
@media (max-width: 750px){
.adjustmargin{
margin-left:10px !important;

}
}
@media (max-width: 750px){
    #fixed-width {
        width: 200px;
        height: 80vh;
        margin-right: 10px;
        //background: blue;
    }

}