<!-- <div class="Certificates">
    <div class="row">
        <div style="min-width: 30vw; width:30%">
            <div class="row" style="width:100%;margin-right:5px !important;" >
                <div class="col-md-12 col-sm-12 col-xs-12"  style="background-color: yellow">
                    cxzcxzczx
                </div>
            </div>
        </div>
        <div style="width:70%">
                <div class="row" style="width:100%;margin-right:5px !important">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: red">
                        dsadsadsa
                    </div>
                </div>
            </div>
    </div>
</div> -->
<!-- <button>
    <button (click)="buttonclick()" style="font-size: 12px !important;border-color: #2580db;background-color: #2580db;color:white">Certificates</button>
</button>  -->

<div id="container">
    <div *ngIf="certbutton"><button type="button" (click)="buttonclick()" style="margin-top:-20px;"class="btn btn-primary active"><h3>Certificates</h3></button>
    </div>
        <!-- <button (click)="buttonclick()" style="font-size: 12px !important;border-color: #2580db;background-color: #2580db;color:white">Certificates</button> -->
        <div *ngIf="box" id="fixed-width"  class="raisedbox roundBorder"style="
        margin-top: 40px;margin-right:-40px">
                <div class="row" style="margin-right:5px !important">
                        <div class="col-md-12">
                            <div class="row"
                                style="margin-left:5px !important;padding: 0px !important;color:black; font-size:15px !important; font-weight:900;">
                                Certificates
                            </div>
                            <div class="row"
                                style="overflow-y:scroll !important;overflow-x: hidden !important; margin-left:5px !important;padding:5px !important; border:1px solid; border-color:grey !important;height:70vh !important">
                                <div class="col-xl-12">
                                    <div class="row"
                                        style="vertical-align:top !important;line-height:20px !important; height:20px !important;margin-left:10px !important;padding: 5px !important;font-size:16px !important; font-weight:600;">
                                        Departments
                                    </div>
                                    <div class="row"
                                        style="margin-left:10px !important; margin-top:12px !important;width: 99% !important;">
                                        <div class="form-group" style="width:100% !important">
                                            <div class="icon-addon addon-md" style="width:100% !important">
                                                <input type="text" placeholder="Search" class="form-control"
                                                    [(ngModel)]="depSearch" style="width:100% !important" id="search"
                                                    (ngModelChange)="onSearch()" class="search" />
                                                <label for="search" class="glyphicon glyphicon-search PT0" rel="tooltip"
                                                    title="Search"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                        style="width: 100% !important;text-align:left !important;vertical-align:top !important;margin-left:0px !important;padding: 1px !important;">
                                        <mat-nav-list style="width:100% !important">
                                            <app-menu-list-item (itemChange)="reloadCertificates($event, false, limit,0,false)"
                                                style="width:100% !important" *ngFor="let item of  navItems" [item]="item">
                                            </app-menu-list-item>
                                        </mat-nav-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <!-- <div *ngIf="tabs">
            <ul class="nav nav-tabs">
            <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('MyCertificate')" [class.active]="MyCertificate">
            <a >{{'MyCertificate'}}</a>
            </li><span class="tab"></span>
            <li style ="margin-left: 40px ;font-size:medium;" (click)="selectTab('SharedCertificates')" [class.active]="SharedCertificates">
            <a >{{'SharedCertificates'}}</a>
            </li><span class="tab"></span>
            <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('RequestSent')" [class.active]="RequestSent">
            <a>{{'RequestSent'}}</a>
            </li><span class="tab"></span>
            <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('RequestReceive')" [class.active]="RequestReceive">
            <a>{{'RequestReceive'}}</a>
            </li><span class="tab"></span>
            </ul>
            <ng-content></ng-content>
            </div> -->

            <div *ngIf="tabs">
                <ul class="nav nav-tabs">
                <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('MyCertificate')" [class.active]="MyCertificate">
                <a >{{'MyCertificate'}}</a>
                </li><span class="tab"></span>
                <li style ="margin-left: 40px ;font-size:medium;" (click)="selectTab('SharedCertificates')" [class.active]="SharedCertificates">
                <a >{{'SharedCertificates'}}</a>
                </li><span class="tab"></span>
                <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('RequestSent')" [class.active]="RequestSent">
                <a>{{'RequestSent'}}</a>
                </li><span class="tab"></span>
                <li style ="margin-left: 40px;font-size:medium;" (click)="selectTab('RequestReceive')" [class.active]="RequestReceive">
                <a>{{'RequestReceive'}}</a>
                </li><span class="tab"></span>
                </ul>
                <ng-content></ng-content>
                </div>

            <app-dialog [(visible)]="showpopup">
                <div class="popup_dialouge poup_edit">
                  <!-- <h5><span class="semi-bold">{{showMsg}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5> -->
                  <div class=""><form novalidate="" style="
                    font-size: xx-large;
                    text-align: center;margin-top: 70px;" class="ng-untouched ">  {{showMsg}} <br><button class="buttonOK"(click)="closeshowmsg()" style="text-align: center;">OK</button></form></div>
                </div>  
            </app-dialog>
            <app-dialog [(visible)]="requestsharingPopup">
                <div class="popup_dialouge poup_edit" style="size: 30px;">
                  <h5><span class="semi-bold">{{'Please Enter The AssetId and PassphraseId '}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn"></button></h5>
                  <br>
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password" name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your Passphrase" [(ngModel)]="userpassphraseId" >
                    <div >
                      <div  style="color:red;">
                        Field Mandatory
                      </div>
                    </div>
                </div><br>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password" name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your AssetId" [(ngModel)]="userAssetId" >
                    <div >
                      <div  style="color:red;">
                        Field Mandatory
                      </div>
                      <button class="buttonOK"(click)="closeshowmsg()" style="text-align: center;">Submit</button>
                      <button class="buttonOK"(click)="Cancel()" style="text-align: center;margin-left: 20px;">Cancel</button>
                    </div>
                </div>
                </div>  
            </app-dialog>


            <div *ngIf="tables">
                <mat-grid-list [cols]="breakpoint" rowHeight="375px" style="margin-left: -780px !important;right: -70px; width: 1400px; top: 85px;" (window:resize)="onResize($event)">
                    <mat-grid-tile style="right: -70px; width: calc((33.3333% - 0.666667px) * 1 + 0px); top: 85px; height: calc(350px);" *ngFor="let item of certs; let i = index">
                        <mat-card class="card">
                            <mat-card-header class="cardheader" style="background-color: #f8f9fa" >
                              </mat-card-header>
                            <mat-card-content>
                                    <div class="carddetails" *ngFor='let key of totslcertKeys[i]' >
                                            <span class="col-lg-4 col-md-4 col-sm-4" >{{key | titlecase}}:</span>
                                            <span *ngIf="item[key]"class="col-lg-8 col-md-8 col-sm-8 cardtext">{{item[key]}}</span>
                                            <span *ngIf="!item[key]"style="margin-left:130px;margin-top:-20px;" class="col-lg-8 col-md-8 col-sm-8 cardtext">{{' - '}}</span>
                                          <br>
                                        </div> 
                                          </mat-card-content>
                                         
                                           <mat-card-actions>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>  
            </div> 
            <div>  

                <button *ngIf="requestButton && arrayrequestsendcertificate"
                mat-raised-button="" style="font-size: 15px ;margin-left: 50px; margin-top: 75px;" (click)="requestsharing()" color="primary" matbadge="8" matbadgeposition="before" matbadgecolor="accent" >
                Request Send  </button>
               
                <div *ngIf="SharedCertificatespage">
                    <mat-grid-list [cols]="breakpoint" rowHeight="275px" style="margin-left: -780px !important;right: -70px; width: 1400px; top: 45px;" (window:resize)="onResize($event)">
                        <mat-grid-tile style="right: -70px; width: calc((33.3333% - 0.666667px) * 1 + 0px); top: 45px; height: calc(175px);" *ngFor="let item of arrayrequestsendcertificate; let i = index">
                            <mat-card class="card">
                                <mat-card-content> 
                                        <div class="carddetails" *ngFor='let key of totalrequestedkeys[i]' >
                                                <span class="col-lg-4 col-md-4 col-sm-4" >{{key | titlecase}}:</span>
                                                <span *ngIf="item[key]"class="col-lg-8 col-md-8 col-sm-8 cardtext">{{item[key]}}</span>
                                                <span *ngIf="!item[key]"style="margin-left:130px;margin-top:-20px;" class="col-lg-8 col-md-8 col-sm-8 cardtext">{{' - '}}</span>
                                            </div> 
                                        </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>  
                </div> 

                <div *ngIf="requestReceivePage">
                    <mat-grid-list [cols]="breakpoint" rowHeight="400px" style="margin-left: -780px !important;right: -70px; width: 1400px; top: 85px;" (window:resize)="onResize($event)">
                        <mat-grid-tile style="right: -70px; width: calc((33.3333% - 0.666667px) * 1 + 0px); top: 85px; height: calc(175px);" *ngFor="let item of arrayreceivedcertificate; let i = index">
                            <mat-card class="card">
                                <mat-card-header class="cardheader" style="background-color: #f8f9fa" >
                                  </mat-card-header>
                                <mat-card-content>
                                        <div class="carddetails" *ngFor='let key of totalreceivedKeys[i]' >
                                                <span class="col-lg-4 col-md-4 col-sm-4" >{{key | titlecase}}:</span>
                                                <span *ngIf="item[key]"class="col-lg-8 col-md-8 col-sm-8 cardtext">{{item[key]}}</span><br>
                                                <span *ngIf="!item[key]"style="margin-left:130px;margin-top:-20px;" class="col-lg-8 col-md-8 col-sm-8 cardtext">{{' - '}}</span>
                                              <br>
                                            </div> 
                                            </mat-card-content>
                                               <mat-card-actions><br><br>
                                                <button *ngIf="arrayrequestsendcertificate"
                                                mat-raised-button="" style="font-size: 18px; margin-left: 150px;" (click)="clickApprove(item['assetId'])" color="primary" matbadge="8" matbadgeposition="before" matbadgecolor="accent" >
                                                Approve  </button> 
                                </mat-card-actions>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>  
                </div> 

                <app-dialog [(visible)]="walletPopUp">
                    <div class="popup_dialouge poup_edit">
                      <h5><span class="semi-bold">{{'Please Enter Wallet Address '}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn"></button></h5>
                      <br>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" type="password" name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your WalletAddress" [(ngModel)]="userWallet" >
                        <div >
                          <div  style="color:red;">
                            Field Mandatory
                            <br>
                            <button class="buttonOK"(click)="closeshowmsg()" style="text-align: center;">OK</button>
                            <button class="buttonOK"(click)="Cancel()" style="text-align: center;margin-left: 20px;">Cancel</button>
                          </div>
                        </div>
                    </div>
                    </div>  
                </app-dialog>

                <div> 
                    <div *ngIf="SharedCertificatedata">
                        <mat-grid-list [cols]="breakpoint" rowHeight="375px" style="margin-left: -780px !important;right: -70px; width: 1400px; top: 85px;" (window:resize)="onResize($event)">
                            <mat-grid-tile style="right: -70px; width: calc((33.3333% - 0.666667px) * 1 + 0px); top: 85px; height: calc(375px);" *ngFor="let item of arraysharedcertificate; let i = index">
                                <mat-card class="card">
                                    <mat-card-header class="cardheader" style="background-color: #f8f9fa" >
                                      </mat-card-header>
                                    <mat-card-content>
                                            <div class="carddetails" *ngFor='let key of totalcertificatekeys[i]' >
                                                    <span class="col-lg-4 col-md-4 col-sm-4" >{{key | titlecase}}:</span>
                                                    <span *ngIf="item[key]"class="col-lg-8 col-md-8 col-sm-8 cardtext">{{item[key]}}</span>
                                                    <span *ngIf="!item[key]"style="margin-left:130px;margin-top:-20px;" class="col-lg-8 col-md-8 col-sm-8 cardtext">{{' - '}}</span>
                                                  <br>
                                                </div> 
                                                </mat-card-content>
                                                <mat-card-actions style="text-align: center !important">
                                                    <button type="button" class="btn popoverbtn" container="body" placement="bottom"[ngbPopover]="sharesdetailsview"  (mouseover)="getsharedview(item.id)"
                                                    (clickOutside)="p.close()" triggers="mouseenter:mouseleave"  popoverClass="increase-popover-width" #p="ngbPopover" >
                                                        View Details
                                                    </button>
                                    </mat-card-actions>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list> 
                        <ng-template #sharesdetailsview >
                        
                            <div class="m-0 p-2"
                                style="font-size:12px !important;width:600px !important;margin-right:10px !important;margin-left:10px !important;padding:10px !important">
                                <div class="row PB5">
                                    <span>Sign:&nbsp;{{certDetail["sign"]}}</span>
                                </div>
                                <div class="row PB5">
                                    <span>Public key:&nbsp;{{certDetail["publickey"]}}</span>
                                </div>
                                <div class="row PB5">
                                    <span>Trans Id:&nbsp;{{certDetail["transactionId"]}}</span>
                                </div>
                                <div *ngIf="viewdetailsStatus=='issued'" class="row PB5">
                                    <span>Iid:&nbsp;{{certDetail["iid"]}}</span>
                                </div>
                                <div class="row PB5">
                                    <span>Issued To:{{certDetail["issuedto"]}}</span>
                                </div>
                                <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                    <span>AuthLevel:&nbsp;{{certDetail["authLevel"]}}</span>
                                </div>
                                <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                    <span>Status:&nbsp;{{certDetail["status"]}}</span>
                                </div>
                                <div class="row PB5">
                                    <span>Doc Hash:&nbsp;{{certDetail["hash"]}}</span>
                                </div>
                                <div class="row PB5">
                                    <span>Date and Time:&nbsp;{{certDetail["timestampp"]}}</span>
                                </div>
                            </div>
                        </ng-template>   
                    </div> 
                    <div> 
    


        <div id="flexible-width" >
            <div *ngIf="nodepart_selection && !showmessage"  class="nodata contentCentered center" style="text-align:center; ">
                    <div class="row ZeroCertsText center" >
                            OOPS!!<br> You haven't selected any deparment?
                    </div>
        </div>
        <div *ngIf="display_zercerts" class="col-md-9 col-sm-9 col-xs-9">
            <div class="row certHeader" style="margin-left:15px !important;padding: 0px !important;color:black; font-size:15px !important; font-weight:900;">
                <div class="col-md-6 nopadding">{{ departmentName | uppercase }}</div>
                <div class="col-md-4" style="width:100%">
                 <div class="row nopadding">
                    <p class="stat-or"></p><span  class="certsize">Initiated</span>
                    <p class="stat-yel"></p><span  class="certsize">Authorized</span>
                    <p class="stat-green "></p><span class="certsize">Issued</span>
                    <p class="stat-red"></p><span class="certsize">Rejected</span>
                </div>   
                </div>
            </div>
            <div *ngIf="certSearchFlag" class="row">
                <select [(ngModel)]="statusSel"
                    style="margin-left: 30px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected style="font-size: 15px !important; color:#989898 !important">Status
                    </option>
                    <option *ngFor="let cerStatus of status">{{ cerStatus }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetYear" #item (change)="selectYearChange(item.value)"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Year </option>
                    <option *ngFor="let year of years">{{ year }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetMonth"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Month </option>
                    <option *ngFor="let month of months">{{ month }} </option>
                </select>
                <select [(ngModel)]="selectedIssuer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Issuer </option>
                    <option *ngFor="let issuer of issuerList" [value]="issuer.iid">{{ issuer.email }}
                    </option>
                </select>
                <select [(ngModel)]="selectedAuthorizer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Authorizer </option>
                    <option *ngFor="let authorizer of authorizerList" [value]="authorizer.aid">{{ authorizer.email }}
                    </option>
                </select>
                <button (click)="certSearch()" style="font-size: 12px !important;border-color: #2580db;background-color: #2580db;color:white">Search</button>
                  
                  <br>
            </div>
            <div class="row MT10" style="padding-top:10px">
                &nbsp;
            </div>
            <div class="row">
                    <div class="col-md-12 contentCentered ZeroCertsText" style="text-align: center;">
                       No Certificates to Show<br>
                        <img src="../../../assets/images/ZeroCerts.png" />
                    </div>
            </div>  
        </div>      
        <div *ngIf="!nodepart_selection && !display_zercerts" >
                <div class="row certHeader"
                style="margin-left:15px !important;padding: 0px !important;color:black; font-size:15px !important; font-weight:900;">
                <div class="col-md-6 col-sm-12 nopadding">{{ departmentName | uppercase }}</div>
                <div class="col-md-4 col-sm-12" style="width:100%">
                 <div class="row nopadding">
                    <p class="stat-or"></p><span  class="certsize">Initiated</span>
                    <p class="stat-yel"></p><span  class="certsize">Authorized</span>
                    <p class="stat-green "></p><span class="certsize">Issued</span>
                    <p class="stat-red"></p><span class="certsize">Rejected</span>
                </div>   
                </div>            
             
            </div>
            <div class="row" style="width:100%">              
                <select [(ngModel)]="statusSel"
                    style="margin-left: 30px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected style="font-size: 15px !important; color:#989898 !important">Status
                    </option>
                    <option *ngFor="let cerStatus of status">{{ cerStatus }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetYear" #item (change)="selectYearChange(item.value)"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Year </option>
                    <option *ngFor="let year of years">{{ year }} </option>
                </select>
                <select [(ngModel)]="SelectedAssetMonth" class="adjustmargin"
                    >
                    <option value="" selected>Month </option>
                    <option *ngFor="let month of months">{{ month }} </option>
                </select>
                <select [(ngModel)]="selectedIssuer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Issuer </option>
                    <option *ngFor="let issuer of issuerList" [value]="issuer.iid">{{ issuer.email }}
                    </option>
                </select>
                <select [(ngModel)]="selectedAuthorizer"
                    style="margin-left: 5px !important;margin-right:5px !important; width:111px !important;height:25px !important">
                    <option value="" selected>Authorizer </option>
                    <option *ngFor="let authorizer of authorizerList" [value]="authorizer.aid">{{ authorizer.email }}
                    </option>
                </select>
                <button (click)="certSearch()" style="font-size: 12px !important;border-color: #2580db;background-color: #2580db;color:white">Search</button>
                <!-- <p class="stat-or"></p><span  class="certsize">Initiated</span>
                <p class="stat-yel"></p><span  class="certsize">Authorized</span>
                <p class="stat-green "></p><span class="certsize">Issued</span>
                <p  class="stat-red"></p><span class="certsize">Rejected</span> -->
                        
            </div>
            <div class="row MT10" style="padding-top:10px">
                &nbsp;
            </div>
            <div class="row MT10" style="padding-top:10px;width:100%;margin-right: -10px">
                <br>
                <div class="col-md-12 col-sm-12 asset-scroll" infiniteScroll style="padding-top:10px;width:100%;"
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"          
                [infiniteScrollContainer]="selector"
                [infiniteScrollDisabled]="scrollDisable"
                [fromRoot]="true"
                [scrollWindow]="false"
                (scrolled)="onScrollDown(department)"
                (scrolledUp)="onUp()">
                    <mat-grid-list [cols]="breakpoint" rowHeight="375px" style="margin-left: 70px !important " (window:resize)="onResize($event)">
                        <mat-grid-tile style="padding: 2px !important;width: calc((33.3333% - 0.666667px) * 1 + 150px)" *ngFor="let item of certs; let i = index">
                            <mat-card class="card">
                                <mat-card-header class="cardheader"
                                    [ngStyle]="{ 'background-color': getColor(item.status) }">
                                  </mat-card-header>
                                <mat-card-content>
                                        <div class="carddetails" *ngFor='let key of totslcertKeys[i]'>
                                                <span class="col-lg-4 col-md-4 col-sm-4" style="padding-left: 0px !important;padding-right: 0px !important">{{key | titlecase}}:</span>
                                                <span class="col-lg-8 col-md-8 col-sm-8 cardtext">{{item[key] }}</span>
                                            </div>
                                </mat-card-content>
                                <mat-card-actions style="text-align: center !important">

                                    <button type="button" class="btn popoverbtn" container="body" placement="bottom"[ngbPopover]="projectPopup"  (mouseover)="getViewDetails(item.id)"
                                    (clickOutside)="p.close()" triggers="mouseenter:mouseleave"  popoverClass="increase-popover-width" #p="ngbPopover" >
                                        View Details
                                    </button>
                                  
                                </mat-card-actions>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>  
                    <ng-template #projectPopup >
                        <div class="m-0 p-2"
                            style="font-size:12px !important;width:600px !important;margin-right:10px !important;margin-left:10px !important;padding:10px !important">
                            <div class="row PB5">
                                <span>Sign:&nbsp;{{certDetails["sign"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Public key:&nbsp;{{certDetails["publickey"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Trans Id:&nbsp;{{certDetails["transactionId"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Issued By:&nbsp;{{certDetails["issuedby"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='issued'" class="row PB5">
                                <span>Authorized By&nbsp;{{certDetails["verifiedby"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Issued To:{{certDetails["issuedto"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                <span>Rejected By:&nbsp;{{certDetails["rejectedby"]}}</span>
                            </div>
                            <div *ngIf="viewdetailsStatus=='rejected'" class="row PB5">
                                <span>Rejected Comment:&nbsp;{{certDetails["comment"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Doc Hash:&nbsp;{{certDetails["hash"]}}</span>
                            </div>
                            <div class="row PB5">
                                <span>Date and Time:&nbsp;{{certDetails["timestampp"]}}</span>
                            </div>
                        </div>
                    </ng-template>     
                    
                  
                </div>
            </div>
        </div>
    </div>