.Certificates{
    margin-left: 100px !important;
    font-family: 'Muli';
    font-size: 16px;
}
.search-icon {
    position: absolute;
    top: 10%;
    left: 35px;
    margin-top: -20px;
    color: lightgray !important;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .certHeader{
     margin-left:20px !important;
 }

.card {
    // flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    height:90% !important;
    width:90% !important;
  //  width:206px !important;
   /// margin-top: 10px !important;
     position: absolute;
     top: 5px;
     justify-content: center;
     left: 15px !important;
     right: 10px !important;
     bottom: 5px !important;
    // max-width: 150px;
    // min-width: 150px;
}

.carddetails{
    font-family: 'Muli', sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 16px;
// padding-left: 10px !important;
margin-bottom: 10px !important;
// padding-right: 10px !important;
}
.cardtext{
margin-bottom: 10px !important;
color: black;
font-weight: 500 !important;
}
.cardheader{
    float:right !important;
    background-color:red; 
    width:10% !important;
    padding:2px !important; 
    margin-top:-16px !important;
    margin-right: -16px !important
}
.carditem {
   flex: 1 0 calc(53.3% - 32px);
    box-sizing: border-box;
    margin: 1rem .25em;
    height:174px !important;
    width:206px !important;
    margin-top: 10px !important;
     position: relative;
     top: 15px;
     justify-content: center;
    // left: 15px;
    // right: 15px;
    // bottom: 15px;
    // max-width: 150px;
    // min-width: 150px;
}
.newIssueContent{
    line-height: 18px !important;
    font-size: 14px !important;
    font-weight: 500;
    color: #656565 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    text-align: center !important;
    
}
.certificate-card{
    max-width: 300px;
    margin: 4px
}

.certificate-card-content{
    justify-content: center !important;
}
.newcertClass{
 width:40px !important;
 height:40px !important;
}

.md-select {
    background-color: white;   
    color: black;
    font-size:14px !important;
    border : 1px solid #666666;

}

select {
    text-align: center;
    font-size:14px !important;
    text-align-last: center;
  }
  option {
    text-align: left;
  }

//   a:link, a:visited {
//     // background-color: #f44336;
//     font-family: muli;
//     font-size: 11px;
//     font-weight: 300;
//     color: #656565 !important;
//     // padding: 14px 25px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//   }

.Certificates .popover {
    /* add styles here */
    width:300px !important;
    font-size: 14px !important;
}
.popover {
    max-width: none !important;
}

.increase-popover-width {
    // max-width: 500px !important;
    width: 650px !important;
    background: aliceblue;
    font-size: 12px;
 }

.popoverbtn{
background: transparent !important;
font-size:12!important;
padding-bottom: 0px !important;
}

.PB5{
    padding-bottom: 5px !important;
}
.search{
    font-size: 12px !important;
    padding-left: 30px !important;
    
}
.PT0{
    padding-top: 3px !important;
}

.raisedbox { 
	padding: 10px;
    border: 1px solid #77aaff;
    border-radius: 8px;
	box-shadow:  -1px 1px #77aaff,
		 -2px 2px #77aaff,
		 -3px 3px #77aaff,
		 -4px 4px #77aaff,
		 -5px 5px #77aaff;
}