.container{
    font-family: Muli;
    font-size: 16px;
}
.issuecertificatebtn{
    width: 185px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #ffffff;
    margin: 33%;
}
// .certificate{
//   width: 410px;
//   height: 563px;
//   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
//   border:0px solid #000;
//   background-image: url("../../../assets/img/Certbgfix.png");
//   margin-left: 40%;
//   font-family: Muli;
// }
.underlineinput1{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:172px;
    font-size: 18px;
}
.underlineinput2{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:130px;
    font-size: 18px;
}
.underlineinput3{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:345px;
    font-size: 18px;
}
.underlineinput4{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:320px;
    font-size: 18px;
}
.underlineinput5{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:53px;
    font-size: 18px;
}
.underlineinput6{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:100px;
    font-size: 18px;
}
.underlineinput7{
    border:0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black; 
    width:100px;
    font-size: 18px;
}
.form-group{
    font-size:16px;
}





.modal-dialog {
    max-width: 30%;
    margin-top: 15%;
    margin-left: 40%;
  }
  .modal-content{
    border-radius: 20px;
  }
  
  
  .modal-header{
    border-bottom: 0px; 
    background: rgb(34, 79, 163);
    border-radius:15px;
  }
  .modal-body{
    padding:6%;
    // margin-top:5%;
  }
  
  
  .modal-footer{
    justify-content: center;
    // padding: 1rem;
  border-top: 0px;
  }
  
  
  .modal-content{
    border: 0px;
      box-shadow: 0 5px 15px rgba(0,0,0,.5); 
  }
  
  
  .submitbtn{
    width: 145px;
  
    height: 36.8px;
  
    border-radius: 10px;
  
    background-color: var(--orange);
  
    font-family: Muli;
  
    font-size: 13px;
  
    font-weight: 900;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.23;
  
    letter-spacing: normal;
  
    text-align: center;
  
    color: var(--white);
  
  }
  
  
  .cancelbtn{
    width: 145px;
  
    height: 36.8px;
  
    border-radius: 10px;
  
    background-color:white;
    font-family: Muli;
  
    font-size: 13px;
  
    font-weight: 900;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.23;
  
    letter-spacing: normal;
  
    text-align: center;
  
    color: black;
  
  }

  .modal-title{
    font-family: Muli;
  
    font-size: 15px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.27;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #b4b4b4; 
    margin-left: 25%;
    margin-top: 5%;
   
  }

  .form-control
  {
    font-size:16px;
  }
  
  .errorok{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left:10%;
    background-color: #f87d42;
    font-family: Muli;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    float: none;    
   }
  
  
   .errormsg{
    margin-top:10%;
   //  margin-left: 20%;
    font-family: Muli;
   font-size: 20px;
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.23;
   letter-spacing: normal;
   text-align: center;
  }
  #disabledinput{
    background-color: #ffffff;
  }