
<div class="container">
  <div class="col-md-6" style="margin-top:10%">
      <form [formGroup]="certform" novalidate>
          Email
          <div class="input-group">
                  <input class="form-control" name="email" type="text" [(ngModel)]="setemail"  (ngModelChange)="onSearch()" formControlName="email1"/>
                 
                  <!-- <label for="search" class="glyphicon glyphicon-search PT0" rel="tooltip"
                  title="Search"></label> -->
                  <div class="input-group-addon" style="width:50px;" (click)="onSearch()">
                    <span  class="glyphicon glyphicon-search"></span>
                  </div>
                  <div class="input-group"
                  *ngIf="certform.controls.email1.invalid && (certform.controls.email1.dirty || certform.controls.email1.touched)">
                  <div 
                  *ngIf="certform.controls.email1.errors?.email">
                  <span style="color:red">Please enter valid Email</span>
                </div>
                  <div 
                  *ngIf="certform.controls.email1.errors?.required"><span style="color:red">Field Mandatory</span></div>
                
                </div>
            </div><br>
                <!-- <div class="form-row"> -->
                    <label for="inputEmail4">Name</label><br>
             <div class="input-group">
                     <input type="text" class="form-control" [(ngModel)]="getusername" formControlName="username" id="NAme" id="disabledinput" disabled>
            </div>
            <div class="input-group"
            *ngIf="certform.controls.username.invalid && (certform.controls.username.dirty || certform.controls.username.touched)">
            <div 
            *ngIf="certform.controls.username.errors?.pattern">
            <span style="color:red">Please enter valid Name</span>
          </div>
            <div 
            *ngIf="certform.controls.username.errors?.required"><span style="color:red">Field Mandatory</span></div>
          
          </div>

                <!-- </div>   -->

          <div class="form-row">
              <div class="form-group col-md-12">
                  <label for="inputEmail4">ID</label>
                  <input type="text" class="form-control"  formControlName="userid" [(ngModel)]="getuserid"  id="userid" id="disabledinput" disabled>
                  <div 
                  *ngIf="certform.controls.userid.invalid && (certform.controls.userid.dirty || certform.controls.userid.touched)">
                  <div 
                  *ngIf="certform.controls.userid.errors?.pattern">
                  <span style="color:red">Please enter valid ID</span>
                </div>
                  <div 
                  *ngIf="certform.controls.userid.errors?.required"><span style="color:red">Field Mandatory</span></div>
                
                </div>
              </div>
              <div class="form-group col-md-12">
                  <label for="yearofgraduation">Year of graduation </label>
                  <input type="text" class="form-control" formControlName="gradyear" [(ngModel)]="getyear" id="gradyear">
                  <div class="form-group col-md-8"
                  *ngIf="certform.controls.gradyear.invalid && (certform.controls.gradyear.dirty || certform.controls.gradyear.touched)">
                  <div 
                  *ngIf="certform.controls.gradyear.errors?.pattern">
                  <span style="color:red">Please enter valid Year</span>
                </div>
                  <div 
                  *ngIf="certform.controls.gradyear.errors?.required"><span style="color:red">Field Mandatory</span>
                </div>
                </div>
                </div>
          </div>
          <div class="form-group">
              <label for="degree">Degree</label>
              <input type="text" class="form-control" formControlName="degree"[(ngModel)]="getdegree"  id="degree" >
              <div class="input-group"
              *ngIf="certform.controls.degree.invalid && (certform.controls.degree.dirty || certform.controls.degree.touched)">
              <div 
              *ngIf="certform.controls.degree.errors?.pattern">
              <span style="color:red">Please enter valid Degree</span>
            </div>
              <div 
              *ngIf="certform.controls.degree.errors?.required"><span style="color:red">Field Mandatory</span></div>
            </div>

          </div>
          <div class="form-group">
              <label for="topic">department</label>
                      <!-- <select class="form-control" style="width:100%; height:10%;font-size:20px;">
                           <option selected>Select Department</option> 
                         
                      </select> -->
                      <input type="text" class="form-control" [(ngModel)]="getuserdep" formControlName="userdep" id="userdep" id="disabledinput" disabled>

                      <div class="input-group"
                      *ngIf="certform.controls.userdep.invalid && (certform.controls.userdep.dirty || certform.controls.userdep.touched)">
                      <div 
                      *ngIf="certform.controls.userdep.errors?.pattern">
                      <span style="color:red">Please enter valid Department</span>
                    </div>
                      <div 
                      *ngIf="certform.controls.userdep.errors?.required"><span style="color:red">Field Mandatory</span></div>
                    </div>
          </div>
          <button type="button" [disabled]="certform.errors"  data-toggle="modal" data-target="#issuepopup" class="issuecertificatebtn">ISSUE CERTIFICATE</button>
      </form>
  </div>
  <div class="col-md-6" style="margin-top:10%" id="certtemplate">
      <div class="certificate" style="  width: 410px;
      height: 563px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border:0px solid #000;
      background-image:url('../../../assets/img/Certbgfix.png');
      margin-left: 40%; font-family: 'Muli';">
          <br><br><br><br><br>
          <h3 style="text-align:center" class="assetcertheader"><b>{{university | uppercase}}</b></h3>
        
          <br><br>
          <p style="margin-left: 8%;" class="MLPer8">This is to Certify that&nbsp;&nbsp;&nbsp;<span id="name"   class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;"> {{getusername}}</span></p>
          <p style="margin-left: 8%;" class="MLPer8">is awarded with degree of&nbsp;&nbsp;&nbsp;<span id="degree"   class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;">{{getdegree}} </span></p>
          <!-- <p style="margin-left: 8%;"><span id=""><input type="text" class="underlineinput3" value=""  disabled> </span></p> -->
          <p style="margin-left: 8%;" class="MLPer8">in&nbsp;&nbsp;&nbsp;<span id="department"  class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;">{{getuserdep}}</span></p>
          <p style="margin-left: 8%;" class="MLPer8">on having passed the examinations in&nbsp;&nbsp;<span id="gradyear"  class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;">{{getyear}}</span></p>
          <br>
          <p style="margin-left: 8%;" class="MLPer8">Enrollment No:<span id="empid"  class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;">{{getuserid}}</span></p>
          <p style="margin-left: 8%;" class="MLPer8">Date:<span id="date"  class="datavalue" style="
            border-bottom: 1px solid black; 
            width:172px;
            font-size: 18px;">{{date}} </span></p>

      </div>
  </div>
</div>


<app-dialog [(visible)]="AlertModal">
  <div class="popup_dialouge poup_edit">
  <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">{{alertmsg}}</p>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closeAlertModal()">OK</button>
  </div> 
</div>
</app-dialog>


<div class="modal fade" id="issuepopup" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
             

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
           <div class="modal-body">
            
              <div class="form-group col-md-12">
                  <h4>ENTER YOUR PASSPHRASE</h4>
                <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password"  name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your Passphrase" [(ngModel)]="passphrase">
                    <div *ngIf="secretkey.errors && (secretkey.dirty || secretkey.touched)">
                      <div [hidden]="!secretkey.errors.required" style="color:red;"
                      >
                        Field Mandatory
                      </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <button class="submitbtn"  data-dismiss="modal" (click)="initiatecert()" [disabled]="secretkey.errors">INITIAL ISSUE</button>
              <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
  <div class="popup_dialouge poup_edit">
    <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      {{errorMessage}}
      <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
  </form>
  </div>
</app-dialog>







<div class="modal" [ngStyle]="{'display':usernotexists}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
           

          <button type="button" class="close" (click)="closeexistModal()">&times;</button>
        </div>
         <div class="modal-body">
          
            <div class="form-group col-md-12">
                <span style="margin-left: 20%">{{this.findemail}}</span>&nbsp;&nbsp;&nbsp;<span>Not found!</span>
              <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
              </div>
        </div>
        <div class="modal-footer">
            <button class="submitbtn"  (click)="openregmodal();closeexistModal()">REGISTER</button>
            <button class="cancelbtn"  (click)="closeexistModal()">CANCEL</button>
        </div>
      </div>
      
    </div>
  </div>



<div class="modal"  [ngStyle]="{'display':reguser}" id="adduser" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="margin-left:40%">ADD NEW USER</h4>
        <button type="button" class="close" (click)="onCloseHandled()">&times;</button>
      </div>
      <div class="modal-body">
        <form class="dapp-balance" action="" method="post" novalidate [formGroup]="userregform">
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group">
                <select name="countrycode" formControlName="countrycode" id="country" class="form-control" style="height:30px">
                  <option value="" disabled selected>Country Code</option>
                      <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}} </option>
                </select>
              </div>
              <div class="input-group"
              *ngIf="userregform.controls.countrycode.invalid && (userregform.controls.countrycode.dirty || userregform.controls.countrycode.touched)">
              <div 
              *ngIf="userregform.controls.countrycode.errors?.required"><span style="color:red">Field Mandatory</span>
          </div>
            </div>
            </div>
            <div class="col-6">
              <div class="input-group">
                <input formControlName="email" name="email" placeholder="Email" type="email" [(ngModel)]="findemail" class="form-control" required="">
              </div>
              <div 
              *ngIf="userregform.controls.email.invalid && (userregform.controls.email.dirty || userregform.controls.email.touched)">
              <div 
              *ngIf="userregform.controls.email.errors?.email">
              <span style="color:red">Please enter valid Email</span>
            </div>
              <div 
              *ngIf="userregform.controls.email.errors?.required"><span style="color:red">Field Mandatory</span></div>
            
            </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group">
                <input formControlName="fname" name="fname" placeholder="First Name" type="text" class="form-control">
              </div>
              <div 
              *ngIf="userregform.controls.fname.invalid && (userregform.controls.fname.dirty || userregform.controls.fname.touched)">
              <div 
              *ngIf="userregform.controls.fname.errors?.pattern">
              <span style="color:red">Please enter valid First Name</span>
            </div>
              <div 
              *ngIf="userregform.controls.fname.errors?.required"><span style="color:red">Field Mandatory</span></div>
            
            </div>      
            </div>
            <div class="col-6">
              <div class="input-group">
                <input formControlName="lname" name="lname" placeholder="Last Name" type="text" class="form-control" required>
              </div>
              <div 
              *ngIf="userregform.controls.lname.invalid && (userregform.controls.lname.dirty || userregform.controls.lname.touched)">
              <div 
              *ngIf="userregform.controls.lname.errors?.pattern">
              <span style="color:red">Please enter valid Last Name</span>
            </div>
              <div 
              *ngIf="userregform.controls.lname.errors?.required"><span style="color:red">Field Mandatory</span></div> 
            </div> 
            </div>
          </div>
          <div class="form-group row" >
            <div class="col-6">
              <div class="input-group">
                <input formControlName="empid1" name="employeeid" placeholder="Employeeid" type="text" [(ngModel)]="userid1" class="form-control">
              </div>
              <div 
              *ngIf="userregform.controls.empid1.invalid && (userregform.controls.empid1.dirty || userregform.controls.empid1.touched)">
              <div 
              *ngIf="userregform.controls.empid1.errors?.pattern">
              <span style="color:red">Please enter valid ID</span>
            </div>
              <div 
              *ngIf="userregform.controls.empid1.errors?.required"><span style="color:red">Field Mandatory</span></div> 
            </div> 
            </div>
            <div class="col-6" [class.has-error]="">
              <div class="input-group">
                <input formControlName="adhaar" name="adhaar" placeholder="adhaar" type="text" class="form-control" required>
              </div>
              <div 
              *ngIf="userregform.controls.adhaar.invalid && (userregform.controls.adhaar.dirty || userregform.controls.adhaar.touched)">
              <div 
              *ngIf="userregform.controls.adhaar.errors?.pattern">
              <span style="color:red">Please enter valid identity</span>
            </div>
              <div 
              *ngIf="userregform.controls.adhaar.errors?.required"><span style="color:red">Field Mandatory</span>
            </div> 
            </div> 
          </div>
          </div>
          <div class="form-group row">
            
           <div class="col-6">
                  <select name="department" formControlName="department" id="dep" class="form-control" style="height:30px">
                    <option value="" disabled selected>Department</option>
                    <option *ngFor="let dep of issuerdepartments">{{dep}}</option>
                  </select>
                  <div 
                *ngIf="userregform.controls.department.invalid && (userregform.controls.department.dirty || userregform.controls.department.touched)">
                <div 
                *ngIf="userregform.controls.department.errors?.required"><span style="color:red">Field Mandatory</span>
              </div> 
              </div> 
                </div>
                
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="submitbtn" [disabled]="userregform.invalid"  (click)="registeruser(); onCloseHandled();">REGISTER</button>
        <button class="cancelbtn" (click)="onCloseHandled()">CANCEL</button>
      </div>
    </div>
</div>
</div>

