<div class="container" style="height:100% !important; " ><br>
  <br>
  <div [@.disabled]="true" id="wrapper" >
    <mat-tab-group disableUnderline={true} dynamicHeight="true" id="tab-group" style="height:100% !important;" >
      
      <mat-tab label="MAPPING">
        <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab">
          <div class="col-xl-10 col-lg-6 col-md-6 col-12 left fieldsform1 PT10 MT10 " style="margin-left:2%">
            <div class="form-row">
              <div class="form-group col-md-10">
                <form method="post" action="" [formGroup]="depForm" (ngSubmit)="assignAuthorizers()">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <h5>Department Name</h5>
                      <div class="input-group">
                        <input type="text" class="form-control" name="branch" formControlName="branch"
                          [(ngModel)]="depname" placeholder="Enter Department name" required>
                          <div
                          *ngIf="depForm.controls.branch.invalid && (depForm.controls.branch.dirty || depForm.controls.branch.touched)">
                          <div *ngIf="depForm.controls.branch.errors?.pattern">
                            <span style="color:red">Please enter valid Department</span>
                          </div>
                          <div *ngIf="depForm.controls.branch.errors?.required">
                            <span style="color:red">Field Mandatory</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group  col-md-2">
                      <h5>Levels</h5>

                      <div class="input-group">
                        <select class="form-control" formControlName="levels" id="levelval" (change)="getlevelscount()" required>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                        </select>
                        <div *ngIf="depForm.controls.levels.invalid && (depForm.controls.levels.dirty || depForm.controls.levels.touched)">
                        <div *ngIf="depForm.controls.levels.errors?.required">
                          <span style="color:red">Field Mandatory</span>
                        </div>
                      </div> 
                      </div>
                    </div>
                  </div>
                  <br>
                  <h5>Authorizer Levels</h5>
                 
                    <div class="levelfileds" >
                      <form [formGroup]="searchForm">
                        <div *ngIf="tableshow" formArrayName="properties" class="col-md-6" style="overflow-y:scroll !important;overflow-x: hidden !important; margin-left:5px !important;padding:5px !important;height:200px !important">
                          <div class="form-row" *ngFor="let prop of searchForm.get('properties').controls; let i = index">
                            <div class="form-group col-md-12">
                              <div class="input-group">
                                <h5 style="margin-top:15px">level<span>{{i+1}}</span>:</h5>&nbsp;&nbsp;&nbsp;
                                <select type="text" class="form-control" id="level{{i+1}}" name="levels{{i+1}}"
                                  (change)=trimauth($event.target,i) required>
                                  <option>none</option>
                                  <option *ngFor="let auth of authorizers">{{auth.email}}</option>
                                </select>

                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                    <div class="form-group ">
                      <input type="submit" class="btn submitbutton" style="left:28%;" value="Submit" [disabled]="depForm.invalid"
                        (click)="openModal()">
                    </div>
                </form><br><br>
          <div id="tab1" class="tab-pane active">
            <table class="table deptable" style="border:1px solid #ccc;border:1px solid orange;">
              <thead style="background: orange; color:#ffffff;">
                <tr>
                  <th scope="col">Department Id</th>
                  <th scope="col">Department Name</th>
                  <th scope="col">Level Count</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dep of departmentcount" style="border:1px solid orange;">
                  <td>{{dep['did']}}</td>
                  <td>{{dep['name']}}</td>
                    <td>{{dep['levels']}}</td>
                      <td><button type="button" (click)="view(dep['name'])" class="btn btn-outline-dark"
                        style="font-family: Muli;font-size: 16px; font-weight: 600;border-radius: 10px;width:100px;">view</button></td>
                      <td><button type="button" (click)="edit(dep['name'])" class="btn btn-outline-dark"
                        style="font-family: Muli;font-size: 16px; font-weight: 600;border-radius: 10px;width:100px;">Edit</button></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="from-group col-md-2" style="padding-top: 0px !important">
          <br><br>
          <h4 style="margin-left: 50%">initiated</h4>
          <div class="connector"></div>
         <div class="initiatecircle rounded-circle" style="margin-left: 55%;margin-top:-6px"></div>
         
         <p class="ractangle"> </p>
         <div class="connector"></div>
          <div *ngFor="let level of levelArr;let i = index;">
              <span class="line"></span>
          <p class="rectangle">Level {{i+1}} <br>{{level}}</p>
          <div class="connector"></div>
        
        </div>
        <div class="connector"></div>
        <p class="issued">ISSUED</p>
        
          
          <br><br>
        </div>
  </div>

</div>
</div>

</mat-tab>
<mat-tab label="TRANSACTION FEE">

  <div class="col-xl-12 col-lg-12 col-md-12 col-12 left fieldsform PT10 MT10"
    style="margin-left:10%; height:100% !important">
    <form method="post" style="height: 100% !important">

      <div class="form-group">
        <div class="input-group">
          <label class="col-sm-4r" style="font-size:30px;">Transaction Fee</label>&nbsp;&nbsp;
          <input type="text" class="form-control input-lg col-sm-6" [(ngModel)]="servicefee" #transactionfee="ngModel" name="transactionfee" placeholder="Transaction Fee(in bel)" [disabled]="serviceinput"
            required>
            &nbsp;&nbsp;<i class="fa fa-edit" style="font-size:40px;" (click)="enableservicefee()"> </i>
        </div>
        <div *ngIf="transactionfee.errors && (transactionfee.dirty || transactionfee.touched)">
          <div [hidden]="!transactionfee.errors.required" style="color:red;">
            Field Mandatory
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="form-group ">
        <input type="submit" class="btn submitbutton" value="Set" data-toggle="modal" data-target="#servicefeepopup"  [disabled]="transactionfee.errors" style="margin-left: 40%;height:50px;">
      </div><br><br>
    </form>

  </div>
</mat-tab>
</mat-tab-group>

</div>
</div>

<div class="modal fade" id="servicefeepopup" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
    
      <div class="modal-content">
          <div class="modal-header">
             

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
           <div class="modal-body">
            
              <div class="form-group col-md-12">
                  <h4>ENTER YOUR PASSPHRASE</h4>
                <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password" name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your Passphrase" [(ngModel)]="passphrase" >
                    <div *ngIf="secretkey.errors && (secretkey.dirty || secretkey.touched)">
                      <div [hidden]="!secretkey.errors.required" style="color:red;">
                        Field Mandatory
                      </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <button class="submitbtn"  data-dismiss="modal" (click)="setServiceFee()" [disabled]="secretkey.errors">FINAL ISSUE</button>
              <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
          </div>

          
        </div>  
      </div>
    </div>


<app-dialog [(visible)]="AlertModal">
    <div class="popup_dialouge poup_edit">
    <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
        <p class="errormsg">{{alertmsg}}</p>
     <div class="modal-footer"> 
        <button class="errorok" (click)="closeAlertModal()">OK</button>
    </div> 
  </div>
  </app-dialog>

<div class="modal" id="assignauthedit" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">


        <button type="button" class="close" (click)="hide()">&times;</button>
      </div>
      <div class="modal-body">

        <div class="form-group col-md-12">
          <h4></h4>
        </div>
        <div class="form-group col-md-12">
          <div id="tab1" class="tab-pane active">
            <table class="table table-hover popuptable" style="border:1px solid #ccc;">
              <thead>
                <tr>
                  <th scope="col">Level</th>
                  <th scope="col">Authorizer Id</th>
                  <th scope="col">Auth Email</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let authdep of authdepartments">
                  <td>{{authdep['level']}}</td>
                  <td>{{authdep['aid']}}</td>
                  <td>{{authdep['email']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="submitbtn" style="font-size:15px;"
          (click)="displaydata(authdepartments);hide();">EDIT&nbsp;&nbsp;&nbsp;<span><i class="fa fa-pencil-square-o"
              aria-hidden="true" style="font-size:15px;color:rgb(243, 243, 245)"></i></span></button>
      </div>
    </div>
  </div>
</div>