.container{
  font-size: 14px;
  font-family: 'Muli';
}
.mainlist a{

  font-family: Muli;

  font-size: 20px;

  font-weight: 800;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.25;

  letter-spacing: normal;

   text-align: left; 

   color: #223e60;
}  

.nav-tabs {

  border-bottom: 0px solid #ddd;
  
  }

.fieldsform input[type="text"]{
  width: 407px;

  height: 42px;

  border-radius: 4px;

  background-color: var(--white-grey);
  
  
}


.fieldsform1 input[type="text"]{
  width: 435px;

  height: 45px;

  border-radius: 4px;

  background-color: var(--white);
}

.fieldsform1 h5{
  /* width: 131px;

  height: 19px; */

  font-family: Muli;

  font-size: 18px;

  font-weight: 600;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.27;

  letter-spacing: normal;

  /* text-align: left; */

  color: #cbcbcb;
  
}

.submitbutton{
  width: 185px;

  height: 45px;
  
  border-radius: 10px;

  background-color: #f87d42;
      font-family: Muli;
      font-size: 17px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: var(--white);
      float: none;
      position: absolute;
      /* top: 50%; */
    
      transform: translate(-50%, -50%);

  }


  // .levels{
  //     width: 159px;

     
    
  //     border-radius: 4px;
    
  //     background-color: var(--white);
  // }

  select.form-control:not([size]):not([multiple]) {
      height: 45px;
      width: 159px;

     
    
      border-radius: 4px;
    
      background-color: var(--white);
  }



  .form-control {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 16px;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .initiatecircle {
          width: 29.4px;
          height: 29.4px;
          background-color: #4879ff;
  }
  .rectangle {
      width: 200px;
      height: 55px;
      border-radius: 5px;
      background-color: #fdcc00;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
    }
    .issued {
      width: 200px;
      height: 55px;
      border-radius: 5px;
      background-color: #ffffff;
       border: 3px solid green;
      color: green;
      text-align: center;
      font-size: 40px;
      transform: rotate(-6deg);
    }
    .blur {
      color: transparent;
      text-shadow: 0 0 5px rgba(31, 226, 106, 0.5);
   }
   .PT10{
       padding-top: 10ps !important;
   }

   .MT10{
       margin-top: 30px !important;
   }

   .MB10{
       margin-bottom: 10px !important;
   }
   #wrapper{
      padding: 16px; 
      min-height: 100% !important; 
      height: 100% !important; 
      box-sizing: border-box !important;/*new*/
    }
    #tab-group{
      height: 100% !important;
    }
    #tab-group mat-tab-body {
      flex-grow: 1 !important;
    }
    .certificate{
      width: 410px;
      height: 563px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border:0px solid #000;
      background-image: url("../../../assets/img/Certbgfix.png");
      margin-left: 40%;
      font-family: Muli;
      border-radius: 10px;
    }
    .underlineinput1{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:200px;
        font-size: 18px;
    }
    .underlineinput2{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:160px;
        font-size: 18px;
    }
    .underlineinput3{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:345px;
        font-size: 18px;
    }
    .underlineinput4{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:330px;
        font-size: 18px;
    }
    .underlineinput5{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:95px;
        font-size: 18px;
    }
    .underlineinput6{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:100px;
        font-size: 18px;
    }
    .underlineinput7{
        border:0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black; 
        width:100px;
        font-size: 18px;
    }
    .underlineunversity{
      border:0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black; 
      width:200px;
      margin-left: 25%;
      font-size: 18px;
  }
  .underlinename{
      border:0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black; 
      width:200px;
      margin-left: 25%;
      font-size: 18px;
  }
  // .form-scroll
  // {
  //     overflow: scroll;
  // }
  // .mat-tab-group-dynamic-height .mat-tab-body-content
  // {
  //     overflow: scroll!important;
  // }
  /* width */


// ::-webkit-scrollbar {
//     width: 10px;
//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #ccc; 
//   }
 
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: green; 
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: green; 
//   }
#collapse1{
  overflow-y:scroll;
  height:210px;
  overflow-x: hidden; 
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}


#collapse1{
  overflow-y:scroll;
  height:150px;
  overflow-x: hidden;
 
 }
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: orange;
 }


 .errorok{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left:10%;
  background-color: #f87d42;
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  float: none;    
 }


 .errormsg{
  margin-top:10%;
 //  margin-left: 20%;
  font-family: Muli;
 font-size: 20px;
 font-weight: 800;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.23;
 letter-spacing: normal;
 text-align: center;
}


.modal-dialog {
  max-width: 40%;
  margin-top: 15%;
  margin-left: 40%;
  font-size:16px;
}
.modal-content{
  border-radius: 20px;
  font-size:16px;
}


.modal-header{
  border-bottom: 0px; 
  font-size:16px;
}
.modal-body{
  padding:6%;
  // margin-top:5%;
  font-size:16px;
}


.modal-footer{
  justify-content: center;
  // padding: 1rem;
border-top: 0px;
font-size:16px;
font-size:16px;
}


.modal-content{
  border: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    font-size:16px;
}


.submitbtn{
  width: 145px;

  height: 36.8px;

  border-radius: 10px;

  background-color: var(--orange);

  font-family: Muli;

  font-size: 13px;

  font-weight: 900;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.23;

  letter-spacing: normal;

  text-align: center;

  color: var(--white);

}

.modal-title{
  font-size:16px;
  font-family: Muli;

  font-size: 15px;

  font-weight: 600;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.27;

  letter-spacing: normal;

  text-align: left;
  color: #b4b4b4; 
  margin-left: 25%;
  margin-top: 5%;
}
thead{
  background: orange;
  color:#ffffff;
}
table{
  border: 1px solid orange;
}
.issued {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  background-color: #ffffff;
   border: 3px solid green;
  color: rgb(78, 146, 78);
  text-align: center;
  font-size: 40px;
  transform: rotate(-6deg);
}
.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(31, 226, 106, 0.5);
}
.initiatecircle {
  width: 29.4px;
  height: 29.4px;
  background-color: #4879ff;
}
.line{
  heght:50px;
  width: 2%;
  color: #000000;
  
}
.connector{
  position: relative;
  border: 3px solid rgb(241, 230, 230);
  left:88px;
  top:-6px;
  border-right:0;
  border-top:0;
  border-bottom:0;
  height:30px;  
  width:10px;
  padding-bottom: 0px;
}
#setbtn{
  margin-left: 30%;
}