.container{
  font-family: 'Muli';
 font-size: 16px;
 }
 .Rectangle-820 {
  width: 1550px;
  height: 780px;
  border-radius: 5px;
  background-color: #fdfdfd;
 }
 .KYC {
  width: 1366px;
  height: 768px;
  background-color: #ffffff;
  
 }
 .KYC-Documents {
  width: 152px;
  height: 25px;
  font-family: Muli;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin: 50px 50px 50px 50px;
  color: #626262;
 }
 .Rectangle-900 {
  display: inline-block;
  width: 430px;
  height: 163.1px;
  margin: 0px 20px 20px 20px;
  border-radius: 15px;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  // box-shadow: 0 3px 6px 0 #77aaff;
  // background-color: #ffffff;
  border: 1px solid #edeef0;
  // background: #E0E0E0; 
  background: #f5f5f0;
  
 }
 .Aadhar {
  width: 200px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #626262;
  text-align: center;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 25px;
 }
 .Status-Not-uploaded {
  width: 400px;
  height: 20px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #c6c6c6;
  padding-top: 1px;
  padding-left: 100px;
  padding-bottom: 30px;
 }
 .Status-progress
 {
   margin-right:30px;
   height: 20px;
   font-family: Muli;
   font-size: 16px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.25;
   letter-spacing: normal;
   text-align: left;
   color: #c6c6c6;
   padding-top: 1px;
   padding-left: 100px;
   padding-bottom: 30px;
 }
 .active-btn
 {
  color: #f87d42 !important;
  font-weight: 800 !important;
 }
 .inactive-btn
 {
  color: #626262;
  font-weight: normal;
 }
 .Upload {
  width: 49px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
  border-bottom-left-radius: 15px;
 }
 .Pay {
  width: 20px;
  height: 19px;
  font-family: Muli;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
 }
 .Verify {
  width: 40px;
  height: 19px;
  font-family: Muli;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #626262;
  border-bottom-right-radius: 15px;
 }
 .Rectangle-905 {
  width: 140px;
  height: 46px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  // background: blue;
 }
 .Rectangle-906 {
  width: 140px;
  height: 46px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  // background: darkgreen;
 }
 .Rectangle-907 {
  width: 148px;
  height: 46px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  // background: darkorange;
 }
 .modal-dialog {
  max-width: 25%;
  margin-top: 20%;
  margin-left: 45%;
  font-size:16px;
  }
  .modal-content{
  border-radius: 20px;
  font-size:16px;
  }
  .visuallyhidden {
   display: none;
  }
  
  .wizard-progress {
   list-style: none;
   list-style-image: none;
   margin: 0;
   padding: 0;
   margin-top: -10px;
   margin-bottom: 6px;
   float: left;
   white-space: nowrap;
   
  }
  
  .wizard-progress li {
   float: left;
   margin-right: 47px;
   text-align: center;
   position: relative;
   width: 12px;
  }
  
  .wizard-progress .step-name {
   display: table-cell;
   height: 15px;
   vertical-align: bottom;
   text-align: center;
   width: 100px;
   
  }
  
  .wizard-progress .step-name-wrapper {
   display: table-cell;
   height: 100%;
   vertical-align: bottom;  
  }
  
  .wizard-progress .step-num {
   font-size: 14px;
   font-weight: bold;
   border: 2px solid #eaeaea;
   background-color: #eaeaea !important;
   // border-color: #eaeaea !important;
   // border: 3px solid #000;
   border-radius: 50%;
   width: 20px !important;
   height: 20px !important;
   display: inline-block;
   margin-top: 10px !important;
  }
  
  .wizard-progress .step-num:after {
   content: "";
   display: block;
   background: #ededed !important;
   height: 2px;
   width: 40px;
   position: relative;
   top:-13px !important;
   bottom: 5px;
   left: 18px !important;
  }
  .step-done .step-num:after {
   content: "";
   display: block;
   background: #4879ff !important;
   height: 2px;
   width: 40px;
   position: relative;
   top:-13px !important;
   bottom: 5px;
   left: 18px !important;
  }
  
  .wizard-progress li:last-of-type .step-num:after {
   display: none;
  }
  
  
  .wizard-progress .active-stepAuth1 .step-num {
   background-color: yellow !important;
   border-color: yellow !important;
  }
  .wizard-progress .step-done .step-num, .wizard-progress .active-step .step-num {
   background-color: #4879ff !important;
   border-color: #b9ccff !important;
  }
  
  .wizard-progress .active-stepIssued .step-num {
   background-color: #58cb5a !important;
   border-color: #b1ffb2 !important;
  }
  .enablebtn{
    width: 185px;
    height: 45px;   
    border-radius: 10px;
    background-color: #f87d42;
    font-family: Muli;
    font-size: 17px;
    color:#ffffff;
    margin-left: 45%;
    margin-top: 40px;
  }

  .popup-btn
  {
    background-color:#1b3764;
    color:white;
  }

  
element.style {
}
.label-txt {
    text-align: left !important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
    touch-action: manipulation;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}

.input-txt
{
  font-size: 16px !important;
}