<div class="container" style="margin-left: 3%;">
  <div *ngIf="documentUploadModal" class="overlay" (click)="closeDocumentUploadModal()"></div>    
  <div class="KYC">
    <div class="Rectangle-820">
      <p class="KYC-Documents">KYC Documents</p>
      <mat-grid-list cols="3" rowHeight="1.25:0.5" [gutterSize]="'30px'"> 
        <mat-grid-tile  *ngFor="let doc of userCountryDocuments['kycDocumentTypes'];let docloopindex=index">
          <div class="Rectangle-900" *ngFor="let docMeta of userCountryDocuments['kycDocumentTypes'][docloopindex]['kycDocumentMetas']; let docMetaloopindex=index">
            <p class="Aadhar" style="font-family: 'Muli'; font-weight: bold;color: #000000">{{docMeta['documentName']}}</p>
            <div class="row" *ngIf="docMeta['kycUserDocument']===null">
            <p class="Status-Not-uploaded" style="color:black;">Status : Not Uploaded</p>
            </div>
            <div class="row" *ngIf="docMeta['kycUserDocument']!==null"> 
                <span class="Status-progress" style="font-family: 'Muli'; font-weight: bold;color: #000000;">Status:
                <br></span>
                <ol class="wizard-progress clearfix">                  
                    <li class="step-done">                        
                        <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                        <span class="step-name">
                          Upload
                        </span>
                    </li>
                    <li [ngClass]="{'active-step':(docMeta['paymentStatus']=='undefined' && docMeta['documentStatus']!='Denied'),'step-done':(docMeta['paymentStatus']=='CONFIRMED' && docMeta['documentStatus']!='Denied')}">                  
                        <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                        <span class="step-name">Pay</span>
                    </li>                   
                    <li [ngClass]="{'active-step':(docMeta['paymentStatus']=='CONFIRMED' && docMeta['verificationStatus']=='undefined' && docMeta['documentStatus']!='Denied'),'step-done': docMeta['verificationStatus']=='CONFIRMED'}">                                              
                        <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                        <span class="step-name">Verify</span>
                    </li>
                </ol>
            </div>            
            <button class="Rectangle-905 Upload" style="text-align:center" [ngClass]="{'active-btn':docMeta['kycUserDocument']==null}" (click)="getDocumentByDocumentMetaIndex(docloopindex, docMetaloopindex,'upload')" [disabled]="!(docMeta['documentStatus']=='Denied' || docMeta['documentStatus']=='Expired' || docMeta['documentStatus']=='Approved') && (docMeta['paymentStatus']=='CONFIRMED') && (docMeta['verificationStatus']=='CONFIRMED')">Upload</button>
            <button class="Rectangle-906 Pay" style="text-align:center" [ngClass]="{'active-btn':docMeta['kycUserDocument']!=null && docMeta['kycUserDocument']['paymentTransaction']==null}" (click)="getDocumentByDocumentMetaIndex(docloopindex, docMetaloopindex,'pay')" [disabled]="!docMeta['uploadStatus'] || docMeta['paymentStatus']=='CONFIRMED' || docMeta['verificationStatus']=='CONFIRMED'">Pay</button>
            <button class="Rectangle-907 Verify" style="text-align:center" [ngClass]="{'active-btn':docMeta['kycUserDocument']!=null && docMeta['kycUserDocument']['paymentTransaction']!=null && docMeta['kycUserDocument']['verificationTransaction']==null}" (click)="getDocumentByDocumentMetaIndex(docloopindex, docMetaloopindex,'verify')" [disabled]="!docMeta['uploadStatus'] || docMeta['paymentStatus']!='CONFIRMED' || docMeta['verificationStatus']=='CONFIRMED' || docMeta['documentStatus']=='Expired'">Verify</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <button *ngIf="showEnableKycBtn" (click)="openDocumentEnableKycPassphraseModal()" class="enablebtn">Enable KYC</button>
    </div>
  </div>  
</div>

<!-- Upload Popup -->
<app-dialog [(visible)]="documentUploadModal">
  <div class="popup_dialouge poup_edit">
    <h5>UPLOAD <span class="semi-bold">DOCUMENT</span><button (click)="closeDocumentUploadModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form role="form" #documentForm="ngForm">
      <div class="form-group-attached form-group text-left popup_padding">
        <div *ngFor='let field of formFields'>          
          <label [for]='field.label'>{{field.label}}</label>:          
          <input *ngIf="field.jspattern!='NA'" class="form-control input-txt" [type]='field.type' [name]='field.name' [(ngModel)]='field.value' [placeholder]='field.placeholder' [pattern]='field.jspattern' [required]='field.required' #inputField='ngModel' (change)=fieldMetaDataValidation(inputField)>
          <input *ngIf="field.jspattern=='NA'" class="form-control input-txt" [type]='field.type' [name]='field.name' [(ngModel)]='field.value'/>
          <div *ngIf="fieldsDefaultErrors[field.name]" class="error">
                <div>{{field.label}} is required</div>
          </div> 
          <div *ngIf="fieldsInValidDataErrors[field.name]" class="error">
                <div>{{field.validationErrorMessage}}</div>
          </div>
          <div *ngIf="fieldsMinLengthErrors[field.name]" class="error">
                <div>Min Length {{field.minlength}} is required</div>
          </div>
          <div *ngIf="fieldsMaxLengthErrors[field.name]" class="error">
                <div>Length is greater than Max Length {{field.maxlength}}. Press Back Button</div>
          </div>
        </div>
        <div>
          <label>Document Image</label>:
          <input 
                type="file"
                accept="image/*" 
                name="myfile"                             
                (change)="uploadDocumentImage($event)"
                required
                #documentImage                
          />
        </div>
        <div class="form-group text-right popup_padding">
            <button type="submit" [disabled]="documentForm.invalid || !documentImageUploaded" class="popup-btn" (click)="saveAndUpdateUserDocument()">Upload</button>
        </div>
      </div>
    </form>
  </div>
</app-dialog>

<!-- Payment Passphrase popup -->
<app-dialog [(visible)]="documentPassphraseModal">
  <div class="popup_dialouge poup_edit">
    <h5>Enter <span class="semi-bold"></span>Passphrase<button (click)="closeDocumentPassphraseModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">    
      <input 
                      type="password" 
                      class="form-control input-txt" 
                      name="secret"                    
                      [(ngModel)]="passphrase"
                      placeholder="Your Passphrase" 
                      required
              />
              <br>
      <button (click)="kycPayment(passphrase)" class="popup-btn">Done</button>
      <button (click)="closeDocumentPassphraseModal()" class="popup-btn">Cancel</button>
  </form>
  </div>
</app-dialog>

<!-- Enable KYC Passphrase popup -->
<app-dialog [(visible)]="documentEnableKycPassphraseModal">
  <div class="popup_dialouge poup_edit">
    <h5>Enter <span class="semi-bold"></span>Passphrase<button (click)="closeDocumentEnableKycPassphraseModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      <input 
                      type="password" 
                      class="form-control input-txt" 
                      name="secret"                    
                      [(ngModel)]="enablekycpassphrase"
                      placeholder="Your Passphrase" 
                      required
              />
              <br>
      <button (click)="enableKycDocument()" class="popup-btn">Done</button>
      <button (click)="closeDocumentEnableKycPassphraseModal()" class="popup-btn">Cancel</button>
  </form>
  </div>
</app-dialog>

<!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
  <div class="popup_dialouge poup_edit">
    <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      {{errorMessage}}
      <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
  </form>
  </div>
</app-dialog>