.container-fluid{
  font-family: 'Muli';
  font-size: 16px;
}
body{
  width: 100%;
  height: 100%;
}
.submitbutton{
  width: 185px;
  height: 45px;
  border-radius: 10px;
  margin-left: 35%;
  background-color: #f87d42;
  font-family: Muli;
  font-size: 17px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  float: none;    
  }
.registerform label{  
  font-family: Muli;  
  font-size: 15px;  
  font-weight: 600;
  font-style: normal;  
  font-stretch: normal;  
  line-height: 1.27;  
  letter-spacing: normal;  
  text-align: left;  
  color: #b4b4b4;
}
.registerform h6{
  width: 150px;
  height: 38px;
  font-family: Muli;  
  font-size: 30px;  
  font-weight: 800;  
  font-style: normal;  
  font-stretch: normal;  
  line-height: 1.27;  
  letter-spacing: normal;  
  text-align: left;  
  color: #4b4b4b;
}
// .registerform input{
//   width: 320px;
//   height: 40px;
//   font-family: Muli;
//   font-size: 17px;
//   font-weight: 600;  
//   font-style: normal;  
//   font-stretch: normal;  
//   line-height: 1.24;  
//   letter-spacing: normal;  
//   text-align: left;  
//   color: #6f6f6f;
//   border: 0;
//   border-bottom: 1px solid #b4b4b4;
//   border-radius: 0;
//   background: transparent;
// }
.registerform ::placeholder{
  font-family: Muli;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}
.registerform select{
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--white);
}
.Ellipse-281 {
  background-color: #f5f5f5;
  border-radius: 0 53% 53% 0;
}
// .input-group{
//     width: 80%;
  
// }
.logoimage{
  margin-bottom: -130%;
}
modal-dialog {
  max-width: 25%;
  margin-top: 15%;
  margin-left: 40%;
  font-size:16px;
}
.modal-content{
  border-radius: 20px;
  font-size:16px;
}
.modal-header{
  border-bottom: 0px; 
  font-size:16px;
  background: rgb(34, 79, 163);
  border-radius:15px;
}
.modal-body{
  padding:6%;
  font-size:16px;
  // margin-top:5%;
}
.submitbtn{
  width: 145px;
  height: 36.8px;
  border-radius: 10px;
  background-color: var(--orange);
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.cancelbtn{
  width: 145px;
  height: 36.8px;
  border-radius: 10px;
  background-color:white;
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: black;
}
.modal-content{
  border: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    font-size:16px;
}
.modal-footer{
  justify-content: center;
  font-size:16px;
  // padding: 1rem;
border-top: 0px;
}
.form-control{
  margin-top:5%;
  font-size:16px;
}
.modal-title{
  font-family: Muli;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #b4b4b4; 
  margin-left: 30%;
  margin-top: 5%;
 
}
.fromcontrol input{
  height: 35px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: var(--white);
 }
 .errorok{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left:10%;
  background-color: #f87d42;
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  float: none;    
 }
 .errormsg{
   margin-top:10%;
  //  margin-left: 20%;
   font-family: Muli;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
 }
 .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 75%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: white;
  color: black;
  min-width: 50px;
  text-align: center;
  border-bottom: 2px solid #a3a3a3;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border:none;
   border-bottom: 2px solid #a3a3a3;
}
.input-field:focus {
  border-bottom: 2px solid #a3a3a3;
}
.input-group
{
  flex-wrap: initial !important;
}

body.modal-open .background-container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
//     filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
// filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
#emai1{
  background-color: #ffffff;
}