<div class="container-fluid" style="height:300% !important;position: fixed !important;width: 100% !important">
  <div class="row" style="height:100% !important;position: fixed !important;width: 100% !important">
    <div class="col-4 Ellipse-281">
      <img src="../../assets/img/logo 1.png" class="logoimage" style="width:250px;">
    </div>
    <div class="col-8 justify-content-center registerform" style="margin-top:100px;height: 100% !important;">
      <div class="container-fluid">

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-4">

          </div>
          <div class="col-6">
            <h2 style="color:#000000;font-size:26px;">Welcome Back!</h2>
            <br/>
            <h2 style="color:#a3a3a3;">Login To Continue</h2>
            <br/>

            <form method="post" action="" id="login_form" novalidate [formGroup]="loginForm" (ngSubmit)="login()">
              <!-- <div class="input-container">
                
                <input class="input-field" type="text" placeholder="Username" name="usrnm">
                <i class="fa fa-user icon"></i>
              </div> -->
              <label for="inputEmail">Email</label>

              <div class="input-container input-group">
                
                <input class="input-field" type="text" placeholder="Email" name="email" formControlName="email" id="emai1">
                <i class="fa fa-at icon" style="color:#a3a3a3;font-size: 22px;"></i>
                
              </div>
              <div 
              *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
              <div 
              *ngIf="loginForm.controls.email.errors?.email">
              <span style="color:red">Please enter valid Email</span>
            </div>
              <div 
              *ngIf="loginForm.controls.email.errors?.required"><span style="color:red">Field Mandatory</span></div>
            
            </div>
              <label for="inputPassword4">Password</label>

              <div class="input-container input-group">

                <input class="input-field " type="password" placeholder="*******" name="psw" formControlName="password">
                <i class="fa fa-lock icon" style="color:#a3a3a3;font-size: 22px;  "></i>
                
              </div>
              <div 
              *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
              <div 
              *ngIf="loginForm.controls.password.errors?.pattern">
              <span style="color:red">Please enter valid Password</span>
            </div>
              <div 
              *ngIf="loginForm.controls.password.errors?.required"><span style="color:red">Field Mandatory</span></div>
            
            </div>
            <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LclBaEUAAAAABbY0te6_aWfmHCLWabr10YIKVY5"></re-captcha> -->
              <br/>
               <button type="submit" class="btn submitbutton" [disabled]="loginForm.invalid"
                            style="margin-left:15%;">LOGIN</button>
            </form>
            <br>
            <br>
            <div class="form-row" style="margin-left:5%;font-size:20px;">
              <label><span style="font-size:18px;">Need an Account?</span></label>
              &nbsp;&nbsp;
              <a [routerLink]="['/register']" [routerLinkActive]="['router-link-active']" style="color:#1b3764;color:#000000;font-size:16px;">Register Here</a>
            </div>

        </div>
      </div>
    <!-- </div>
  </div> -->

          <br>
          <br>

            <br>
            <br>
</div>
</div>
</div>
</div>

<div class="modal" id="hllogin myModal"  [ngStyle]="{'display':display}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top:25%; left:5px;">
      
      <div class="modal-content">
          <div class="modal-header">
             

            <button type="button" class="close" (click)="onCloseHandled()" data-dismiss="modal">&times;</button>
          </div>
           <div class="modal-body">
            
              <div class="form-group col-md-12">
                  <h4>ENTER YOUR SECRET KEY</h4>
                <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password" placeholder="SecretKey" [(ngModel)]="secretkey" name="secret" #secret="ngModel" required>
                    <div *ngIf="secret.errors && (secret.dirty || secret.touched)">
                      <div [hidden]="!secret.errors.required" style="color:red;">
                        Field Mandatory
                      </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="submitbtn" (click)="hyperLedgerLogin()" [disabled]="secret.errors">DONE</button>
              <button class="cancelbtn" (click)="onCloseHandled()" data-dismiss="modal">CANCEL</button>
          </div>
        </div>
        
      </div>
    </div>


<app-dialog [(visible)]="AlertModal">
    <div class="popup_dialouge poup_edit">
    <h5 >ERROR!<button aria-label="Close" class="dialog__close-btn" (click)="closeAlertModal();">X</button></h5>
    <!-- <form #logform="ngForm"> -->
        <p class="errormsg">{{errmsg}}</p>
    <!-- </form> --><br>
     <div class="modal-footer"> 
        <button class="errorok" (click)="closeAlertModal();">OK</button>
    </div> 
</div>
</app-dialog>