/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";


 .dialog__close-btn {
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup_dialouge h5{ 
    font-weight: 100;
    font-size: 20px;
    color: #000;
    width:100%;
  }

  .popup_dialouge { 
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
  }

  .buttonOK{
    font-size: 16px;
    width: 100px !important;
    height: 40px;
    color: #ffffff;
    background-color: #f87d42;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .popup_dialouge h5>span{font-weight: bold;}
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{margin-left:0px !important; }
  .changepassword-btn{color:#fff !important;}
  .poup_edit h5{    background: #1b3764;
    margin: 0;
    padding: 20px;
    color: #fff;}
.poup_edit form{padding: 20px;}



// .errormsg{
//   margin-top:8%;
//  //  margin-left: 20%;
//   font-family: Muli;
//  font-size: 20px;
//  font-weight:400;
//  font-style: normal;
//  font-stretch: normal;
//  line-height: 1.23;
//  letter-spacing: normal;
//  text-align: center;
// }