<div class="container-fluid">
  <div *ngIf="nodata">
<p align="center" style="margin-top:20%;font-size: 20px">No Departments yet!!</p>
  </div>
  <div *ngIf="dataavailable">
        <div class="col-lg-4 raisedbox brbtm" style="margin-top:25px; border-radius:10px;"> 
          <p style="font-size: 25px;">Top 5 departments </p>
          <br>
                <!-- <div class="col-12">
                  
                  <form class="inline-form">
                    <select class="form-control-lg">
                      <option class="selected" style="background-color: rgb(248, 56, 56);color:#ffffff;"> Department</option>
                       <option *ngFor="let depnames of topdepartments">{{depnames['department']}}</option> 
                    </select>
                  </form>
                </div> -->
                <!-- <div class="pt-15"></div> -->
                <!-- <div class="tab clrblu">
                      <button class="tablinks">MONTH</button>
                      <button class="tablinks txtun ">YEAR</button>
                      
                    </div>
                     -->

                    <br><br>
                    <div class="tabcontent1 brdr" style="border-radius:10px;" *ngFor="let dep of topdepartments">
                          <h3>{{dep['department']}}</h3>
                          <p>Total certificates :<span>{{dep['count']}}</span></p> 
                    </div> 
                    <br><br>
        </div>
        <div class="col-lg-7 mt-25 " style="border-radius: 10px;">
          <div class="brbtm raisedbox" style="border-radius:10px;">
          <div class="row ">
              <div class="col-lg-6 mt-15" >
                      <p>Top 5 departments</p>
                  </div>
              <div class="col-lg-6 month">
                      <!-- <div class="custom-select brbtm mt-15" style="width:100px;">
                              <select>
                                <option value="0">month</option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                              </select>
                            </div> -->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  
                              <form class="inline-form">
                                <select class="form-control-lg" [(ngModel)]='year' [ngModelOptions]="{standalone: true}" (change)='gettopdep()' style="height:40px;">
                                  <option class="selected" style="background-color: rgb(248, 56, 56);color:#ffffff;" >Year</option>
                                  <option>2019</option>
                                  <option>2018</option>
                                  <option>2017</option>
                                  <option>2016</option>
                                  <option>2015</option>
                                  <option>2014</option>
                                </select>
                              </form>
                            </div>
                            <!-- <div class="custom-select brbtm mt-15" style="width:100px; padding-left: 5px;">
                                  <select>
                                    <option value="0">year</option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    
                                  </select>
                                </div> -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  
                                  <form class="inline-form">
                                    <select class="form-control-lg"  [(ngModel)]='month' [ngModelOptions]="{standalone: true}"  (change)='gettopdep()' style="height:40px;">
                                      <option class="selected" style="background-color: rgb(248, 56, 56);color:#ffffff;"> Month</option>
                                      <option value='1'>JAN</option>
                                      <option value='2'>FEB</option>
                                      <option value='3'>MAR</option>
                                      <option value='4'>APR</option>
                                      <option value='5'>MAY</option>
                                      <option value='6'>JUN</option>
                                      <option value='7'>JUL</option>
                                      <option value='8'>AUG</option>
                                      <option value='9'>SEP</option>
                                      <option value='10'>OCT</option>
                                      <option value='11'>NOV</option>
                                      <option value='12'>DEC</option>
                                    </select>
                                  </form>
                                </div>
        
              </div>
          </div>
          <div class="row">
                        
               
                <!-- <google-chart [data]="barChart"></google-chart> -->
                <div style="display: block; margin-left:15%" class="chart">
                  <!-- <canvas baseChart
                        
                          [datasets]="labelMFL"
                          [labels]="lineChartLabels"
                          [options]="barChartOptions"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas> -->
                          <canvas baseChart #chart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="chartColors"
                          height="250vh" width="600vw">
                  </canvas>
                </div>
          </div>
          </div>
              <div class="row  pt-15">
                  <div class="col-lg-4 brbtm m-15" style="border-radius:10px;padding: 0px;">
                      <div class="col-lg-4 pt-15">
                              <img src="../../../assets/images/Mask Group 25.png" style="background-color:#58cb5a;border-radius:50%;width:40px;padding: 10px;">
                          </div>
                      <div class="col-lg-8">
                          <h5 style="font-size:25px;">{{issuedCount}}</h5>
                          <p>Certificates Issued</p>
        
                      </div>
                 
              </div>
            
              <div class="col-lg-4 brbtm m-15" style="border-radius:10px;padding: 0px;">
                      <div class="col-lg-4 pt-15">
                              <img src="../../../assets/images/sand-clock.png" style="background-color: #ffc221; border-radius:50%; width:40px; padding: 10px;">
                          </div>
                      <div class="col-lg-8">
                          <h5 style="font-size:25px;">{{pendingCount}}</h5>
                          <p>TotalPending</p>
        
                      </div>
                 
              </div>
              <!-- <div class="col-lg-1"></div> -->
              <div class="col-lg-4 brbtm m-15" style="border-radius:10px;padding: 0px;">
                      <div class="col-lg-4 pt-15 ">
                        <img src="../../../assets/images/Group 84.png" style="margin-left:-10%;width:35px;">                 
                      </div>
                      <div class="col-lg-8">
                          <h5 style="font-size:25px;">{{recipientsCount}}</h5>
                          <p>Totalstudents</p>
        
                      </div>
        
                 
              </div>
          
        
        </div>
        <div class="row pt-15">
              <div class="col-lg-6">
                      <h5 style="font-size: 16px;">Certificates by Issuer/Authoriser</h5>
                  </div>
              <div class="col-lg-6 month">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  
                  <form class="inline-form">
  
                     <select class="form-control-lg" [(ngModel)]='issueremail' (change)='getissuerbased()' [ngModelOptions]="{standalone: true}" style="height:40px;">
                      <option class="selected" style="background-color: rgb(248, 56, 56);color:#ffffff;"> Issuer</option>
                      <option  *ngFor="let issuer of issuers">{{issuer['email']}}</option>
                    </select>
                  </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  
                  <form class="inline-form">
                    <select class="form-control-lg" [(ngModel)]='authemail' (change)='getauthorizerbased()' [ngModelOptions]="{standalone: true}">
                      <option class="selected" style="background-color: rgb(248, 56, 56);color:#ffffff; width:30px"> Authoriser</option>
                      <option *ngFor="let auth of authorizers">{{auth['email']}}</option>
                    </select>
                  </form>
                </div>
        
              </div>
          </div>
          <div class="row">
                <div style="display: block;" class="chart" >
                            <canvas baseChart #chart
                            [datasets]="barChartData1"
                            [labels]="barChartLabels1"
                            [options]="barChartOptions1"
                            [legend]="barChartLegend1"
                            [chartType]="barChartType1"
                            [colors]="chartColors1"
                            height="300vh" width="800vw">
                    </canvas>
                  </div>
          </div>
       
        </div>
      </div>
        </div>
        <script>
        var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < selElmnt.length; j++) {
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
        if (s.options[i].innerHTML == this.innerHTML) {
        s.selectedIndex = i;
        h.innerHTML = this.innerHTML;
        y = this.parentNode.getElementsByClassName("same-as-selected");
        for (k = 0; k < y.length; k++) {
        y[k].removeAttribute("class");
        }
        this.setAttribute("class", "same-as-selected");
        break;
        }
        }
        h.click();
        });
        b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
        });
        }
        function closeAllSelect(elmnt) {
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
        if (elmnt == y[i]) {
        arrNo.push(i)
        } else {
        y[i].classList.remove("select-arrow-active");
        }
        }
        for (i = 0; i < x.length; i++) {
        if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
        }
        }
        }
        document.addEventListener("click", closeAllSelect);
        
        function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }
        </script>