.container-fluid{
  font-size: 16px;
  margin-left:5%;
  font-family: 'Muli';
}
p{
  font-family: 'Muli';
}
.task
{
    height: 100%;
    width: 100%
}
.custom-select {
    position: relative;
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: white;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent black transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .tab {
    overflow: hidden;
    background-color: white;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  
  }  
  .month
  {
      display: flex;
  }

  * {box-sizing: border-box}

.containers {

  width: 100%;
  margin-top: 15px;

}

.skills {
  text-align: right;
  /* padding: 10px; */
  color: white;
}
.skills p
{
width:50%;
}


.vl {

    // border-left: 5px solid green;
    // background-image: linear-gradient(to bottom, #3beeca, #009075);
    // border-radius: 10px;
    // height: 150px;
    background-image: linear-gradient(to bottom, #3beeca, #009075);
    border-radius: 10px;
    width: 10px;
  height: 111.5px;

  }
  .v2 {
  
    // border-left: 5px solid green;
    background-image: linear-gradient(to bottom, #3beeca, #009075);
    border-radius: 10px;
    width: 10px;
  height: 111.5px;

  }

  .acc
  {
      background-color: darkblue;
      height: 700px;
  }
  .clrwt
  {
      color: white;
      text-align: center;
  }
  .li-acc li{
      list-style: none;
      padding: 15px;
      color: white;
  }
  .pt-15
  {
      padding-top: 30px;
  }

  .clrblu
  {
      color: darkblue;

//   }
//   .txtun
// {
//     text-decoration: underline;
//     color: darkblue;
// }
.brdr
{
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 18px;
}
// .brbtm
// {
//     border: 1px solid #ccc;
//     box-shadow:         1px 1px 1px 1px #ccc;
// }
// .mt-15{
//     margin-top: 15px;
// }
// .row
// {
//     margin: 0px !important;
// }
// .mt-25
// {
//     margin-top: 25px;
// }
// .pt-15{
//     padding-top: 15px;
// }
// .mar-15
// {
//     margin: 25px;
// }
  }
  .txtun
{
    text-decoration: underline;
    color: darkblue;
}
.brdr
{
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 18px;
}
.brbtm
{
    border: 1px solid #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}
.mt-15{
    margin-top: 15px;
}
.row
{
    margin: 0px !important;
}
.mt-25
{
    margin-top: 25px;
}
.pt-15{
    padding-top: 15px;
}
.mar-15
{
    margin: 25px;
    border-radius: 10px;
}
.raisedbox { 
	padding: 10px;
    // border: 1px solid #77aaff;
    border-radius: 5px;
	// box-shadow:  -1px 1px #77aaff,
	// 	 -2px 2px #77aaff,
	// 	 -3px 3px #77aaff,
	// 	 -4px 4px #77aaff,
  // 	 -5px 5px #77aaff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}

.form-control-lg{
    font-size: 16px;
    width: 100%;
    background-color: #ffffff; 
    border-radius: 6px;
}

select.form-control-lg:not([size]):not([multiple]){
height: 40px;
}