
#chart {
		position: absolute;
		top: 0;
		left: 50%;																																									-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		width:100%;
		height:100%;
		}
 .container{
	 font-family: 'Muli';
	 font-size: 16px;
 }
 #barchart{
	 border: 2px solid #000000;
	 
	  
 }
 #tab4{
	width: 100%;
	height: 96px;
	// border-radius: 5px;
	// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	// background-color: var(--white);
	// border: 1px solid #000;
	border-radius: 5px;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  	background-color: var(--white);
 }
 
 #raisedbox { 
	padding: 10px;
    // border: 1px solid #77aaff;
    border-radius: 5px;
	// box-shadow:  -1px 1px #77aaff,
	// 	 -2px 2px #77aaff,
	// 	 -3px 3px #77aaff,
	// 	 -4px 4px #77aaff,
  // 	 -5px 5px #77aaff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}
#raisedbox2 { 
	padding: 10px;
    // border: 1px solid #77aaff;
    border-radius: 5px;
	// box-shadow:  -1px 1px #77aaff,
	// 	 -2px 2px #77aaff,
	// 	 -3px 3px #77aaff,
	// 	 -4px 4px #77aaff,
  // 	 -5px 5px #77aaff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}
.form-control-lg{
    font-size: 16px;
    width: 100%;
	background-color: #ffffff;
	border-radius: 6px; 
}
