<div class="container">
  <div class="row" id="raisedbox">
    <div class="col-sm-2" style="font-size: 20px;">Top5 Departments</div>
    <div class="col-sm-3"></div>
    <!-- <div class="col-sm-3">
      <form class="inline-form">
        <select class="form-control-lg" style="height:40px;">
          <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);"> Course</option>
          <option>Engineering</option>
          <option>MCA</option>
          <option>MBA</option>
          <option>PG</option>
          <option>MSC</option>         
          <option>others</option>
        </select>
      </form>
    </div> -->
    <div class="col-sm-2">
        <select class="form-control-lg" style="height:40px;" [(ngModel)]='filteryear' [ngModelOptions]="{standalone: true}" (change)='gettopdep()'>
          <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);"> Year</option>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
        </select>

    </div>
    <div class="col-sm-2">
        <select class="form-control-lg" style="height:40px;" [(ngModel)]='month' [ngModelOptions]="{standalone: true}" (change)='gettopdep()'>
          <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);">Month</option>
          <option value='1'>JAN</option>
          <option value='2'>FEB</option>
          <option value='3'>MAR</option>
          <option value='4'>APR</option>
          <option value='5'>MAY</option>
          <option value='6'>JUN</option>
          <option value='7'>JUL</option>
          <option value='8'>AUG</option>
          <option value='9'>SEP</option>
          <option value='10'>OCT</option>
          <option value='11'>NOV</option>
          <option value='12'>DEC</option>
        </select>
    </div>

    <div class="col-sm-12">
        <div class="row" style="height:300px; ">
            <div style="display: block; margin-left:15%" class="chart">
                        <canvas baseChart #chart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="chartColors"
                        height="250vh" width="600vw">
                </canvas>
              </div>
          <!-- <google-chart [data]="barChart" id="chart"></google-chart> -->
        </div>
    </div>
  </div><br>
<div class="row">
    
    <div class="col-sm-3" id="tab4">
      <!-- <img src="../../../assets/images/Mask Group 25.png" style="background-color:#58cb5a;border-radius:50%;width:40px;padding: 10px;"> -->
      <img src="../../../assets/images/Mask Group 6.png"  style="float:left;padding: 10px;border-radius:50px;background-color: green; ">
      
      <p style="font-size: 25px;text-align: center;">{{certsissued}}</p>
      <p style="font-size: 14px;text-align: center;">Total Certificates Issued</p>
    </div>
    <div class="col-sm-1">

    </div>
    
    <div class="col-sm-3" id="tab4">
      <!-- <img src="../../../assets/images/sand-clock.png" style="background-color: #ffc221; border-radius:50%; width:40px; padding: 10px;"> -->
      <img src="../../../assets/images/icons8-file-delete-64.png" style="float:left;padding: 10px;border-radius:50px;background-color: purple;" >
      
      <p style="font-size: 25px;text-align: center;">{{certsrejeted}}</p>
      <p style="font-size: 14px;text-align: center;">Certificates Rejected</p>
    </div>
    <div class="col-sm-1">
      
    </div>
    <div class="col-sm-3" id="tab4">
      <!-- <img src="../../../assets/images/Group 84.png" style="width:35px;">                  -->
      <img src="../../../assets/images/Group 84.png" style="float:left;border-radius:50px;padding:10px;  " >
      
      <p style="font-size: 25px;text-align: center;">{{studentscount}}</p>
      <p style="font-size: 14px;text-align: center;">Total Students</p>
    </div>
    <div class="col-sm-1">
      
      </div>
</div><br>
<div class="row" id="raisedbox2">
  <!-- <div class="col-sm-5"></div> -->
  <!-- <div class="col-sm-3">
    <form class="inline-form">
      <select class="form-control-lg" style="height:40px;">
        <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);"> Course</option>
        <option>Engineering</option>
        <option>MCA</option>
        <option>MBA</option>
        <option>PG</option>
        <option>MSC</option>
      </select>
    </form>
  </div> -->
  <!-- <div class="col-sm-2">
    <form class="inline-form">
      <select class="form-control-lg" style="height:40px;">
        <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);"> Year</option>
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
      </select>
    </form>
  </div> -->
  <!-- <div class="col-sm-2">
    <form class="inline-form">
      <select class="form-control-lg" style="height:40px;">
        <option class="selected" style="color:#ffffff; background-color: rgb(248, 56, 56);"> Department</option>
        <option>Mechanical</option>
        <option>Computer Science</option>
        <option>Civil</option>
        <option>EEE</option>
        <option>ECE</option>
        <option>Information Technology</option>
        <option>Biology</option> 
        <option>others</option>
      </select>
    </form>
  </div> -->
    <div class="col-sm-4">
        <div class="chart" style="display: block; margin-top:5%">
           <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [options]="pieChartOptions"
                  height="400vh" width="400vw">
                </canvas>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="chart" style="display: block;">
                <canvas baseChart #chart
                [datasets]="barChartData1"
                [labels]="barChartLabels1"
                [options]="barChartOptions1"
                [legend]="barChartLegend1"
                [chartType]="barChartType1"
                [colors]="chartColors1"
                height="300vh" width="500vw">
        </canvas>
        <!-- <google-chart [data]="columnChart" id="chart"></google-chart>  -->
        </div>
    </div>
  </div>
  </div>

     <!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
  <div class="popup_dialouge poup_edit">
    <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      {{errorMessage}}
      <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
  </form>
  </div>
</app-dialog>
  

