.container{
    font-family: 'Muli';
    font-size: 16px;
}
#pack1{
    // text-align: center;
    border: 1px #ccc solid;
    background: #ffffff;
    border-radius: 15px;
    // width: 300px;
    // height: 150px;

   
}
#form1{
    border: 1px #ccc solid;
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
    color: #000;
    font-family: 'Muli';
    border: 1px solid #ccc;

    // width: 300px;
    // height: 150px;
}
#successfullyapplied{
    padding: 10px;
    font-family: 'Muli';
    border: 1px solid #ccc;
    border-radius: 10px;
}
#proceed1{
    border: 1px solid orange;
    border-radius: 3px;
    background: orange;
    color: #ffffff;
    width: auto;
    height: auto;
    // margin-left: 35%;
}
#name1{
    color: #000000;
    font-weight: 720;
    text-align: center;
}



.modal-dialog {
    max-width: 25%;
    margin-top: 20%;
    margin-left: 45%;
    font-size:16px;
    }
    .modal-content{
    border-radius: 20px;
    font-size:16px;
    }
    .modal-header{
        border-bottom: 0px; 
        font-size:16px;
        background: rgb(34, 79, 163);
        border-radius:15px;
        }
        .modal-body{
        padding:6%;
        font-size:16px;
        // margin-top:5%;
        }
        
        
        .submitbtn{
        width: 145px;
        
        height: 36.8px;
        
        border-radius: 10px;
        
        background-color: var(--orange);
        
        font-family: Muli;
        
        font-size: 13px;
        
        font-weight: 900;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.23;
        
        letter-spacing: normal;
        
        text-align: center;
        
        color: var(--white);
        
        }
        
        
        .cancelbtn{
        width: 145px;
        
        height: 36.8px;
        
        border-radius: 10px;
        
        background-color:white;
        font-family: Muli;
        
        font-size: 13px;
        
        font-weight: 900;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.23;
        
        letter-spacing: normal;
        
        text-align: center;
        
        color: black;
        
        }
        
        
        .modal-content{
        border: 0px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        font-size:16px; 
        }
        
        .modal-footer{
        justify-content: center;
        // padding: 1rem;
        border-top: 0px;
        font-size:16px;
        }
        
        
        .form-control{
        margin-top:5%;
        font-family: 'Muli';
        font-size: 16px;
        }
        
        
        
        .modal-title{
        font-family: Muli;
        
        font-size: 15px;
        
        font-weight: 600;
        
        font-style: normal;
        
        font-stretch: normal;
        
        line-height: 1.27;
        
        letter-spacing: normal;
        
        text-align: left;
        
        color: #b4b4b4; 
        margin-left: 30%;
        margin-top: 5%;
        font-size:16px;
        
        
        }
        
        #bar1{
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
        }
        .bar2{
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
        }
        .card1{
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        .bar3{
            border: 1px solid rgb(51, 65, 190);
            border-radius: 5px;
            padding: 10px;
            // height: auto;
            // width: auto;
        }
        .btn-coupon2{
            background: rgb(243, 225, 143);
            border: 1px solid rgb(172, 210, 231);
            border-radius: 5px;
            font-weight: 820;
        }
        #btn-coupon23{
             font-family: 'Muli';
            font-weight: 820;
            
        }
        #name1{
            color: #000000;
            font-weight: 720;
            text-align: left;
        }
        // #proceed1{
        //     border: 2px solid rgb(67, 67, 224);
        //     border-radius: 3px;
        //     background: #415bf6;
        //     color: #ffffff;
        //     border-radius: 6px;
        //     /* margin-top: 4px; */
        //      margin-right: 20%; 
        //     /* position: fixed !important; */
        
        // }