<div class="container">
  <div class="row" >
    <div class="col-md-12" >
        <div class="col-md-4" id="pack1" *ngFor="let list of packagesList" style="padding:10px;">
            <!-- <p id="name1">{{list['name']}}<span><input type="button" value="Proceed" data-toggle="modal" data-target="#proceed2" id="proceed1" (click)="getcoupons(list['name'])"></span></p> -->
            <div class="row">
                <div class="col-md-6">
                    <p id="name1">{{list['name']}}</p>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 col-12">
                    <input type="button" value="Proceed" data-toggle="modal" data-target="#proceed2" id="proceed1" (click)="getcoupons(list['name'])">
                </div>
                <div class="col-md-2">

                  </div>
            </div>
            <form id="form1">
              <p>Total Certificates:<span>{{list['totalcerts']}}</span></p>
              <p>Launch Benefits:<span>{{list['freecerts']}} free certs</span></p>
              <p>Cost Per Certificate:<span>{{list['cpc']}}$</span></p>
              <p>Validity:<span>{{list['validity']}}years</span></p>
              <!-- <input type="button" value="Proceed" data-toggle="modal" data-target="#proceed2" id="proceed1" (click)="getcoupons(list['name'])"> -->
            </form><br>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>



<div class="modal"  [ngStyle]="{'display':showipayform}" id="showipay" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color:#ffffff;font-size: 18px;"></h4>
          <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
         <div class="modal-body">
          <!-- <form class="form-inline" role="form" method="post" action="#" id="payslip"> -->
              <div >
            <div class="form-group col-md-12 col-12">
              <input type="text" class="form-control" id="checkbox2" [(ngModel)]="username" placeholder="username" />
              
           </div>
           <div class="form-group col-md-12 col-12">
            <input type="text" class="form-control" id="checkbox3" [(ngModel)]="contact" placeholder="contact" />   
        </div>
        
        </div>
      <!-- </form> -->
        </div>
        <div class="modal-footer">
            <button class="submitbtn" data-dismiss="modal" (click)="navigate();closeform()">SUBMIT</button>
            <button class="cancelbtn"  data-dismiss="modal" (click)="closeform()">CLOSE</button>
        </div>
      </div>
      </div>
      </div>

 


<div class="modal fade" id="proceed2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="color:#ffffff;font-size: 18px;">Available Coupons</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
          
           <div class="modal-body">
              
             <div *ngFor="let coupons of couponsList" >
                <form class="form-inline" role="form" method="post" action="#" id="payslip">
                    <div class="bar2">
              <div class="form-group col-md-12 col-12">
                  <!-- <label class="col-md-6 col-12">{{coupons['name']}}</label> -->
                  <button type="button" class="btn btn-coupon2 col-md-4" id="coupon23" style="font-size: 12px;" > <span><img src="../../../assets/img/logobel.png" style="width:30px; height:30px;"></span>{{coupons['name']}}</button>
                  <div class="col-md-6"> </div>
                  <div class="col-md-2">
                       <a style="color:orange;text-decoration: none;margin-bottom: 10px;" (click)="applyCoupon(coupons['name'])">apply</a> 
                 </div> 
              </div>
              <div class="form-group col-md-12 col-12">
                 <label>Avail {{coupons['type']}} {{coupons['percent']}}% Discount. Valid upto {{coupons['enddate']}}</label>    
             </div>
            </div>
          </form><br>

            </div>

            
            <div *ngIf="couponapplied" id="successfullyapplied">
                <button type="button" class="close"  (click)="removecoupon()">x</button>
              <p align="center" style="font-family: 'Muli'; font-weight: 12px">Your coupon {{couponCode}} is successfully applied</p>
              <!-- <button type="button" (click)="removecoupon()">X</button> -->
            </div>

          </div>

          <div class="modal-footer">
              <button class="submitbtn" data-dismiss="modal"  (click)=proceedToPay()>PAY</button>
              <button class="cancelbtn"  data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
        </div>



        <div class="modal fade" id="proceed3" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" style="color:#ffffff;font-size: 18px;">Payment Mode</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                   <div class="modal-body">
                    <form class="form-inline" role="form" method="post" action="#" id="payslip">
                        <div class="bar2">
                      <div class="form-group col-md-12 col-12">
                         <label for="ps_empname" class="col-md-8 col-12"> Currency</label>
                         <div class="round col-md-2" >

                            <input  type="radio" style="width: 20px; height: 20px;" name="bank" id="currency" value="currency" (change)="getcurrencytype($event)" />
                            
                          </div>
                        
                     </div>
                     <div class="form-group col-md-12 col-12">
                      <label for="ps_empname" class="col-md-8 col-12">Crypto Currency</label>
                      <div class="round col-md-2" >
                         <input  type="radio" style="width: 20px; height: 20px;"  name="bank" id="crypto" value="cryto" (change)="getcurrencytype($event)" />
                         
                       </div>
                     
                  </div>
                  
                  </div>
                </form>
                  </div>
                  <div class="modal-footer">
                      <button class="submitbtn" data-dismiss="modal" (click)=redirectTo()>PAY</button>
                      <button class="cancelbtn"  data-dismiss="modal">Close</button>
                  </div>
                </div>
                </div>
                </div>
        
 <!--proceed button end -->
 <!--pay button Modal -->
 <div id="pay2" style="position: fixed;display: none;background: forestgreen;top: 40%;left: 45%;z-index: 20000" role="dialog" >
    <p style="background: gold;"> Thi i Pay</p>
 </div>

 <div id="pay11" class="modal fade" role="dialog" >
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <div class="topsec">
                <img src="../../lib/img/ico1.svg">
             </div>
          </div>
          <div class="modal-body">
             <form class="form-inline" role="form" method="post" action="#" id="payslip">
                <div class="form-group col-md-12 col-12">
                    <label for="ps_empname" class="col-md-8 col-12">Net Banking </label>
                    <div class="round col-md-2" >
                      <input type="checkbox" id="checkbox1" />
                      
                    </div>
                </div>
                <div class="form-group col-md-12 col-12">
                   <label for="ps_empname" class="col-md-8 col-12">CC/DC </label>
                   <div class="round col-md-2" >
                      <input type="checkbox" id="checkbox2" />
                      
                    </div>
                  
               </div>
               <div class="form-group col-md-12 col-12">
                <label for="ps_empname" class="col-md-8 col-12">Crypto </label>
                <div class="round col-md-2" >
                   <input type="checkbox" id="checkbox3" />
                   
                 </div>
               
            </div>
             </form><br>
          
             <div class="form-group row">
                <div class="col-12">
                   <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-info btn-lg" onclick="" data-dismiss="modal">OK</button>
                </div>
             </div> 
          </div>
       </div>
    </div>
 </div>

 <!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
    <div class="popup_dialouge poup_edit">
      <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
      <form #docKycPaymentForm="ngForm">
        {{errorMessage}}    
    </form>
    </div>
    </app-dialog>



 <app-dialog [(visible)]="AlertModal">
  <div class="popup_dialouge poup_edit">
  <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">{{alertmsg}}</p>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closeAlertModal()">OK</button>
  </div> 
</div>
</app-dialog>