<div class="container" style="font-size:1.5rem !important; overflow: visible" >
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>Page not found</h2>
      
      <a href="http://certificate.beldapps.com">Go To Homepage</a>
    </div>
  </div>
</div>

