<div class="container" style="font-size:1.5rem !important; overflow: visible" >
  <div class="container-fluid" id="Rectangle-820">
          <div id="div1" [ngClass]="activeFlag===1?'active':'inactive'" (click)=getPendingAuthCerts()>  
              <img src="../../../assets/images/icons8-rubber-stamp-64-2.png" style="float:left;padding: 20px" id="Ellipse-yellow">
              <h2 style="font-size:5rem">{{pending_authorization_count}}</h2>
              <p style="font-size:12px;">PENDING AUTHORIZATION</p>
          </div>
      
          <div id="div1" [ngClass]="activeFlag===2?'active':'inactive'" (click)=getRejectedCerts()>
              <img src="../../../assets/images/icons8-file-delete-64.png" style="float:left;padding: 20px" id="Ellipse-pink">   
              <h2 style="font-size:5rem">{{rejected_count}}</h2> 
              <p style="font-size:12px;">CERTIFICATES REJECTED</p>
          </div>
      
          <div id="div1" [ngClass]="activeFlag===3?'active':'inactive'" (click)=getAuthorizedCerts()>
              <img src="../../../assets/images/Mask Group 6.png" style="float:left;padding: 25px" id="Ellipse-green">   
              <h2 style="font-size:5rem">{{signCount}}</h2> 
              <p style="font-size:12px;">CERTIFICATE AUTHORIZED</p>
          </div>   

          <div *ngIf="showimage">
            <p class="ZeropendingCertsText">{{imgMessage}}</p><br>                
            <div class="container">                    
                <img src="../../../assets/images/DoneIllus@4x.png" style="padding: 0px 100px 20px 350px;"/>
            </div>
          </div>

          <!-- <div *ngIf="showimage">
            <img src="../../../assets/images/DoneIllus@4x.png" style="padding: 0px 100px 20px 350px;"/>                           
          </div> -->

          <div *ngIf="display_pending_authorizations"> 
             
            
              <h2>PENDING AUTHORIZATION</h2>
              <form>
                <div class="form-group">
              <select
        style="float:right; margin-top:-30px;  margin-right: 55px; width: 191px; height: 35px; border-radius: 5px; border: solid 1px #eaeaea; background-color: var(--white);"
        [(ngModel)]='pendingauthfilter'  [ngModelOptions]="{standalone: true}" (change)='applyPendingAuthfilter()' class="form-control">
        <option value="departments">Departments</option>
        <option *ngFor="let dep of authdepartments">{{dep}}</option>
        <option>none</option>
      </select>
    </div>
  </form>
      <br>
      <div class="col-md-12 asset-scroll" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"          
      [infiniteScrollContainer]="selector"
      [infiniteScrollDisabled]="scrollDisable"
      [fromRoot]="true"
      [scrollWindow]="false"
      (scrolled)="onPendingScrollDown()"
      (scrolledUp)="onUp()">
                      <table style="width:100% !important; ">
                    <thead>
                          <tr>
                              <td>
                                  <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll('pending');"/>
                                </td>
                              <td > <span class="stdname"><strong>DEPARTMENT</strong></span> </td>                              
                              <td ><strong>CERTIFICATE ID</strong></td>
                              <td ><strong>ISSUER ID</strong></td>
                              <td ><strong>STUDENT NAME </strong></td>
                              <td ><strong>TIME</strong> </td>
                              <td > </td>
                              <td > </td>
                              <td > </td>                                  
                          </tr>
                        </thead>
                        <tbody  *ngFor="let cert of pendingList">
                          <tr>
                          <td ><input type="checkbox" [(ngModel)]="cert.selected" (change)="checkIfAllSelected('pending');" class="pending" /></td>
                          <td >{{cert.departmentName}}</td>
                          <td >{{cert.pid}}</td>
                          <td >{{cert.iid}}</td>
                          <td >{{cert.receipientName}}</td>
                          <td >{{cert.timestampp | date: 'medium'}}</td>
                          <td ><ol class="wizard-progress clearfix">
                              <li class="active-step">                        
                                  <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                  <span class="step-name">
                                    initiated
                                  </span>
                              </li>
                              <li [ngClass]="{'signed-step':auth.status=='signed','unsigned-step':auth.status=='unsigned'}" *ngFor="let auth of authStatus">                       
                                <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                <span class="step-name">{{auth.level}}</span>
                            </li>
                              <li>                        
                                  <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                  <span class="step-name">Issuer</span>
                              </li>
                          </ol></td>                          
                          <td><input type="button" value="Sign" (click)="openAuthorizeModal(cert.pid)" class="viewtable"></td>
                          <td><input type="button" value="Reject" (click)="openRejectModal(cert.pid)" class="viewtable"></td>
                          </tr>
                        </tbody>                                
                      </table>
                    </div>
                    <br>
                    
              <input type="button" value="Sign" (click)="openBulkAuthorize()" class="bulkauth">
              <br>
          </div>                    

          <div *ngIf="display_rejected">   
              <h2>CERTIFICATES REJECTED</h2>     
              <h2>{{message2}}</h2> 
              <form>
                <div class="form-group"> 
              <select
              style="float:right; margin-top:-30px; margin-right: 55px;   width: 191px; height: 35px; border-radius: 5px; border: solid 1px #eaeaea; background-color: var(--white);"
              [(ngModel)]='certsrejectedfilter' (change)='applyRejectedfilter()' class="form-control">
              <option value="departments">Departments</option>
              <option *ngFor="let dep of authdepartments">{{dep}}</option>
              <option>none</option>
            </select> 
          </div>
        </form>                         
            <br>
            <div class="col-md-12 asset-scroll" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"          
      [infiniteScrollContainer]="selector"
      [infiniteScrollDisabled]="scrollDisable"
      [fromRoot]="true"
      [scrollWindow]="false"
      (scrolled)="onRejectedScrollDown()"
      (scrolledUp)="onUp()">
                        <table style="width:100% !important; ">
                          <thead  >
                            <tr>
                                <td > <span class="stdname"><strong>DEPARTMENT</strong></span> </td>                                
                                <td ><strong>CERTIFICATE ID</strong></td>
                                <td ><strong>ISSUER ID</strong></td>
                                <td ><strong>STUDENT NAME</strong></td>
                                <td ><strong>TIME</strong> </td>
                                <td > </td>                                
                            </tr>
                          </thead>
                          <tbody *ngFor="let cert of authRejection">
                            <tr>
                            <td >{{cert.departmentName}}</td>
                            <td >{{cert.pid}}</td>
                            <td >{{cert.iid}}</td>
                            <td >{{cert.receipientName}}</td>
                            <td >{{cert.timestamp | date: 'medium'}}</td>
                            <td ><ol class="wizard-progress clearfix">
                                <li class="active-step">                        
                                    <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                    <span class="step-name">
                                      initiated
                                    </span>
                                </li>
                                <li [ngClass]="{'signed-step':auth.status=='signed','unsigned-step':auth.status=='unsigned','rejected-step':auth.status=='rejected'}" *ngFor="let auth of cert.authStatus">                       
                                  <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                  <span class="step-name">{{auth.level}}</span>                        
                              </li>
                                <li>                        
                                    <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                    <span class="step-name">Issuer</span>
                                </li>
                            </ol></td>                            
                            </tr>
                          </tbody>                                              
                        </table>
                    </div>                                
              </div>                                                                                            
            <div *ngIf="display_authorized">     
                <h2>CERTIFICATES AUTHORIZED</h2> 
                <h2>{{message3}}</h2>  
                <form>
                  <div class="form-group">  
                <select style="float:right; margin-top:-30px; margin-right: 55px;  width: 191px;height: 35px;border-radius: 5px;border: solid 1px #eaeaea;background-color: var(--white);"
                [(ngModel)]='certsauthorizedfilter' (change)='applyAuthorizedfilter()' class="form-control" [ngModelOptions]="{standalone: true}">
                <option>Departments</option>
                <option value={{dep}} *ngFor="let dep of authdepartments">{{dep}}</option>
                <option>none</option>
              </select> 
            </div>
          </form>
              <div class="col-md-3 nopadding" style="margin-left:70%;">
                 
                </div>
                    <br>
                    <div class="col-md-12 asset-scroll" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"          
      [infiniteScrollContainer]="selector"
      [infiniteScrollDisabled]="scrollDisable"
      [fromRoot]="true"
      [scrollWindow]="false"
      (scrolled)="onAuthorizedScrollDown()"
      (scrolledUp)="onUp()">
                      <table style="width:100% !important; ">
                    <thead>
                          <tr>
                              <td > <span class="stdname"><strong>DEPARTMENT</strong></span> </td>                              
                              <td ><strong>CERTIFICATE ID</strong></td>
                              <td ><strong>ISSUER ID</strong></td>
                              <td ><strong>STUDENT NAME </strong></td>
                              <td ><strong>TIME</strong> </td>
                              <td > </td>
                             
                          </tr>
                        </thead>
                        <tbody *ngFor="let cert of AuthSigned">
                          <tr>
                          <td >{{cert.departmentName}}</td>
                          <td >{{cert.pid}}</td>
                          <td >{{cert.iid}}</td>
                          <td >{{cert.receipientName}}</td>
                          <td >{{cert.timestamp | date: 'medium'}}</td>
                          <td ><ol class="wizard-progress clearfix">
                              <li class="active-step">                        
                                  <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                  <span class="step-name">
                                    initiated
                                  </span>
                              </li>
                              <li [ngClass]="{'signed-step':auth.status=='signed','unsigned-step':auth.status=='unsigned'}" *ngFor="let auth of cert.authStatus">                       
                                <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                <span class="step-name">{{auth.level}}</span>
                            </li>
                              <li>                        
                                  <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                                  <span class="step-name">Issuer</span>
                              </li>
                          </ol></td>                              
                          </tr>
                        </tbody>                                                    
                      </table>   
                      </div>                                                            
          </div>                  
</div>
</div>
  
<!-- Authorize popup -->
<app-dialog [(visible)]="authorizeModal">
<div class="popup_dialouge poup_edit">
<h5>Authorize <span class="semi-bold"></span>Certificate<button (click)="closeAuthorizeModal()" aria-label="Close"
  class="dialog__close-btn">X</button></h5>
  <img src="../../../assets/images/CertificateDummy.png" style="margin-left:50px;height:300px;width:240px;">     
  <form class="col-sm-12">    
    <input type="password" class="form-control" name="secretkey"  #secretkey="ngModel" required [(ngModel)]="passphrase"  placeholder="Your Passphrase"/>  
    <div *ngIf="secretkey.errors && (secretkey.dirty || secretkey.touched)">
      <div [hidden]="!secretkey.errors.required">
        <span style="float:left; color:red;">  Field Mandatory</span>
      </div>
    </div>                  
    <br>
    <button class="submitbtn" (click)="authorize()" [disabled]="secretkey.errors">AUTHORIZE</button>    
  </form>  
</div>
</app-dialog>

<!--Bulk Authorize popup -->
<app-dialog [(visible)]="bulkAuthorizeModal">
    <div class="popup_dialouge poup_edit">
    <h5>Authorize <span class="semi-bold"></span>Certificate<button (click)="closeBulkAuthorizeModal()" aria-label="Close"
      class="dialog__close-btn">X</button></h5>
      <img src="../../../assets/images/CertificateDummy.png" style="margin-left:50px;height:300px;width:240px;">     
      <form class="col-sm-12">    
        <input type="password" class="form-control" name="bulksecret"  #bulksecret="ngModel" required [(ngModel)]="bulkpassphrase" placeholder="Your Passphrase"/>  
        <div *ngIf="bulksecret.errors && (bulksecret.dirty || bulksecret.touched)">
          <div [hidden]="!bulksecret.errors.required">
        <span style="text-align:left; color:red;">  Field Mandatory</span>
          </div>
        </div>                   
        <br>
        <button class="submitbtn" (click)="bulkAuthorize();closeBulkAuthorizeModal()" [disabled]="bulksecret.errors">AUTHORIZE</button>    
      </form>  
    </div>
    </app-dialog>

<!-- Reject popup -->
<app-dialog [(visible)]="rejectModal">
<div class="popup_dialouge poup_edit">
<h5>Reject <span class="semi-bold"></span>Certificate<button (click)="closeRejectModal()" aria-label="Close"
  class="dialog__close-btn">X</button></h5>
  <img src="../../../assets/images/CertificateDummy.png" style="margin-left:50px;height:300px;width:240px;">
  <form>
    <div class="form-group">
      <select class="form-control" style="width:100%; height:10%;font-size:20px;margin-bottom: 10px;" (change)="setRejectReason()" [(ngModel)]="reason" name="reasonField"  #reasonField="ngModel" required [ngModelOptions]="{standalone: true}" required>
          <option selected>Select a reason for rejection</option>              
          <option *ngFor="let cause of reasonList">{{cause}}</option>  
          <option>other</option>  
      </select>  
    </div>
  </form>  
      <div *ngIf="reasonField.errors && (reasonField.dirty || reasonField.touched)">
        <div [hidden]="!reasonField.errors.required">
          Field Mandatory
        </div>
      </div><br>
      <div *ngIf="rejectReasonOther">
      <input type="textarea" style="width:100%; height:10%;font-size:20px;margin: 10px 0px;"  class="form-control" [(ngModel)]="comments" [ngModelOptions]="{standalone: true}" placeholder="Comments" name="commentsField"  #commentsField="ngModel" required><br>
      <div *ngIf="commentsField.errors && (commentsField.dirty || commentsField.touched)">
        <div [hidden]="!commentsField.errors.required">
         <span style="text-align:left; color:red;">Field Mandatory</span>
        </div>
      </div>
    </div>
      <button class="submitbtn" (click)="reject()" style="margin-left: 35%;">REJECT</button>      
  
</div>
</app-dialog>

<!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
<div class="popup_dialouge poup_edit">
  <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
  <form #docKycPaymentForm="ngForm">
    {{errorMessage}}    
</form>
</div>
</app-dialog>
