.container{
  font-family: 'Muli';
  font-size: 16px;
}
.ZeropendingCertsText {
  width: 500px;
  height: 20px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin-left: 400px;
  margin-top: 300px;
  color: #969696;
}
.active {
width: 322px;
height: 142px;
box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.12);
background-color: var(--white);
}
.inactive {
width: 322px;
height: 142px;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
background-color: var(--white);
}
#Ellipse-yellow {
width: 85px;
height: 85px;
background-color: #ffc221;
border-radius: 50%;
}
#Ellipse-green {
width: 85px;
height: 85px;
background-color: #58cb5a;
border-radius: 50%;
}
#Ellipse-pink {
width: 85px;
height: 85px;
background-color:  #ff7791;
border-radius: 50%;
}
#Rectangle-864 {
width: 1068px;
height: 20px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
background-color:#ffffff;
padding: 0px;
margin: 2px;
}
table tr td{
  text-align: center;
}
// .circle1 {
//   width: 25px;
//   height: 25px;
//   background-color: #4879ff;
// }
// .circle2 {
//     width: 25px;
//     height: 25px;
//   background-color: yellow;
// }
// .circle3 {
//     width: 25px;
//     height: 25px;
//   background-color: yellow;
// }
// .circle4 {
//     width: 25px;
//     height: 25px;
//   background-color: yellow;
// }
// .circle5 {
//     width: 25px;
//     height: 25px;
//   background-color: green;
//   border-radius:50%;
// }
// .circle6 {
//     width: 25px;
//     height: 25px;
//   background-color:#eaeaea;
//   border-radius:50%;
// }
// .circle7 {
//     width: 25px;
//     height: 25px;
//   background-color: red;
//   border-radius:50%;
// }

.asset-scroll{
  height:500px;
  overflow-y:scroll ;
}
.issuecertbtn {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--orange);
    border: 2px solid orange;
    margin-left: 40%;
}
#Rectangle-820 {
width: 1144px;
height:100%;
border-radius: 5px;
background-color: var(--white-grey);
}
#div1 {
width: 300px;
height: 150px;
text-align: center;
border: 1px #ccc solid;
background: #ffffff;
padding: 25px;
margin: 25px;
border-radius: 10px;
font-size: 14px;
float: left;
margin-right: 40px;
}
#div1 h2{
font-size: large;
}
.div11 td{
width: 25%;
}
.div11 td span{
float: left;
}
.modal-dialog {
max-width: 25%;
margin-top: 20%;
margin-left: 45%;
font-size:16px;
}
.modal-content{
border-radius: 20px;
font-size:16px;
}
.form-control{
  font-size:16px;
}
.submitbtn {
  width: 185px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--orange);
  color:#ffffff;
  border: 1px solid orange;
  font-size: 13px;
  }
  .cancelbtn{
  width: 185px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #d8d8d8;
  background-color: var(--white);
  font-size: 13px;
  }
  .viewtable{
    width: 60px;
    height: 30px;
    background: orange;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid orange;
   }
   .bulkauth{
     margin-top:5%;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--orange);
    border: 2px solid orange;
    margin-left: 40%;
    color:#ffffff;
   }
   .dot-verified-circle{
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    margin-top: 7px;
  }
  .dot-unverified-circle{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    margin-top: 7px;
  }
  .progressbaractive{
    position: relative;
      // height: 2px;
      box-shadow: none;
      margin: 0px -2px;
      bottom: -10px;
      left: 3px;
      box-shadow: none;
      background: red;
      width: 10px;
      // width: calc(100% - 3px);
  }
  
  
  .visuallyhidden {
    display: none;
  }
  
  .wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    float: left;
    white-space: nowrap;
    
  }
  
  .wizard-progress li {
    float: left;
    margin-right: 47px;
    text-align: center;
    position: relative;
    width: 12px;
  }
  
  .wizard-progress .step-name {
    display: table-cell;
    height: 15px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
    
  }
  
  .wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;    
  }
  
  .wizard-progress .step-num {
    font-size: 14px;
    font-weight: bold;
    border: 2px solid  #eaeaea;
    background-color: #eaeaea !important;
    // border-color: #eaeaea !important;
    // border: 3px solid #000;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    display: inline-block;
    margin-top: 10px !important;
  }
  
  .wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #ededed !important;
    height: 2px;
    width: 40px;
    position: relative;
    top:-3px !important;
    bottom: 5px;
    left: 18px !important;
  }
  
  .wizard-progress li:last-of-type .step-num:after {
    display: none;
  }
  
  
  .wizard-progress .active-stepAuth1 .step-num {
    background-color: yellow !important;
    border-color: yellow !important;
  }

  .wizard-progress .signed-step .step-num {
    background-color: yellow !important;
    border-color: lightyellow !important;
  }
  
  .wizard-progress .unsigned-step .step-num {
    background-color: #ededed !important;
    border-color: #ededed !important;
  }
  
  .wizard-progress .rejected-step .step-num {
    background-color: red !important;
    border-color: lightsalmon !important;
  }
  
  .wizard-progress .active-step .step-num {
    background-color: #4879ff !important;
    border-color: #b9ccff !important;
  }
  
  .wizard-progress .active-stepIssued .step-num {
    background-color: #58cb5a !important;
    border-color: #b1ffb2 !important;
  }

  .t-form {
    display: flex;
    width: 1280px;
    border: 1px #ccc solid;
    border-radius: 10px;
    margin: 25px 0;
    padding: 5px 0px;
   
  }
  thead {
    width: 100%;
    text-align: center;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 75px;
    background-color: #f7f8f9;
    color: orange;
  }
  tbody{
    width: 100%;
    height: 75px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #f7f8f9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  th, td {
    padding: 1em;
    // background: #ddd;
    border-bottom: 2px solid white; 
  }
  body {
    margin: 3em;
  }
  thead {
    width: 100%;
    text-align: center;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 75px;
    background-color: #f7f8f9;
    color: orange;
  }
  tbody{
    width: 100%;
    height: 75px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #f7f8f9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  th, td {
    padding: 1em;
    // background: #ddd;
    border-bottom: 2px solid white; 
  }
  body {
    margin: 3em;
  }