.main-container {
    // margin-top: 0%;
    height:90vh;
    margin-left: 10%;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    
     background-color: white;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
        background-color: white;
    }
}
