.container{
  
  font-family: 'Muli';
  font-size: 16px;
}
ul li a:hover{
  text-decoration: underline;
  width: 100%;
}
.form-control{
  font-size: 16px;
 }
 .form-group{
  font-size:16px;
 }
.authorizer {
    width: 150px;

    height: 50px;

    font-family: Muli;

    font-size: 14px;

    font-weight: bold;

    font-style: normal;

    font-stretch: normal;

    line-height: 1.27;

    letter-spacing: normal;

    text-align: left;

    color: #b9b9b9;
}

.activecard{
  width: 322px;
  height: 142px;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white);
 }
 
 .inactivecard {
  width: 322px;
  height: 142px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
 }

.issuer {
    width: 155px;
    height: 50px;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #1b3764;
}

.superadmintables td {
    font-family: Muli;

font-size: 16px;
font-weight: normal;

font-style: normal;

font-stretch: normal;

line-height: 1.27;

letter-spacing: normal;

text-align: center;

color: #484848;
}


.superadmintables th{
font-family: Muli;

font-size: 15px;

font-weight: 800;

font-style: normal;

font-stretch: normal;

line-height: 1.4;

letter-spacing: normal;

text-align: center;

color: #797979;
}

.superadmintables {
    margin-left: 2%;

    width: 98%;

    // height: 350px;

    border-radius: 5px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}
.adduserbtn{

width: 220px;

height: 50px;

border-radius: 10px;

background-color: #f87d42;

font-family: Muli;

font-size: 15px;

font-weight: 900;

font-style: normal;

font-stretch: normal;

line-height: 1.25;

letter-spacing: normal;

text-align: center;

color: var(--white);

float: none;

position: absolute;
/* top: 50%; */
left: 50%;

transform: translate(-50%, -50%);

}

/* .adduserfont{
font-family: Muli;

font-size: 16px;

font-weight: 900;

font-style: normal;

font-stretch: normal;

line-height: 1.25;

letter-spacing: normal;

text-align: center;

color: var(--white);
} */


.mainlist a{

        width: 125px;
      
        height: 20px;
      
        font-family: Muli;
      
        font-size: 20px;
      
        font-weight: 800;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.25;
      
        letter-spacing: normal;
      
        text-align: left;
      
        color: #223e60;
}




.nav-tabs {

border-bottom: 0px solid #ddd;

}


#Rectangle-820 {
    width: 1144px;
    height: auto;
    border-radius: 5px;
    background-color: var(--white-grey);
  }
#div1 {
    width: 300px;
    height: 150px;;
    text-align: center;
    border: 1px #ccc solid;
    background: #ffffff;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;

    float: left;
    margin-right: 40px;
}
.div11 {
    width: 1068px;
    height: 75px;;
    text-align: center;
    border: 1px #ccc solid;
    background: #ffffff;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    line-height: 5px;
    float: left;
    margin-right: 40px;
}
/* table td{
    padding: 15px;
    margin: 5px;

    
  }  */
  
.div11 td{
  width: 33.333%;
}
.div11 td span{
  float: left;
}

p{
    color: #000000;
}
#Ellipse-261 {
    width: 85px;
    height: 85px;
    background-color: #ffc221;
  }
  #Rectangle-862 {
    width: 85px;
    height: 85px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #00b15f;
  }
  #Ellipse-262 {
    width: 85px;
    height: 85px;
    background-color: #ff7791;
  }
  #Rectangle-864 {
    width: 1068px;
    height: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
    padding: 0px;
    margin: 2px;
  }


  
  table tr td{
      text-align: center;
  }

  a:not([href]):not([tabindex]) {
     color: #223e60; 
     text-decoration: none; 
}


.modal-dialog {
  max-width: 25%;
  margin-top: 15%;
  margin-left: 40%;
}
.modal-content{
  border-radius: 20px;
}


.form-control ::placeholder{
  opacity: 0.31;

  font-family: Muli;

  font-size: 10px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.3;

  letter-spacing: normal;

  text-align: left;

  color: #a0a0a0;

}


.fromcontrol input{
  height: 35px;

  border-radius: 4px;

  border: solid 1px #e6e6e6;

  background-color: var(--white);
 }

 select.form-control:not([size]):not([multiple]) {
  height: 35px;
}

.modal-header{
  border-bottom: 0px;
  background: rgb(34, 79, 163);
  border-radius:15px;
  font-size:  16px;
}
.modal-body{
  padding:6%;
  // margin-top:5%;
}


.submitbtn{
  width: 145px;

  height: 36.8px;

  border-radius: 10px;

  background-color: var(--orange);

  font-family: Muli;

  font-size: 13px;

  font-weight: 900;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.23;

  letter-spacing: normal;

  text-align: center;

  color: var(--white);

}


.cancelbtn{
  width: 145px;

  height: 36.8px;

  border-radius: 10px;

  background-color:white;
  font-family: Muli;

  font-size: 13px;

  font-weight: 900;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.23;

  letter-spacing: normal;

  text-align: center;

  color: black;

}


.modal-content{
  border: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
}

.modal-footer{
  justify-content: center;
  // padding: 1rem;
border-top: 0px;
}


.form-control{
  margin-top:5%;
}



.modal-title{
  font-family: Muli;

  font-size: 15px;

  font-weight: 600;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.27;

  letter-spacing: normal;

  text-align: left;

  color: #b4b4b4; 
  margin-left: 30%;
  margin-top: 5%;
}


.sa-title{
  font-family: Muli;

  font-size: 15px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.27;

  letter-spacing: normal;

  text-align: left;

  color: #a8a8a8;
   
  margin-left:2%;
}

.PT20{
  padding-top: 20px !important;
}
/* Styles for tab labels */
.mat-tab-label {
  font-family: Muli;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  min-width: 90px !important;
  padding: 5px;
  background-color: transparent;
  color: var(--dark-slate-blue);;
  font-weight: 800;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 90px !important;
  padding: 5px;
  background-color: transparent;
  color:#223e60 ;  
  // height: 20px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #223e60 !important;
}

.tabbable {
  margin: 15px;
  height: 600 px!important;
  overflow: hidden;
  border-bottom: 1px solid #b9b9b9;
}

.nav-tabs {
  margin: 0;
}

.tab-content {
  padding: 15px;
  height: 90% !important; 
  border-left: 1px solid #b9b9b9  !important; 
  border-right: 1px solid #b9b9b9 !important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  border-color: #b9b9b9 !important;
  border-bottom-color: transparent !important;
color:#223e60!important;
}
.nav-tabs {
  border-bottom: 1px solid #b9b9b9 !important;

}
.nav-tabs>li> a{
  color:#b9b9b9 !important;
  font-size: 14px !important;
  font-family: Muli !important;
  font-weight: 800 !important;
}

// .flex-container {
//   display: flex;
//   width: 1068px;
//   height: 95px;;
//   text-align: center;
//   border: 1px #ccc solid;
//   background: #ffffff;
//   padding: 10px;
//   margin: 25px;
//   border-radius: 10px;
//   float: left;
//   margin-right: 40px;
//   font-size: 15px;

//  }
 
//  .flex-container > div {
  
//   padding: 5px;
//   font-size: 15px;
//  }




 .errorok{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left:10%;
  background-color: #f87d42;
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  float: none;    
 }


 .errormsg{
   margin-top:8%;
  //  margin-left: 20%;
   font-family: Muli;
  font-size: 20px;
  font-weight:400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
 }

 .errorcancel{
  width: 100px;
  height: 40px;
  border-radius: 10px;

  background-color:white;
  font-family: Muli;

  font-size: 13px;

  font-weight: 900;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.23;

  letter-spacing: normal;

  text-align: center;

  color: black; 
 }
 .btn-danger{
   border: 1px solid red;
   width: 40px;
  height: 30px;
  border-radius: 10px;
  background-color: red;
  color:#ffffff;
  font-weight: 600;
  font-size: 16px;
 }

 .t-form {
  display: flex;
  width: 95%;
  border: 1px #ccc solid;
  border-radius: 10px;
  margin: 25px 0;
  padding: 5px 0px;
 
}
#thead1{
  background-color: orange; 
  color: #ffffff;
  border:2px solid orange;
}
#tbody1{
  border:2px solid orange;
}
#thead2 {
  width: 100%;
  text-align: center;
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 75px;
  background-color: #f7f8f9;
  color: orange;
}
.asset-scroll{
  height: 500px;
  overflow-y: scroll;
}
#tbody2{
  width: 100%;
  height: 75px;
  // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #f7f8f9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
// th, td {
//   padding: 1em;

//   border-bottom: 2px solid white; 
// }

#tbody2 td {
  padding: 1em;
  border-bottom: 2px solid white; 
}
#thead2 td {
  padding: 1em;
  border-bottom: 2px solid white; 
}

table{
  width: 100%;
}