<div class="container">
    
    <div [@.disabled]="true">
      <mat-tab-group disableUnderline={true} dynamicHeight="true" [selectedIndex]="selectedTab">
        <mat-tab label="OVERVIEW">
          <ng-template *ngIf="tableshow;then showBlock; else notShowBlock">
          </ng-template>
  
          <div class="container-fluid PT10 " id="Rectangle-820">
            <div id="div1" (click)="getpendingauth()" [ngClass]="activeFlag===1?'activecard':'inactivecard'">
              <img src="../../../assets/images/icons8-rubber-stamp-64-2@2x.png"
                style="float:left;border-radius:50px;padding:20px;" id="Ellipse-261" height="20" width="20">
              <h2 style="font-size:5rem">{{pendingCountAuth}}</h2>
              <p style="font-size:14px;">PENDING AUTHORIZATIONS</p>
              <br>
            </div>
  
            <div id="div1" (click)="getpendingissues()" [ngClass]="activeFlag===2?'activecard':'inactivecard'">
              <img src="../../../assets/images/icons8-certificate-64.png"
                style="float:left;border-radius:50px;padding:20px;" id="Rectangle-862">
              <h2 style="font-size:5rem">{{pendingCountIssue}}</h2>
              <p style="font-size:14px;">PENDING ISSUES</p>
  
            </div>
  
            <div id="div1" (click)="getcertificatesRej()" [ngClass]="activeFlag===3?'activecard':'inactivecard'">
              <img src="../../../assets/images/icons8-file-delete-64.png"
                style="float:left;border-radius:50px;padding:20px;" id="Ellipse-262">
              <h2 style="font-size:5rem">{{pendingCountRejected}}</h2>
              <p style="font-size:14px;">CERTIFICATES REJECTED</p>
  
            </div>
            <br>
            <div *ngIf="showimg">
              <h3 style="text-align:center"> {{imgMessage}}</h3>
              <img src="../../../assets/images/SAoverviewempty2.png" style="margin-left: 35%;">
            </div>
  
            <!-- <div *ngIf="showimg">
              <img src="../../../assets/images/DoneIllus@4x.png" style="padding: 0px 100px 20px 350px;" />
            </div> -->
  
  
            <div *ngIf="display_pending_authorization">
                
              <h2>Pending Autherization</h2>
              <form>
                <div class="form-group">
              <select
                style="float:right; margin-top:-30px; margin-right: 55px;   width: 191px; height: 35px; border-radius: 5px; border: solid 1px #eaeaea; background-color: var(--white);"
                [(ngModel)]="pendingauthfilter" (change)="applyPendingfilter()" class="form-control">
                <option>Departments</option>
                <option *ngFor="let dep of deptnames">{{dep.name}}</option>
                <option>none</option>
              </select>
            </div>
          </form>
              <br>
              <!-- <h2 style="text-align:center">{{message}}</h2> -->
              <div class="col-md-12 asset-scroll" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"          
              [infiniteScrollContainer]="selector"
              [infiniteScrollDisabled]="scrollDisable"
              [fromRoot]="true"
              [scrollWindow]="false"
              (scrolled)="onPendingAuthScrollDown()"
              (scrolledUp)="onUp()">
              <table>
                <thead id="thead2">
                  <tr>
                    <td>Authorizer Email</td>
                    <td>Department</td>
                    <td>Count </td>
                  </tr>
                </thead>
                <tbody *ngFor="let pending1 of res1" id="tbody2">
                  <tr>
                    <td>{{pending1.authorizerEmail}}</td>
                    <td>{{pending1.department}}</td>
                    <td>{{pending1.count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
  
            <div *ngIf="display_pending_issued">
              <h2>Pending Issues</h2>
              <select
                style="float:right; margin-top:-30px; margin-right: 55px;   width: 191px; height: 35px; border-radius: 5px; border: solid 1px #eaeaea; background-color: var(--white);"
                [(ngModel)]='pedningissuesfilter' (change)='applyPendingIssuesfilter()'>
                <option>Departments</option>
                <option *ngFor="let dep of deptnames">{{dep.name}}</option>
                <option>none</option>
              </select><br>
              <!-- <h2 style="text-align:center">{{message1}}</h2> -->
              <div class="col-md-12 asset-scroll" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"          
              [infiniteScrollContainer]="selector"
              [infiniteScrollDisabled]="scrollDisable"
              [fromRoot]="true"
              [scrollWindow]="false"
              (scrolled)="onPendingIssuesScrollDown()"
              (scrolledUp)="onUp()">
              <table>
                <thead id="thead2">
                  <tr>
                    <td>Issuer Email</td>
                    <td>Department</td>
                    <td>Count</td>
                  </tr>
                </thead>
  
                <tbody *ngFor="let pending2 of res2" id="tbody2">
                  <tr>
                    <td>{{pending2.issuerEmail}}</td>
                    <td>{{pending2.department}}</td>
                    <td>{{pending2.count}}</td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
  
            <div *ngIf="display_certificate_rejected">
              <h2>Certificate Rejected</h2>
              <select
                style="float:right; margin-top:-30px; margin-right: 55px;   width: 191px; height: 35px; border-radius: 5px; border: solid 1px #eaeaea; background-color: var(--white);"
                [(ngModel)]='certsrejectedfilter' (change)='rejectedfilter()'>
                <option>Departments</option>
                <option *ngFor="let dep of deptnames">{{dep.name}}</option>
                <option>none</option>
              </select><br>
              <!-- <h2 style="text-align:center">{{message2}}</h2> -->
              <div class="col-md-12 asset-scroll" infiniteScroll
              [infiniteScrollDistance]="2"
              [infiniteScrollThrottle]="50"          
              [infiniteScrollContainer]="selector"
              [infiniteScrollDisabled]="scrollDisable"
              [fromRoot]="true"
              [scrollWindow]="false"
              (scrolled)="onRejetedScrollDown()"
              (scrolledUp)="onUp()">
              <table>
                <thead id="thead2">
                  <tr>
                    <td>Authorizer Email</td>
                    <td>Department</td>
                    <td>Count</td>
                  </tr>
                </thead>
                <tbody *ngFor="let pending3 of authRejection" id="tbody2">
                  <tr>
                    <td>{{pending3.authorizerEmail}}</td>
                    <td>{{pending3.department}}</td>
                    <td>{{pending3.count}}</td>
                  </tr>
                </tbody>
              </table>
              </div>
  </div>
            </div>
        </mat-tab>
        <mat-tab label="ORGANIZATION">
          <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active" ><a data-toggle="tab" href="#tab3">DEPARTMENT</a></li>
              <li class="" (click)="getIssuers();"><a data-toggle="tab" href="#tab1">ISSUER</a></li>
              <li class="" (click)="getAuthorizers();"><a data-toggle="tab" href="#tab2">AUTHORIZER</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab3" class="tab-pane active">
                    <table class="table table-hover superadmintables">
                      <thead id="thead3">
                        <tr>
                          <th scope="col">Dept Id</th>
                          <th scope="col">Department Name</th>                          
                          <th scope="col">Level Count </th>
                        </tr>
                      </thead>
                      <tbody id="tbody3">
                        <tr *ngFor="let dept of departments">
                            <td>{{dept['did']}}</td>
                            <td>{{dept['name']}}</td>
                            <td>{{dept['levels']}}</td>                          
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br><br>
                    <button class="adduserbtn" data-toggle="modal" data-target="#adddepartment">ADD NEW DEPARTMENT</button>
                    <br>
                    <br>
                  </div>
                  
  
              <div id="tab1" class="tab-pane">
                <table class="table table-hover superadmintables">
                  <thead >
                    <tr>
                      <th scope="col">Empid</th>
                      <th scope="col">Email</th>
                      <th scope="col">Department</th>
                      <th scope="col">Timestamp</th>
                      <th scope="col">Count</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let issuer of issuerresponse" (click)="getIndex(issuer)">
                      <td>{{issuer['iid']}}</td>
                      <td>{{issuer['email']}}</td>
                      <td>{{issuer['departments']}}</td>
                      <td>{{issuer['timestampp'] | date: 'medium'}}</td>
                      <td>{{issuer['issuesCount']}}</td>
                      <td><Button class="btn btn-danger" (click)="openissuermodal(issuer['iid'])">X</Button></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br><br>
                <button class="adduserbtn" data-toggle="modal" data-target="#addissuer">ADD NEW ISSUER</button>
                <br>
                <br>
              </div>
              <div id="tab2" class="tab-pane">
                <table id="example1" class="table table-hover superadmintables">
                  <thead >
                    <tr>
                      <th scope="col">Empid</th>
                      <th scope="col">Email</th>
                      <th scope="col">Timestamp</th>
                      <th scope="col">Rejected Count</th>
                      <th scope="col">Signed Count</th>
                      <th></th>
                  </thead>
                  <tbody >
                    <tr *ngFor="let authorizer of authorizerresponse">
                      <td>{{authorizer['aid']}}</td>
                      <td>{{authorizer['email']}}</td>
                      <td>{{authorizer['timestampp'] | date: 'medium'}}</td>
                      <td>{{authorizer['rejectedCount']}}</td>
                      <td>{{authorizer['signedCount']}}</td>
                      <td><Button class="btn btn-danger" (click)="openauthmodal(authorizer['aid'])">X</Button></td>
                    </tr>
                  </tbody>
                </table><br>
                <br>
                <br>
                <button class="adduserbtn" data-toggle="modal" data-target="#addauth">ADD NEW
                  AUTHORIZER</button>
                <br>
                <br>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <br>
    <br>
  
  </div>
  
  
  <div class="modal fade" id="addissuer" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ADD NEW ISSUER</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">            
  <form #issuerForm="ngForm">
          <div class="form-group col-md-12">
            <select id="dept" class="form-control dropdown" [(ngModel)]="selectedoption" class="form-control"
              [multiple]="true"  name="depField" #depField="ngModel" required>
  
              <option value="">Department</option>
              <option *ngFor="let dept of deptnames" [value]="dept.name">{{dept.name}}</option>
            </select>
            <div *ngIf="depField.errors && (depField.dirty || depField.touched)">
              <div [hidden]="!depField.errors.required" style="color:red;">
                Field Mandatory
              </div>
            </div>
          </div>          
          <div class="form-group col-md-12">              
            <select id="ide" [(ngModel)]="selectedName" class="form-control"  name="countryField" #countryField="ngModel" required>
              <option value="" disabled selected>Select country</option>
              <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</option>
            </select>
           
            <div *ngIf="countryField.errors && (countryField.dirty || countryField.touched)">
              <div [hidden]="!countryField.errors.required" style="color:red;">
                Field Mandatory
              </div>
            </div>
          </div>
  
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="nameField" #nameField="ngModel"  placeholder="Name" [(ngModel)]="issuername" minLength="2" maxLength="25" pattern="[a-zA-Z]+" required/>
            <div *ngIf="nameField.errors && (nameField.dirty || nameField.touched)">
              <div [hidden]="!nameField.errors.required" style="color:red;">
                Field Mandatory
              </div>
              <div [hidden]="!nameField.errors.pattern || nameField.errors.required" style="color:red;">
                Please enter Valid Name
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Email ID" [(ngModel)]="email"  name="emailField" #emailField="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
            <div *ngIf="emailField.errors && (emailField.dirty || emailField.touched)">
              <div [hidden]="!emailField.errors.required" style="color:red;">
                Field Mandatory
              </div>
              <div [hidden]="!emailField.errors.pattern || emailField.errors.required" style="color:red;">
                Please enter Valid Email
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="role" placeholder="ISSUER" [(ngModel)]="role" disabled>
          </div>
          </form>
        </div>
        <div class="modal-footer">
  
          <button class="submitbtn" data-dismiss="modal" [disabled]="!issuerForm.form.valid" (click)="onsubmitIssuer()">DONE</button>
          <button class="cancelbtn" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
  
    </div>
  </div>
  <!-- Add New Department popup-->
  <div class="modal fade" id="adddepartment" role="dialog">
      <div class="modal-dialog">
    
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">ADD NEW DEPARTMENT</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <div class="modal-body">
        <form [formGroup]=addDeptForm>
            <div class="form-group">
                <label for="text">Department Name</label>
                <input type="text" class="form-control" formControlName="branch" [(ngModel)]="branch" placeholder="enter department name" required>
                <div
                *ngIf="addDeptForm.controls.branch.invalid && (addDeptForm.controls.branch.dirty || addDeptForm.controls.branch.touched)">
                <div *ngIf="addDeptForm.controls.branch.errors?.pattern">
                  <span style="color:red">Please enter valid Department</span>
                </div>
                <div *ngIf="addDeptForm.controls.branch.errors?.required">
                  <span style="color:red">Field Mandatory</span>
                </div>
              </div>
              </div>              
            </form>
          </div>
          <div class="modal-footer">
    
            <button class="submitbtn" data-dismiss="modal" (click)="createDepartment()" [disabled]="addDeptForm.invalid">DONE</button>
            <button class="cancelbtn" data-dismiss="modal">CANCEL</button>
          </div>
        </div>
    
      </div>
    </div>
  
  
  <!-- end of Add New Department popup-->
  
  <div class="modal fade" id="addauth" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ADD NEW AUTHORIZER</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
  <form #authForm="ngForm">
          <div class="form-group col-md-12">
  
            <select id="ide1" [(ngModel)]="selectedName1" class="form-control"  name="authcountryField" #authcountryField="ngModel" required>
              <option value="" disabled selected>Select country</option>
              <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}</option>
            </select>
            <div *ngIf="authcountryField.errors && (authcountryField.dirty || authcountryField.touched)">
              <div [hidden]="!authcountryField.errors.required">
                Field Mandatory
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="authName" name="authname" #authname="ngModel"  minLength="2" maxLength="25" pattern="[a-zA-Z]+" required>
            <div *ngIf="authname.errors && (authname.dirty || authname.touched)">
              <div [hidden]="!authname.errors.required" style="color:red;">
                Field Mandatory
              </div>
              <div [hidden]="!authname.errors.pattern || authname.errors.required" style="color:red;">
                Please enter Valid Name
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control"  name="authemailField" #authemailField="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required placeholder="Email ID" [(ngModel)]="authid">
            <div *ngIf="authemailField.errors && (authemailField.dirty || authemailField.touched)">
              <div [hidden]="!authemailField.errors.required" style="color:red;">
                Field Mandatory
              </div>
              <div [hidden]="!authemailField.errors.pattern || authemailField.errors.required" style="color:red;">
                Please enter Valid Email
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="text" class="form-control" name="role" [(ngModel)]="authrole" placeholder="Authorizer" disabled>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button class="submitbtn" data-dismiss="modal" [disabled]="!authForm.form.valid" (click)="onsubmitAuthorizer()">DONE</button>
          <button class="cancelbtn" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
  
    </div>
  </div>
  
  
  <script>
    function change() {
      document.getElementById('change1').style.cssText = 'text-decoration:underline';
    }
  </script>
  
  <!-- Error message popup -->
  <app-dialog [(visible)]="ErrorModal">
    <div class="popup_dialouge poup_edit">
      <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close"
          class="dialog__close-btn">X</button></h5>
      <form #docKycPaymentForm="ngForm">
        {{errorMessage}}
        <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
      </form>
    </div>
  </app-dialog>
  
  
  <app-dialog [(visible)]="AuthSuccessModal">
    <div class="popup_dialouge poup_edit">
      <h5>Success!<button aria-label="Close" (click)="closeAuthSuccessModal()" class="dialog__close-btn">X</button></h5>
      <!-- <form #logform="ngForm"> -->
      <p class="errormsg">Authorizer Registered Successfully</p><br>
      <p>Assign Authorizer to a Department</p>
      <!-- </form> -->
      <div class="modal-footer">
        <button class="errorok" routerLink="/settings" [routerLinkActive]="['router-link-active']">Assign</button>
      </div>
    </div>
  </app-dialog>
  
  
  
  
  
  
  <app-dialog [(visible)]="AlertModal">
    <div class="popup_dialouge poup_edit">
      <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <!-- <form #logform="ngForm"> -->
      <p class="errormsg">{{alertmsg}}</p>
      <!-- </form> -->
      <div class="modal-footer">
        <button class="errorok" (click)="closeAlertModal()">OK</button>
      </div>
    </div>
  </app-dialog>
  
  
  <app-dialog [(visible)]="IssuerModal">
    <div class="popup_dialouge poup_edit">
      <h5>Alert!<button aria-label="Close" (click)="closeIssuerModal()" class="dialog__close-btn">X</button></h5>
      <!-- <form #logform="ngForm"> -->
      <p class="errormsg">Are you sure you want to remove issuer with id:{{issuerid}}</p>
      <!-- </form> -->
      <div class="modal-footer">
        <button class="errorok" (click)="issuerremove(issuerid);closeIssuerModal()">REMOVE</button>
        <button class="errorcancel" (click)="closeIssuerModal()">CANCEL</button>
      </div>
    </div>
  </app-dialog>
  
  <app-dialog [(visible)]="AuthModal">
    <div class="popup_dialouge poup_edit">
      <h5>Alert!<button aria-label="Close" (click)="closeAuthModal()" class="dialog__close-btn">X</button></h5>
      <!-- <form #logform="ngForm"> -->
      <p class="errormsg">Are you sure you want to remove authorizer with id:{{authorizerid}}</p>
      <!-- </form> -->
      <div class="modal-footer">
        <button class="errorok" (click)="authremove1(authorizerid);closeAuthModal()">REMOVE</button>
        <button class="errorcancel" (click)="closeAuthModal()">CANCEL</button>
      </div>
    </div>
  </app-dialog>
  
  
  
  
  
  
  
  
         