<div class="container-fluid" style="font-size:1.5rem !important;">
  <div class="container-fluid" id="Rectangle-820">
    <div id="div1" [ngClass]="activeFlag===1?'active':'inactive'" (click)=getPendingCerts()>
      <img src="../../../assets/images/icons8-rubber-stamp-64-2.png" style="float:left;padding: 20px"
        id="Ellipse-yellow">
      <h2 style="font-size:5rem">{{pendingCount}}</h2>
      <p style="font-size:14px;">PENDING ISSUES</p>
    </div>

    <div id="div1" [ngClass]="activeFlag===2?'active':'inactive'" (click)=getRejectedCerts()>
      <img src="../../../assets/images/icons8-file-delete-64.png" style="float:left;padding: 20px" id="Ellipse-pink">
      <h2 style="font-size:5rem">{{rejectedCount}}</h2>
      <p style="font-size:14px;">CERTIFICATES REJECTED</p>
    </div>

    <div id="div1" [ngClass]="activeFlag===3?'active':'inactive'" (click)=getIssuedCerts()>
      <img src="../../../assets/images/Mask Group 6.png" style="float:left;padding: 25px" id="Ellipse-green">
      <h2 style="font-size:5rem">{{issuedCount}}</h2>
      <p style="font-size:14px;">CERTIFICATE ISSUED</p>
    </div>
    <!-- <p><button type="button" data-toggle="modal" data-target="#adduser" class="registeremployeebtn"><span><img
            src="../../../assets/img/employee/employee1.svg"></span>&nbsp;&nbsp;Register User</button></p> -->

    <div *ngIf="showimage">
      <p class="ZeroCertsText">{{imgMessage}}</p><br>
      <img src="../../../assets/images/ZeroCerts.png" style="margin-left:34%; " />     
      <div class="container">
        <input type="button" value="INITIATE CERTIFICATE" (click)="navigatetocert()" style="font-size:16px; color:#ffffff" class="issuecertbtn">
      </div>
    </div>

    <!-- <div *ngIf="showimage">
       <h2 style="text-align:center">OOPS!! Nothing to Display!!</h2> 
       <img src="../../../assets/images/DoneIllus@4x.png" style="padding: 0px 100px 20px 350px;"/>   
       <div class="container">
          <input type="button" value="INITIATE CERTIFICATE" (click)="navigatetocert()" style="font-size:16px; color:#ffffff" class="issuecertbtn">
        </div>                        
      </div> -->

    <div *ngIf="display_pending_issues">
      <div class="container">
        <h2>PENDING ISSUES</h2>
        <form>
          <div class="form-group">
        <select
        style="float:right; margin-top:-30px; margin-right: 55px;  width: 191px;height: 35px;border-radius: 5px;border: solid 1px #eaeaea;background-color: var(--white);" [(ngModel)]='pendingissuesfilter' (change)='applyPendingfilter()' class="form-control">
        <option class="selected">Departments</option>
    <option *ngFor="let dep of issuerdepartments">{{dep}}</option>
    <option>none</option>
      </select>
    </div>
  </form><br>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width:20%;border-radius:12px;background-color: orange;">

          </div>
        </div>
      </div>
      <div class="col-md-12 asset-scroll" infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"          
      [infiniteScrollContainer]="selector"
      [infiniteScrollDisabled]="scrollDisable"
      [fromRoot]="true"
      [scrollWindow]="false"
      (scrolled)="onPendingIssuesScrollDown()"
      (scrolledUp)="onUp()">
          <table style="width:100% !important;">
              <thead>
              <tr>
                  <td><input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll('pending');"/></td>
                  <td><strong>DEPARTMENT</strong> </td>
                  <td>CERTIFICATE ID</td>
                  <td>ISSUER ID</td>
                  <td>STUDENT NAME</td>
                  <td> </td>
                  <td> </td>
              </tr>
            </thead>
            <tbody *ngFor="let cert of pendingList">
              <tr>
              <td><input type="checkbox" [(ngModel)]="cert.selected" (change)="checkIfAllSelected('pending');" class="pending" /></td>
              <td>{{cert.departmentName}}</td>
              <td>{{cert.pid}}</td>
              <td>{{cert.iid}}</td>
              <td>{{cert.receipientName}}</td>
              <td><ol class="wizard-progress clearfix">
                  <li class="active-step">                        
                      <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                      <span class="step-name">
                        initiated
                      </span>
                  </li>
                  <li class="signed-step" *ngFor="let auth of authStatus">                       
                    <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                    <span class="step-name">{{auth.level}}</span>
                </li>
                  <li>                        
                      <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                      <span class="step-name">Issuer</span>
                  </li>
              </ol></td>
              <td> <input type="button" data-toggle="modal" data-target="#finalissuepopup" (click)="getpid(cert.pid)" value="Issue" class="viewtable"></td>        
              </tr>
            </tbody>

          </table>
          </div><br>
            <input type="button" value="FINAL ISSUE" (click)="bulkissue()" data-toggle="modal" data-target="#bulkissuepopup"   style="font-size:16px; color:#ffffff" class="issuecertbtn">
  <!-- <div class="container">
        <input type="button" value="INITIATE CERTIFICATE" (click)="navigatetocert()" style="font-size:16px; color:#ffffff" class="issuecertbtn">
      </div> -->
    </div>

    <div *ngIf="display_rejected">
      <div class="container">
        <h2>CERTIFICATES REJECTED</h2>
        <form>
          <div class="form-group">
        <select
        style="float:right; margin-top:-30px; margin-right: 55px;  width: 191px;height: 35px;border-radius: 5px;border: solid 1px #eaeaea;background-color: var(--white);" [(ngModel)]='certsrejectedfilter' (change)='applyRejectedfilter()' class="form-control">
        <option>Departments</option>
    <option *ngFor="let dep of issuerdepartments">{{dep}}</option>
    <option>none</option>
      </select>
    </div>
  </form><br>
    </div>
    <div class="col-md-12 asset-scroll" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"          
    [infiniteScrollContainer]="selector"
    [infiniteScrollDisabled]="scrollDisable"
    [fromRoot]="true"
    [scrollWindow]="false"
    (scrolled)="onRejectedIssuesScrollDown()"
    (scrolledUp)="onUp()">
        <table style="width:100% !important; ">
            <thead>
                  <tr>
                      <!-- <td><input type="checkbox" [(ngModel)]="selectedRejectedAll" id="cc" (change)="selectAll('rejected');"></td> -->
                      <td> <strong>DEPARTMENT</strong> </td>
                      <td>CERTIFICATE ID</td>
                      <td>STUDENT NAME </td>
                      <td>  </td> 
                      <td></td>   
                  </tr>
                </thead><br>
                <tbody *ngFor="let cert of authRejection">
                
                  <tr>
                  <!-- <td><input type="checkbox" [(ngModel)]="cert.selected" (change)="checkIfAllSelected('rejected');" ></td> -->
                  <td>{{cert.departmentName}}</td>
                  <td>{{cert.pid}}</td>
                  <td>{{cert.receipientName}}</td>
                  <td><ol class="wizard-progress clearfix">
                      <li class="active-step">                        
                          <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                          <span class="step-name">
                            initiated
                          </span>
                      </li>
                      <li [ngClass]="{'signed-step':auth.status=='signed','unsigned-step':auth.status=='unsigned','rejected-step':auth.status=='rejected'}" *ngFor="let auth of cert.authStatus">                       
                        <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                        <span class="step-name">{{auth.level}}</span>                        
                    </li>
                      <li>                        
                          <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                          <span class="step-name">Issuer</span>
                      </li>
                  </ol></td>
                  <td></td>
                  </tr>
                  </tbody>
                  </table>
                  </div><br>
        <input type="button" value="INITIATE CERTIFICATE" (click)="navigatetocert()" style="font-size:16px; color:#ffffff" class="issuecertbtn">
   </div> 

    <div *ngIf="display_issued">
        <div class="container">
      <h2>CERTIFICATES ISSUED</h2>
      <form>
        <div class="form-group">
      <select
      style="float:right; margin-top:-30px; margin-right: 55px;  width: 191px;height: 35px;border-radius: 5px;border: solid 1px #eaeaea;background-color: var(--white);" [(ngModel)]='certsissuedfilter' (change)='applyIssuedfilter()' class="form-control">
      <option>Departments</option>
  <option *ngFor="let dep of issuerdepartments">{{dep}}</option>
  <option>none</option>
    </select>
  </div>
</form>
  </div>
  <div class="col-md-12 asset-scroll" infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"          
  [infiniteScrollContainer]="selector"
  [infiniteScrollDisabled]="scrollDisable"
  [fromRoot]="true"
  [scrollWindow]="false"
  (scrolled)="onIssuedScrollDown()"
  (scrolledUp)="onUp()">
       
              <table style="width:100% !important;">
                <thead>
                  <tr>
                      <!-- <td><input type="checkbox" [(ngModel)]="selectedIssuedAll"></td> -->
                      <td><strong>DEPARTMENT</strong> </td>
                      <td>CERTIFICATE ID</td>
                      <td>STUDENT NAME </td>
                      <td> </td>
                  </tr>
                  </thead>
                  <tbody *ngFor="let cert of AuthIssued">
                  <tr>
                  <td>{{cert.departmentName}}</td>
                  <td>{{cert.pid}}</td>
                  <td>{{cert.receipientName}}</td>
                  <td><ol class="wizard-progress clearfix">
                      <li class="active-step">                        
                          <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                          <span class="step-name">
                            initiated
                          </span>
                      </li>
                      <li class="signed-step" *ngFor="let auth of cert.authStatus">                       
                        <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                        <span class="step-name">{{auth.level}}</span>
                    </li>   
                      <li class="active-stepIssued">                        
                          <span class="visuallyhidden">Step </span><span class="step-num">&nbsp;</span>
                          <span class="step-name">Issuer</span>
                      </li>
                  </ol>
                  </td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  <br>
                
        <input type="button" value="INITIATE CERTIFICATE" (click)="navigatetocert()" style="font-size:16px; color:#ffffff" class="issuecertbtn">

     </div> 

</div>
</div>
     <app-dialog [(visible)]="BulkModal">
      <div class="popup_dialouge poup_edit">
      <h5>Alert!<button aria-label="Close" (click)="closeBulkModal()" class="dialog__close-btn">X</button></h5>
          <p class="errormsg" style='color: green' *ngIf="displaysuccess" >{{successmsg}}</p><br>
          <p class="errormsg" style="color: red" *ngIf="displayfailure">{{failuremsg}}</p>
       <div class="modal-footer"> 
          <button class="errorok" (click)="closeBulkModal()">OK</button>
      </div> 
    </div>
    </app-dialog>


<app-dialog [(visible)]="AlertModal">
  <div class="popup_dialouge poup_edit">
  <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">{{alertmsg}}</p>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closeAlertModal()">OK</button>
  </div> 
</div>
</app-dialog>


  <div class="modal fade" id="finalissuepopup" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
    
      <div class="modal-content">
          <div class="modal-header">
             

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
           <div class="modal-body">
            
              <div class="form-group col-md-12">
                  <h4>ENTER YOUR PASSPHRASE</h4>
                <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" type="password" name="secretkey"  #secretkey="ngModel" required placeholder="Enter Your Passphrase" [(ngModel)]="passphrase">
                    <div *ngIf="secretkey.errors && (secretkey.dirty || secretkey.touched)">
                      <div [hidden]="!secretkey.errors.required" style="color:red;">
                        Field Mandatory
                      </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <button class="submitbtn"  data-dismiss="modal" (click)="finalissuecert()" [disabled]="secretkey.errors">FINAL ISSUE</button>
              <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
          </div>

          
        </div>  
      </div>
    </div>


    <div class="modal fade" id="bulkissuepopup" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
      
        <div class="modal-content">
            <div class="modal-header">
               
  
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
             <div class="modal-body">
              
                <div class="form-group col-md-12">
                    <h4>ENTER YOUR PASSPHRASE</h4>
                  <!-- <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;"> -->
                  </div>
                  <div class="form-group col-md-12">
                      <input type="text" class="form-control" type="password"  name="finalsecret" #finalsecret="ngModel" required placeholder="Enter Your Passphrase" [(ngModel)]="finalpassphrase">
                      <div *ngIf="finalsecret.errors && (finalsecret.dirty || finalsecret.touched)">
                        <div [hidden]="!finalsecret.errors.required" style="color:red;">
                          Field Mandatory
                        </div>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button class="submitbtn"  data-dismiss="modal" (click)="bulkfinalissue()" [disabled]="finalsecret.errors">FINAL ISSUE</button>
                <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
            </div>
          </div>
          
        </div>
      </div>
  
    <!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
  <div class="popup_dialouge poup_edit">
    <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
    <form #docKycPaymentForm="ngForm">
      {{errorMessage}}
      <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
  </form>
  </div>
</app-dialog>