<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <table>
            <tr >
                        <td><img src="../../../../assets/img/account.jpg" style="border-radius:50px; margin-left:70%; margin-top: -10rem;"></td>
                
                        <p style="color:#ffffff;margin-left:-35%; margin-top: 60%;font-family:'Muli';">{{email}}</p>
                        <p style="color:#ffffff;margin-left:-20%; font-family:'Muli';">{{role | uppercase}}</p>
                        <p style="color:#ffffff;margin-left:-5%;font-family:'Muli';">{{balance}} Bels</p>
                        <p *ngIf="displayorganisation" style="color:#ffffff;margin-left:-5%;">{{organization | uppercase}}</p>

                    </tr>
                    <tr  *ngFor="let item of menuItems">
                            <!-- <td align="center"> <img src="../../../../assets/images/{{item.iconName}}"></td> -->
                            <td align="center" colspan="2">
                                    
                                    <a  routerLink="{{item.link}}" [routerLinkActive]="['router-link-active']"
                                        class="list-group-item" [class.disabled]="item.disabled ? true : null">
                                        <img src="../../../../assets/images/{{item.iconName}}" class="imgIcon">&nbsp;
                                        {{item.displayName}}
                                    </a>
                                </td>
                            </tr>

            <tr>
                <!-- <td align="center">
                    <img src="../../../../assets/img/logout.svg">
                </td> -->
                <td align="center" colspan="2">
                    <a class="list-group-item" (click)=logout()>
                        <img src="../../../../assets/img/logout.png" class="imgIcon">&nbsp;&nbsp;
                        Logout
                    </a>
                </td>
            </tr> 

        </table>
    </div>

</nav>
