
<div class="container" style="background-color: #ffffff; background: #ffffff;">
  <p style="text-align: center;font-size: 16px;margin-top:60px;">Congratulations! you just got a new wallet on the Belrium network</p>
  <div>
      <img src="../../../assets/img/walletbackground0.jpg" style="margin-left:23%;" alt="walletbackground image">
  </div>
  <div class="wallet" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <img src="../../../assets/img/logo 1.png" style="margin-left:-60%;width:120px;">
  <br><br><br><br><br>
  
  <h4><span style="margin-left: 0%;font-size: 16px;"><b>Wallet Balance</b></span><span style="margin-left: 33%;font-size: 16px;"><b>DAPP Balance</b></span></h4>
  <h4><span style="margin-left: 0%;font-size: 16px;"><b>{{balance}}</b></span><span style="margin-left: 55%;font-size: 16px;"><b>0</b></span></h4>
<p style="margin-top: 5%;font-size: 18px;font-family: 'Muli'; font-weight:700;">{{walletadress}}</p>
  <h4 style="margin-top: 9%"><span style="margin-left: 0%;font-size: 16px;"><b>Valid Through</b></span>&nbsp;&nbsp;&nbsp;<span style="margin-left: 0%;font-size: 16px;"><b>MM/YYYY</b></span><span style="margin-left:175px;margin-top:80px;"><img src="../../../assets/images/chip2.png" style="border-radius: 10px;"></span></h4>
  <h4 ><span style="margin-left: -50%;font-size: 16px;"><b></b></span><span style="margin-left: 23%;font-size: 16px;"><b>06/2020</b></span></h4>
</div>

</div>
<div class="col-12" style="margin-left:31%; padding-top:2% ">
  <div class="form-row" *ngIf="KycNotVerifiedUser">
<button type="button" class="btn btn-updatebalance" style="margin-left: 15%" routerLink="/kyc" [routerLinkActive]="['router-link-active']">VERIFY KYC </button>
  </div>
<div class="form-row" *ngIf="KycVerifiedNewUser"> 
<!-- <button type="button" class="btn btn-updatebalance" routerLink="/kyc" [routerLinkActive]="['router-link-active']" style="margin-left: 8%">VERIFY KYC </button>&nbsp;&nbsp;&nbsp;&nbsp; -->
<button type="button" class="btn btn-updatebalance"  style="margin-left: 15%" routerLink="/packages" [routerLinkActive]="['router-link-active']">BUY PACKAGE</button>
</div>
<div class="form-row" *ngIf="KycVerifiedSuperUser"> 
  <!-- <button type="button" class="btn btn-updatebalance" routerLink="/kyc" [routerLinkActive]="['router-link-active']" style="margin-left: 8%">VERIFY KYC </button>&nbsp;&nbsp;&nbsp;&nbsp; -->
  <button type="button" class="btn btn-updatebalance" data-toggle="modal" data-target="#packageexists" data-backdrop="static" data-keyboard="false" style="margin-left: 15%">RENEW PACKAGE</button>
  </div>
<!-- <button type="button" data-toggle="modal" data-target="#dappbal" data-backdrop="static" data-keyboard="false" class="btn btn-updatebalance" [ngStyle]="{'display':rechargebtn}">UPDATE BALANCE</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- <button type="button" data-toggle="modal" data-target="#recharge" data-backdrop="static" data-keyboard="false"  class="btn btn-recharge" >RECHARGE</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- <p id="p"><button class="regbtn" type="submit"  (click)="openModal()" [ngStyle]="{'display':dappregbtn}">DAPP REGISTER</button></p> -->

</div> <br><br><br>
<div style="margin-left:28%;">
<h3 style="margin-left: 8%;"><b>Note:</b></h3>
<ul>
  <li style="text-align:left;margin-left:10%;font-family:'Muli'">We have created a wallet for you with 2 BEL.</li>
  <li style="text-align:left;margin-left:10%;font-family:'Muli'">Your KYC must be verified before you proceed further.</li>  
 </ul>
</div>
</div>

<app-dialog [(visible)]="AlertModal">
  <div class="popup_dialouge poup_edit">
  <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">{{alertmsg}}</p>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closeAlertModal()">OK</button>
  </div> 
</div>
</app-dialog>



<app-dialog [(visible)]="RechargeSuccess">
  <div class="popup_dialouge poup_edit">
  <h5>Success!!<button aria-label="Close" (click)="closeRechargeModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">Recharge Successful</p>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closeRechargeModal()">OK</button>
  </div> 
</div>
</app-dialog>

<app-dialog [(visible)]="dappregsteps">
  <div class="popup_dialouge poup_edit">
  <h5>Dapp Register Steps!<button aria-label="Close" (click)="closedappStepsModal()" class="dialog__close-btn">X</button></h5>
  <ul style="text-align:left; margin-left:6%; margin-top:15px;">
    <li style="list-style:none;font-family:'Muli'">1.Enter your Organisation details</li>
    <li style="list-style:none;font-family:'Muli'">2.Register a Dapp</li>
   <li style="list-style:none;font-family:'Muli'" >3.Set up Your Organisation</li>
   </ul>
   <div class="modal-footer"> 
      <button class="errorok" (click)="closedappStepsModal()">OK</button>
  </div> 
</div>
</app-dialog>



<app-dialog [(visible)]="dappRegMandatoryModal">
    <div class="popup_dialouge poup_edit contentalign">
    <h5>Dapp Register Mandatory Steps<button aria-label="Close" (click)="closeMandatoryModal()" class="dialog__close-btn">X</button></h5>
        <ul style="text-align:left; margin-left:6%; margin-top:15px;">
         <li style="list-style:none;font-family:'Muli'">1.Select a Package from the following.</li>
         <li style="list-style:none;font-family:'Muli'">2.Select a Payment Mode.</li>
        <li style="list-style:none;font-family:'Muli'" >3.Make the Payment.</li>

        <!-- <li style="list-style:none;font-family:'Muli'">1.Recharge your wallet to register a Dapp.</li>
        <li style="list-style:none;font-family:'Muli'" >2.For Registering a Dapp you need 50 Bels.</li>
        <li style="list-style:none;font-family:'Muli'">3.Goto settings and add departments and designations for authorizer levels</li>
        <li style="list-style:none;font-family:'Muli'">4.Add payslip fields for employees</li>
        <li style="list-style:none;font-family:'Muli'">5.For issuing a payslip you need to add issuer or Authorizer.</li>
        <li style="list-style:none;font-family:'Muli'">6.For adding an issuer or Authorizer you need atleast 5 Bels in your Dapp. </li>
        <li style="list-style:none;font-family:'Muli'">7.If your Dapp balance is less than 5 Bels update your Dapp Balance</li> -->
      </ul>
        <button class="errorok" (click)="closeMandatoryModal()">OK</button>
</div>
</app-dialog>


<app-dialog [(visible)]="kycMandatoryModal">
  <div class="popup_dialouge poup_edit contentalign">
  <h5>KYC Verification Steps<button aria-label="Close" (click)="closekycMandatoryModal()" class="dialog__close-btn">X</button></h5>
  <ul>     
     <li style="text-align:left;margin-left:10%;font-family:'Muli'">If you are an Employer you need to Register a Dapp with us.</li>    
    </ul>
     <!-- <div class="modal-footer">  -->
      <button class="errorok" (click)="closekycMandatoryModal()">OK</button>
      <br>
      <br>
  <!-- </div>  -->
</div>
</app-dialog>


<app-dialog [(visible)]="packageexists">
  <div class="popup_dialouge poup_edit contentalign">
  <h5>ALERT!<button aria-label="Close" (click)="closekycMandatoryModal()" class="dialog__close-btn">X</button></h5>
  <ul>     
     <li style="text-align:left;margin-left:10%;font-family:'Muli'"> Package Already in use </li>    
    </ul>
     <!-- <div class="modal-footer">  -->
      <button class="errorok" (click)="closekycMandatoryModal()">OK</button>
      <br>
      <br>
  <!-- </div>  -->
</div>
</app-dialog>


<div class="modal fade" id="dappbal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">UPDATE DAPP BALANCE</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
       <div class="modal-body">
<form #dappbalForm="ngForm">
        
          <div class="form-group col-md-12">
              
                <input type="text" class="form-control"  name="Wallet" placeholder="Wallet Address" [(ngModel)]="walletadress" name="walletField" pattern="[0-9a-zA-Z]+" maxlength="32" #walletField="ngModel" required [disabled]=true>
                <div *ngIf="walletField.errors && (walletField.dirty || walletField.touched)">
                  <div [hidden]="!walletField.errors.required">
                    Field Mandatory
                  </div>
                  <div [hidden]="!walletField.errors.pattern || walletField.errors.required">
                    Please enter Valid Wallet Address
                  </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input type="text" class="form-control"  name="amount" placeholder="Amount" [(ngModel)]="amount" name="amountField" pattern="[0-9]+" #amountField="ngModel" required>
                <div *ngIf="amountField.errors && (amountField.dirty || amountField.touched)">
                  <div [hidden]="!amountField.errors.required">
                    Field Mandatory
                  </div>
                  <div [hidden]="!amountField.errors.pattern || amountField.errors.required">
                    Please enter Valid Amount
                  </div>
                </div>
                <h6 class="note">Note:1 bel equals $7</h6>
              </div>

            <div class="form-group col-md-12">
              <input type="text" class="form-control"  name="passphrase" placeholder="Passphrase" [(ngModel)]="Passphrase" pattern="[a-zA-Z]+" name="passphraseField" #passphraseField="ngModel" required>
              <div *ngIf="passphraseField.errors && (passphraseField.dirty || passphraseField.touched)">
                <div [hidden]="!passphraseField.errors.required">
                  Field Mandatory
                </div>
                <div [hidden]="!passphraseField.errors.pattern || passphraseField.errors.required">
                  Please enter Valid Passphrase
                </div>
              </div>
            </div>
            </form>
      </div>
      <div class="modal-footer">
          <button class="submitbtn" [disabled]="!dappbalForm.form.valid" (click) ="update()">DONE</button>
          <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="recharge" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">RECHARGE WALLET</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
           <div class="modal-body">
            
              <div class="form-group col-md-12">
                <img style="margin-left:25%" src="../../../assets/img/walletrecharge.png" style="border-radius:15px;margin-left:24%;">
                </div>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="amount" name="rechargeAmount" pattern="[0-9]+" #rechargeAmount="ngModel" required>
                    <div *ngIf="rechargeAmount.errors && (rechargeAmount.dirty || rechargeAmount.touched)">
                      <div [hidden]="!rechargeAmount.errors.required">
                        Field Mandatory
                      </div>
                      <div [hidden]="!rechargeAmount.errors.pattern || rechargeAmount.errors.required">
                        Please enter Valid Amount
                      </div>
                    </div>
                  </div>
          </div>
          <div class="modal-footer">
              <button class="submitbtn" [disabled]="rechargeAmount.errors" (click)="recharge()">DONE</button>
              <button class="cancelbtn"  data-dismiss="modal">CANCEL</button>
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- dapp reg popup -->

<div class="backdrop" [ngStyle]="{'display':display1}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
        <!-- <div class="topsec">
              <img src="../../assets">
           </div> -->
           <h4 class="modal-title" style="margin-left: 8%">DAPP REGISTER</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button> -->
    
  </div>
  <div class="modal-body">
<form #dappregForm="ngForm">

      <div class="col-12">
       <input id="passphrase" name="dapppassphrase" placeholder="Enter Your Passphrase" 
    class="form-control here" [(ngModel)]="passphrase" pattern="[a-zA-Z]+" #dapppassphrase="ngModel" required>
    <!-- <div *ngIf="f.dapppassphrase.invalid && (f.dapppassphrase.dirty || f.dapppassphrase.touched)" class="formError">
      <div *ngIf="f.dapppassphrase.errors?.required">User Name is required</div>
      <div *ngIf="f.dapppassphrase.errors?.pattern">Please enter valid User Name </div>
  </div> -->
  </div>
  <div class="col-12">
    <input id="dappname" name="dappName" pattern="[a-zA-Z]+" #dappName="ngModel" required placeholder="DAPP Name" type="text"  
    class="form-control here" [(ngModel)]="dappname">

 </div>
 <div class="col-12">
  <textarea class="form-control" id="description" placeholder="Description"  rows="3" [(ngModel)]="description" pattern="[a-zA-Z]+" name="dappdesc" #dappdesc="ngModel" required></textarea>

</div>
<div class="col-12">
<input  id="company1" name="company" pattern="[a-zA-Z]+" #company="ngModel" required placeholder="organisation" type="text" 
 class="form-control here" [(ngModel)]="company1">
</div>
<div class="col-12">
  <span>{{dappregerror}}</span>
</div>
</form> 

</div>
  <div class="modal-footer">
   <button type="submit" class="submitbtn"  (click)="registerdapp()" >REGISTER</button>
  </div>
</div>
</div>
</div>
