.container{
  font-family: 'Muli';
  font-size: 16px;
}
.wallet {
  width: 466px;
  height: 263px;;
  text-align: center;
  border: 1px #ccc solid;
  padding: 10px;
  margin-top:-24%;
  border-radius: 18px;
  line-height: 5px;
  float: left;
  margin-left: 30%;
  background-image: url("../../../assets/img/walletfixbg4.png");
  opacity: 0.9;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 1px 1px 1px 1px #ccc;
  // font-family: Muli;
  font-family: 'Muli';
  font-size: large;
  color:#000000;
  font-style: #000000;

  
  // line-height: 1.25;
  letter-spacing: normal;
  // text-align: left;
  // color: var(--very-light-pink);  
}

// .btn-recharge {
//   width: 185px;
//   height: 45px;
//   border-radius: 10px;
//   background-color: var(--orange);
//   color:#ffffff;
//   border: 1px solid orange;
//   font-size: 13px;
// }
// .btn-updatebalance{
//   width: 185px;
//   height: 45px;
//   border-radius: 10px;
//   border: solid 1px #d8d8d8;
//   background-color: var(--white);  
//   font-size: 13px;    
// }

// .regbtn{
//   text-align: center;
//   margin:0 auto;
//   width: 185px;
//   height: 45px;
//   border-radius: 10px;
//   border: solid 1px #d8d8d8;
//   background-color: var(--white);  
//   font-size: 13px;  
// }

.btn-recharge {
  width: 130px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--orange);
  color:#ffffff;
  border: 1px solid orange;
  font-size: 13px;
 }
 .btn-updatebalance{
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #d8d8d8;
  background-color: var(--white);
  font-size: 13px;
 }
 
 .regbtn{
  text-align: center;
  margin:0 auto;
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #d8d8d8 ;
  background-color: var(--white);
  font-size: 13px;
  // color: #000000;
 }

#p{
  text-align: center;
}


//styles for popup

.modal-dialog {
max-width: 25%;
margin-top: 20%;
margin-left: 45%;
font-size:16px;
}
.modal-content{
border-radius: 20px;
font-size:16px;
}
.form-control{
  font-size:16px;
}


.form-control ::placeholder{
opacity: 0.31;

font-family: Muli;

font-size: 10px;

font-weight: bold;

font-style: normal;

font-stretch: normal;

line-height: 1.3;

letter-spacing: normal;

text-align: left;

color: #a0a0a0;

}


.fromcontrol input{
height: 35px;

border-radius: 4px;

border: solid 1px #e6e6e6;

background-color: var(--white);
}

select.form-control:not([size]):not([multiple]) {
height: 35px;
}

.modal-header{
border-bottom: 0px; 
font-size:16px;
background: rgb(34, 79, 163);
border-radius:15px;
}
.modal-body{
padding:6%;
font-size:16px;
// margin-top:5%;
}


.submitbtn{
width: 145px;

height: 36.8px;

border-radius: 10px;

background-color: var(--orange);

font-family: Muli;

font-size: 13px;

font-weight: 900;

font-style: normal;

font-stretch: normal;

line-height: 1.23;

letter-spacing: normal;

text-align: center;

color: var(--white);

}


.cancelbtn{
width: 145px;

height: 36.8px;

border-radius: 10px;

background-color:white;
font-family: Muli;

font-size: 13px;

font-weight: 900;

font-style: normal;

font-stretch: normal;

line-height: 1.23;

letter-spacing: normal;

text-align: center;

color: black;

}


.modal-content{
border: 0px;
box-shadow: 0 5px 15px rgba(0,0,0,.5);
font-size:16px; 
}

.modal-footer{
justify-content: center;
// padding: 1rem;
border-top: 0px;
font-size:16px;
}


.form-control{
margin-top:5%;
}



.modal-title{
font-family: Muli;

font-size: 15px;

font-weight: 600;

font-style: normal;

font-stretch: normal;

line-height: 1.27;

letter-spacing: normal;

text-align: left;

color: #b4b4b4; 
margin-left: 30%;
margin-top: 5%;
font-size:16px;


}


.note{

font-family: Muli;

font-size: 12px;

font-weight: bold;

font-style: italic;

font-stretch: normal;

line-height: 1.3;

letter-spacing: normal;

// text-align: center;

color: #a0a0a0;
}



.errorok{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  // margin-left:10%;
  background-color: #f87d42;
  font-family: Muli;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  float: none;    
 }


 .errormsg{
  margin-top:10%;
 //  margin-left: 20%;
  font-family: Muli;
 font-size: 20px;
 font-weight: 800;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.23;
 letter-spacing: normal;
 text-align: center;
}

.contentalign p{
  text-align: left;
}
.container{
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
}