.centre-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.user-select
{
    text-align: center;
    font-size:15px;
}
.card-select
{
   margin: 20px 20px;
    height: auto;
    border-radius: 12px;
    border: 1px #ccc solid;
    // background: #ffffff;
    padding: 25px;
    
    box-shadow: 5px 5px #ccc;
    width: 45%;
   
 
}
.card-select p{
    font-family:'Muli';
}
.gobutton{
    color: #ffffff;
    background: orange;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    margin-left: 38%;
    font-size: 20px;
 }