<div class="container" style="border-radius:15px; margin-top:10%; margin-left:33%">
  <div class="row">
    <div class="card-select" *ngFor="let dapps of assets" >
      <img class="centre-img" src="../../assets/img/logo 1.png" >
      <p class="user-select"><strong>Role:</strong> {{dapps['role']}}</p><br>
      <p class="user-select"><strong>Company:</strong> {{dapps['company']}}</p><br>
      <!-- <p class="user-select">{{dapps['name']}}</p><br> -->
      <p class="user-select"><strong>Asset Type:</strong> {{dapps['assetType']}}</p><br>
      <input type="button" value="Go" style="font-family:'Muli'; " (click)="getdappid(dapps)" class="gobutton">
    </div>
    <!-- <div class="card-select">
        <img class="centre-img" src="assets/img/belbooks-logo.svg">
        <p class="user-select"></p>
        <p class="user-select"></p>
        <p class="user-select"></p>
      </div> -->
      <!-- <div class="card-select">
          <img class="centre-img" src="assets/img/belbooks-logo.svg">
          <p class="user-select">Hello User</p>
        </div>
        <div class="card-select">
            <img class="centre-img" src="assets/img/belbooks-logo.svg">
            <p class="user-select">Hello User</p>
          </div> -->
  </div>
  <!-- <div class="row">
    <div class="card-select">
      <img class="centre-img" src="assets/img/belbooks-logo.svg">
      <p class="user-select">Hello User</p>
    </div>
    <div class="card-select">
        <img class="centre-img" src="assets/img/belbooks-logo.svg">
        <p class="user-select">Hello User</p>
      </div>
      <div class="card-select">
          <img class="centre-img" src="assets/img/belbooks-logo.svg">
          <p class="user-select">Hello User</p>
        </div>
        <div class="card-select">
            <img class="centre-img" src="assets/img/belbooks-logo.svg">
            <p class="user-select">Hello User</p>
          </div>
  </div>
  <div class="row">
    <div class="card-select">
      <img class="centre-img" src="assets/img/belbooks-logo.svg">
      <p class="user-select">Hello User</p>
    </div>
    <div class="card-select">
        <img class="centre-img" src="assets/img/belbooks-logo.svg">
        <p class="user-select">Hello User</p>
      </div>
      <div class="card-select">
          <img class="centre-img" src="assets/img/belbooks-logo.svg">
          <p class="user-select">Hello User</p>
        </div>
        <div class="card-select">
            <img class="centre-img" src="assets/img/belbooks-logo.svg">
            <p class="user-select">Hello User</p>
          </div>
  </div>
  <div class="row">
    <div class="card-select">
      <img class="centre-img" src="assets/img/belbooks-logo.svg">
      <p class="user-select">Hello User</p>
    </div>
    <div class="card-select">
        <img class="centre-img" src="assets/img/belbooks-logo.svg">
        <p class="user-select">Hello User</p>
      </div>
      <div class="card-select">
          <img class="centre-img" src="assets/img/belbooks-logo.svg">
          <p class="user-select">Hello User</p>
        </div>
        <div class="card-select">
            <img class="centre-img" src="assets/img/belbooks-logo.svg">
            <p class="user-select">Hello User</p>
          </div>
  </div> -->
</div>


<!-- Error message popup -->
<app-dialog [(visible)]="ErrorModal">
    <div class="popup_dialouge poup_edit">
      <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close" class="dialog__close-btn">X</button></h5>
      <form>
        {{errorMessage}}    
    </form>
    </div>
    </app-dialog>