/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

.dialog__close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup_dialouge h5{ 
    font-weight: 100;
    font-size: 20px;
    color: #000;
  }
  .popup_dialouge h5>span{font-weight: bold;}
  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{margin-left:0px !important; }
  .changepassword-btn{color:#fff !important;}
  .poup_edit h5{    background: #1b3764;
    margin: 0;
    padding: 20px;
    color: #fff;}
.poup_edit form{padding: 20px;}