<div class="home">
  <header class="bel-head">
    <nav class="navbar navbar-default">
      <div class="container-fluid bel-top">
        <div class="navbar-logo txt-ce">
          <img src="../../assets/img/logo 1.png" style="width:150px;">
        </div>
        <div class="bel-login">
          <ul>
            <li class="one"><a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">Login</a></li>
            <li class="two"><a [routerLink]="['/register']" [routerLinkActive]="['router-link-active']">Get Started</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="bel_dashboard_sec1">
    <div class="container-fluid pt-50">
      <div class="row nopadding landing-page">
        <div class="col-lg-6 col=md-6 col-sm-12 col-xs-12 nopadding landing-banner-2 pl-20">
          <img src="../../assets/img/CertificateBannerIllus.jpg">
        </div>
        <div class="col-lg-6 col=md-6 col-sm-12 col-xs-12 landing-banner-text">
          <h1 id='titleroll' style="font-size:50px;">&nbsp;</h1>
          <p style="font-size: 18px;">Whether you are an expert or a beginner. Belbooks is going to become the first
            platform which will faster
            all your needs in a simple, easy and intuitive way</p>
          <input type="text" class="form-control col-md-8 col-sm-6 " id="email" name="emailField" #emailField="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="email"
            size="10" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">

          <button class="btn btn-primary col-md-4 col-sm-6 " type="button" (click)="checkExists()" [disabled]="emailField.errors"
            style="background: #102654  ;color:#ffffff;">PROCEED</button>
          <br><br>
          <div *ngIf="emailField.errors && (emailField.dirty || emailField.touched)">
            <div [hidden]="!emailField.errors.required" style="color:red">
              Field Mandatory
            </div>
            <div [hidden]="!emailField.errors.pattern || emailField.errors.required" style="color:red">
              Please enter Valid Email
            </div>
          </div>
          <h6 style="padding-bottom:0px;padding-top: 0px; text-align:left; color:red" id="p1"></h6>
          <h5 style="font-size: 16px;">Already using BelCerts? <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" style="color:#f87d42;text-decoration: none;">
              Sign in </a></h5>

        </div>

      </div>
    </div>
  </section>
</div>