.home{
  font-size:18px;
  font-family: 'Muli';
}
.pt-50
{
  padding-top: 10rem;
}

.btn-outline-secondary{
  width: 168.7px;
  height: 47.4px;
  background-color: var(--dark-slate-blue);
}
.btn-primary{
  width: 168.7px;
  height: 47.4px;
  background-color: var(--dark-slate-blue);
  font-size: 16px;
  border-radius: 4px;

}
#titleroll
{
  margin-left: -11px;
}
.form-control{
  width: 335px;
  height: 47.4px;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
  background-color: var(--white);
  font-size:15px;
}
.bel-login a{
  margin: 25px;
  color: #8d8d8d;
  text-decoration: none;
  padding: 30px
}

.bel-top
{
  margin: 10px 0px;
}
.bel-head
{
  
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.navbar-default
{
  background-color: white !important;
}

ul li {
  display: inline;
  text-align: center;
}
.bel-login a:hover {
  border-bottom: 3px solid orange;
  color: orange

}
.pl-20
{
  text-align: center;
}


@media only screen and (min-width: 992px) {
  .landing-banner-2 img {
    width: 590px;
  }
  .navbar-logo
  {
    width: 50%;
  }
} 
@media only screen and (min-width: 768px) {
  .landing-banner-2 img {
    width: 450px;
  }
  .btn-primary
  {
    margin-top: 0 !important;
  }

} 
@media only screen and (min-width: 600px) {
  .landing-banner-2 img {
    width: 450px;
  }
  .btn-primary
  {
    margin-top: 2rem;
  }
  // .bel-login a{

  //   margin: 35px;
  // }
} 

@media only screen and (max-width: 600px) {
  .landing-banner-2 img {
    width: 350px;
  }
  .navbar-logo
  {
    width: 100%;
    text-align: center;
  }
  .bel-top
  {
    margin: 18px 0px;
  }
 
  .btn-primary
  {
    margin-top: 2rem;
  }
  .bel-login a{
    margin-top: 15px;
    margin: 25px;
  }
  
} 
