<!-- main app container -->
<div class="container-fluid" style="height:300% !important;position: fixed !important;width: 100% !important">
  <div class="row" style="height:100% !important;position: fixed !important;width: 100% !important">
    <div class="col-4 Ellipse-281">
      <img src="../../assets/img/logo 1.png" class="logoimage" style="width:250px;">
    </div>
    <div class="col-8 justify-content-center registerform" style="margin-top:70px;height: 100% !important;">
      <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10">
                <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Unversity Name</label>
                              <div class="input-container mb-3">
                                <input type="text" class="input-field" formControlName="universityName" placeholder="University Name">
                                <i class="fa fa-user icon" style="color:#a3a3a3;font-size: 22px;  "></i>
                              </div>                        
                            <!-- <div *ngIf="submitted && f.universityName.errors" class="formError"> -->
                                <div *ngIf="f.universityName.invalid && (f.universityName.touched || f.universityName.dirty)" class="formError">
                                <div *ngIf="f.universityName.errors?.required">University Name is required</div>
                                <div *ngIf="f.universityName.errors?.pattern">Please enter valid UniversityName </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Username</label>
                          <div class="input-container mb-3">
                            <input type="text" class="input-field" formControlName="userName" placeholder="Username">
                            <i class="fa fa-user icon" style="color:#a3a3a3;font-size: 22px;"></i>
                          </div>
                          
                            <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)" class="formError">
                                <div *ngIf="f.userName.errors?.required">User Name is required</div>
                                <div *ngIf="f.userName.errors?.pattern">Please enter valid User Name </div>
                            </div>
                        </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6 md-form">
                              <label for="inputEmail4">Admin Emailid</label>
                              <div class="input-container mb-3">
                                <input type="email" class="input-field" formControlName="AdminEmail" placeholder="Email" [disabled]="disableemail">
                                <i class="fa fa-at icon" style="color:#a3a3a3;font-size: 22px;  "></i>
                              </div>
                            <div *ngIf="f.AdminEmail.invalid && (f.AdminEmail.dirty || f.AdminEmail.touched)" class="formError">
                                <div *ngIf="f.AdminEmail.errors?.required">Email is required</div>
                                <div *ngIf="f.AdminEmail.errors?.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 md-form">
                          <label for="inputPassword4">Country</label>
                          <select id="ide" formControlName="country" class="form-control" (change)="onChangeCountry()"
                            style="font-size:13px;">
                            <option value="">Select country</option>
                            <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}
                            </option>
                          </select>
                          <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)" class="formError">
                            <span style="color:red">Country is required</span>
                          </div>
      
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 md-form">
                              <label for="inputEmail">Password</label>
                              <div class="input-container">
          
                                <input type="password" class="input-field" formControlName="password" placeholder="*********">
          
                                <i class="fa fa-lock icon" style="color:#a3a3a3;font-size: 22px;  "></i>
          
          
                              </div>
                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="formError">
                                <div *ngIf="f.password.errors?.required">Password is required</div>
                                <div *ngIf="f.password.errors?.pattern">Please enter valid Password which contains atleast one number, one special character, one character and between 8 to 14 length</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 md-form">
                          <label for="inputPassword">Confirm Password</label>
                          <div class="input-container">
      
                            <input type="password" class="input-field" formControlName="confirmpassword" placeholder="*********">
                            <i class="fa fa-lock icon" style="color:#a3a3a3; font-size: 22px;"></i>
      
                          </div>
                            <div *ngIf="f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched)" class="formError">
                                <div *ngIf="f.confirmpassword.errors?.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmpassword.errors?.MatchPassword">Password and Confirm Password doesn't match</div>
                            </div>
                        </div>
                      </div>
                        <div class="form-group">
                            <button  [disabled]="registerForm.pristine || registerForm.invalid"  type="submit"  class="btn submitbutton">Register</button>
                        </div>
                    </form>
              <br>
              <br>
              <div class="form-row" style="margin-left:25%;font-size:20px;">
                <label><span style="font-size:18px;">Already have an Account?</span></label>
                &nbsp;&nbsp;
                <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" style="color:#1b3764;color:#000000;font-size:16px;">Signin Here</a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
<app-dialog [(visible)]="AlertModal">
    <div class="popup_dialouge poup_edit">
      <h5>{{heading}}<button aria-label="Close" (click)="closeAlertModal()" class="dialog__close-btn">X</button></h5>
      <p class="errormsg">{{alertmsg}}</p>
      <div class="modal-footer">
        <button class="alertok" (click)="closeAlertModal()">OK</button>
      </div>
    </div>
  </app-dialog>
  
  <!-- Error message popup -->
  <app-dialog [(visible)]="ErrorModal">
    <div class="popup_dialouge poup_edit">
      <h5><span class="semi-bold">{{alertHead | uppercase}}</span><button (click)="closeErrorModal()" aria-label="Close"
          class="dialog__close-btn">X</button></h5>
      <form #docKycPaymentForm="ngForm">
        {{errorMessage}}
        <!-- <br><button class="buttonOK" (click)="closeErrorModal()">OK</button> -->
      </form>
    </div>
  </app-dialog>