.container-fluid{
    font-family: 'Muli';
    font-size: 16px;
  }
body{
    width: 100%;
    height: 100%;
}
.submitbutton{
    width: 185px;

    height: 45px;
    
    border-radius: 10px;
    margin-left: 30%;

    background-color: #f87d42;
        font-family: Muli;
        font-size: 17px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
        float: none;
        /* position: absolute; */
        /* top: 50%; */

        /* transform: translate(-50%, -50%); */

    }

.registerform label{
  
    font-family: Muli;
  
    font-size: 15px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.27;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #b4b4b4;
}

.registerform h5{

    width: 150px;

    height: 38px;
  
    font-family: Muli;
  
    font-size: 30px;
  
    font-weight: 800;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.27;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #4b4b4b;
}


.registerform input{
    /* padding: 0.388rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #F2F5F7;
    background-clip: padding-box;
    border: 0; */
    width: 320px;

    
    font-family: Muli;

    font-size: 17px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.24;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #6f6f6f;

    border: 0;

    border-bottom: 2px solid #b4b4b4;

    border-radius: 0;

    background: transparent;
}

.registerform ::placeholder{
    font-family: Muli;

    font-size: 16px;
  
    font-weight: 200;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.25;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #6f6f6f;
}
.registerform select{
    width: 75%;

    height: 40px;
  
    border-radius: 5px;
  
    background-color: var(--white);
}

.Ellipse-281 {
/* 
    width: 530px;
  
    height: 768px; */
  
    background-color: #f5f5f5;

    border-radius: 0 53% 53% 0;
  
  }

.input-group{
    width: 80%;
}
.logoimage{
    margin-bottom: -130%;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 75%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: white;
    color: black;
    min-width: 50px;
    text-align: center;
    border-bottom: 2px solid #a3a3a3;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border:none;
     border-bottom: 2px solid #a3a3a3;
  }
  
  .input-field:focus {
    border-bottom: 2px solid #a3a3a3;
  }


  .errorok{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left:10%;
    background-color: #f87d42;
    font-family: Muli;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    float: none;    
   }
  
  
   .errormsg{
    margin-top:10%;
   //  margin-left: 20%;
    font-family: Muli;
   font-size: 20px;
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.23;
   letter-spacing: normal;
   text-align: center;
  }

  .formError{
    color: red;
  }






  .alertok{
    width: 100px;
    height: 40px;
    margin-left: 38%;
    border-radius: 10px;
    background-color: #f87d42;
    font-family: Muli;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);    
   }
   .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
